<a href="https://colab.research.google.com/github/trinade96/Fortiate_Project/blob/master/DST_16(Random_Forest_Rules_Final).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### In this notebook we will be revisiting Mapper Plot and trying to look at customizations of it, in terms of orientation, colour and hopefully extract features of each node.

#####  **Packages Installed**

In [0]:
!pip install folium==0.2.1

Collecting folium==0.2.1
  Downloading https://files.pythonhosted.org/packages/72/dd/75ced7437bfa7cb9a88b96ee0177953062803c3b4cde411a97d98c35adaf/folium-0.2.1.tar.gz (69kB)
     |████████████████████████████████| 71kB 1.7MB/s
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from folium==0.2.1) (2.11.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->folium==0.2.1) (1.1.1)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py) ... done
  Created wheel for folium: filename=folium-0.2.1-cp36-none-any.whl size=79979 sha256=59acdd26059632bac976111f7459500fb8a6b83bd86fe05ba3ca777efd621cd5
  Stored in directory: /root/.cache/pip/wheels/b8/09/f0/52d2ef419c2aaf4fb149f92a33e0008bdce7ae816f0dd8f0c5
Successfully built folium
Installing collected packages: folium
  Found existing installation: folium 0.8.3
    Uninstalling folium-0.8.3:
      Successfully uninstalled folium-0.8.3
Successfully installed folium-0.2.1

In [0]:
!pip install coverage==3.7.1

Requirement already satisfied: coverage==3.7.1 in /usr/local/lib/python3.6/dist-packages (3.7.1)

In [0]:
!pip install pycm

Collecting pycm
  Downloading https://files.pythonhosted.org/packages/ee/f1/47adb10e9e0a112fe601645de8ff9174cd5ded8728ac8e720532ab78503c/pycm-2.7-py2.py3-none-any.whl (57kB)
     |████████████████████████████████| 61kB 364kB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pycm) (1.18.5)
Collecting art>=1.8
  Downloading https://files.pythonhosted.org/packages/22/dd/f7be08119239db50f80285444323e58c81d6443158ac5f8b401b3fedb4d0/art-4.7-py2.py3-none-any.whl (547kB)
     |████████████████████████████████| 552kB 2.2MB/s
Installing collected packages: art, pycm
Successfully installed art-4.7 pycm-2.7

In [0]:
!pip install scikit-tda

Collecting scikit-tda
  Downloading https://files.pythonhosted.org/packages/e2/67/14676df9d3c8fae3324f6a73e60e9b705c1dfea8131e275a313ab90bd09d/scikit_tda-0.0.3-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.18.5)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (7.0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.22.2.post1)
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.48.0)
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.29.19)
Collecting tadasets
  Downloading https://files.pythonhosted.org/packages/5b/06/d1b9edccfcd071b245b0d1ab4b22eb2ff7aaeaa6d015db58d701d9782122/tadasets-0.0.4-py3-none-any.whl
Collecting persim
  Downloading https://files.pythonhosted.org/packages/7b/51/792890ba036373977ca678eb675f45bd6f9bebfc93fa85d2b9047bde0432/persim-0.1.2-py3-none-any.whl
Requirement already satisfied: umap-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.4.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (3.2.1)
Collecting ripser
  Downloading https://files.pythonhosted.org/packages/4c/17/d5e898161eb8e3b1084419bfc04adbe87d15075daa8e236df72dbe75167e/ripser-0.4.1.tar.gz (79kB)
     |████████████████████████████████| 81kB 3.6MB/s
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.4.1)
Collecting kmapper
  Downloading https://files.pythonhosted.org/packages/fb/3f/a1290b9425a7e0ff4ae51a6e6ff68e50ad793b3460f435c2ec81c0383751/kmapper-1.2.0-py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 4.4MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->scikit-tda) (0.15.1)
Requirement already satisfied: llvmlite<0.32.0,>=0.31.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->scikit-tda) (0.31.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from numba->scikit-tda) (47.1.1)
Collecting hopcroftkarp
  Downloading https://files.pythonhosted.org/packages/6b/56/7b03eba3c43008c490c9d52e69ea5334b65955f66836eb4f1962f3b0d421/hopcroftkarp-1.2.5.tar.gz
Requirement already satisfied: tbb in /usr/local/lib/python3.6/dist-packages (from umap-learn->scikit-tda) (2020.0.133)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (0.10.0)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper->scikit-tda) (2.11.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->scikit-tda) (1.12.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper->scikit-tda) (1.1.1)
Building wheels for collected packages: ripser, hopcroftkarp
  Building wheel for ripser (setup.py) ... done
  Created wheel for ripser: filename=ripser-0.4.1-cp36-cp36m-linux_x86_64.whl size=421930 sha256=166237d636f323b0fe4508cc64df9001a6cc3458f8c9636b03825407e91b82a0
  Stored in directory: /root/.cache/pip/wheels/d4/12/da/56d55c3af62ebd5e0684d521f3e58c1a85ac312502c9e2d47d
  Building wheel for hopcroftkarp (setup.py) ... done
  Created wheel for hopcroftkarp: filename=hopcroftkarp-1.2.5-py2.py3-none-any.whl size=18092 sha256=c639d9d4897f87f94b9f36b6ac8a647907e7a253aef4079e5a675af1e35f1771
  Stored in directory: /root/.cache/pip/wheels/2b/e1/c9/1993c7f7f114b7d3fb2d3e895e02157a7ebf554861e9e54e01
Successfully built ripser hopcroftkarp
Installing collected packages: tadasets, hopcroftkarp, persim, ripser, kmapper, scikit-tda
Successfully installed hopcroftkarp-1.2.5 kmapper-1.2.0 persim-0.1.2 ripser-0.4.1 scikit-tda-0.0.3 tadasets-0.0.4

In [0]:
!pip install kmapper

Requirement already satisfied: kmapper in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper) (2.11.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from kmapper) (0.22.2.post1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->kmapper) (0.15.1)

In [0]:
!pip install python-igraph

Collecting python-igraph
  Downloading https://files.pythonhosted.org/packages/8b/74/24a1afbf3abaf1d5f393b668192888d04091d1a6d106319661cd4af05406/python_igraph-0.8.2-cp36-cp36m-manylinux2010_x86_64.whl (3.2MB)
     |████████████████████████████████| 3.2MB 2.5MB/s
Collecting texttable>=1.6.2
  Downloading https://files.pythonhosted.org/packages/ec/b1/8a1c659ce288bf771d5b1c7cae318ada466f73bd0e16df8d86f27a2a3ee7/texttable-1.6.2-py2.py3-none-any.whl
Installing collected packages: texttable, python-igraph
Successfully installed python-igraph-0.8.2 texttable-1.6.2

##### **Packages Used**

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import kmapper as km
import sklearn
import time
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
import pycm
from pycm import *
from sklearn.cluster import DBSCAN
from sklearn import ensemble
from sklearn.decomposition import PCA
#from sklearn import datasets
#for Plotly visualization import:
from kmapper.plotlyviz import plotlyviz
from kmapper.plotlyviz import *
from kmapper.jupyter import display
import plotly.graph_objs as go

##### **Reading the data**

In [0]:
from google.colab import drive
drive.flush_and_unmount()
drive.mount('/gdrive')

Drive not mounted, so nothing to flush and unmount.
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
data = pd.read_excel("/gdrive/My Drive/Random-Forest-Rules-Final.xlsx")

In [0]:
data.head()

  TRANSACTION_LOCAL_DATE TRANSMISSION_DATE_TIME  ... E_COM_INDICATOR POS_ENTRY_MODE
0     21-MAR-18 11.33.24     21-MAR-18 11.33.24  ...           ECI05            NNN
1     21-MAR-18 11.34.15     21-MAR-18 11.34.15  ...           ECI05            NNN
2     21-MAR-18 11.36.47     21-MAR-18 11.36.47  ...           ECI05            NNN
3     21-MAR-18 11.39.44     21-MAR-18 11.39.44  ...           ECI05            NNN
4     21-MAR-18 11.43.08     21-MAR-18 11.43.08  ...           ECI05            NNN

[5 rows x 44 columns]

##### We will be redoing some portions that we did in DST 2 to get back the data in a form that can be passed on to the KMapper

In [0]:
data.shape

(105271, 44)

In [0]:
data2=data.copy()
data2.head()

  TRANSACTION_LOCAL_DATE TRANSMISSION_DATE_TIME  ... E_COM_INDICATOR POS_ENTRY_MODE
0     21-MAR-18 11.33.24     21-MAR-18 11.33.24  ...           ECI05            NNN
1     21-MAR-18 11.34.15     21-MAR-18 11.34.15  ...           ECI05            NNN
2     21-MAR-18 11.36.47     21-MAR-18 11.36.47  ...           ECI05            NNN
3     21-MAR-18 11.39.44     21-MAR-18 11.39.44  ...           ECI05            NNN
4     21-MAR-18 11.43.08     21-MAR-18 11.43.08  ...           ECI05            NNN

[5 rows x 44 columns]

##### **Function to find categorical variables**

In [0]:
#Function to find if a column is categorical or not and assign numerical encoding to it
def check_categorical(l):
  if(len(set(l))==(len(l))):
    return False, l
  elif(len(set(l))==1):
    return False, l
  else :
    l = np.array(l)
    c=0
    for i in set(l):
      l[np.where(l == i)] = c
      c=c+1
    return True, l

##### **Splitting up categorical check and encoding function into three parts**

In [0]:
# Function that only checks categorical
'''def check_categorical(l):
   if(len(set(l))==(len(l))):
     return False
   elif(len(set(l))==1):
     return False
   else :
     return True'''

'def check_categorical(l):\n   if(len(set(l))==(len(l))):\n     return False\n   elif(len(set(l))==1):\n     return False\n   else :\n     return True'

In [0]:
# Function that assigns numeric encoding to it
def int_encoding(l):
    l = np.array(l)
    c=0
    for i in set(l):
      l[np.where(l == i)] = c
      c=c+1
    return l

In [0]:
# Function that normalizes the encoding to between 0 and 1
def normalized_encoding(l):
    l = np.array(l)
    c=0
    for i in set(l):
      l[np.where(l == i)] = c
      c=c+1
    l = l/np.max(l)
    return l

In [0]:
# Function that returns one hot encoding of a list of a categorical variable
def one_hot_encoding(l):
    l = pd.Series(l)
    one_hot = pd.get_dummies(l)
    return one_hot ## This output is a dataframe

##### All 3 encoding functions would need the check of categorical to be performed first

##### **Finding categorical variables for 'Random-Forest-Rules-Final.xlsx'**

In [0]:
names = list(data2.columns)
removable_indices =[]
for col in data2.columns:
  ## Removing columns that have NaNs
  if(data2[col].isnull().sum()>0):
    removable_indices.append(col)
  ## Removing columns that have object data type such as date object or filled with '???'
  if(data2[col].dtype.name == 'object'):
    removable_indices.append(col)

In [0]:
removable_indices = set(removable_indices)
data2 = data2.drop(removable_indices,1)

In [0]:
data2.head()

   TRANSACTION_AMOUNT  BILLING_AMOUNT  SETTLEMENT_AMOUNT  TARGET
0              147.84          147.84             145.22       0
1              399.00          399.00             391.94       0
2              247.20          247.20             242.82       0
3              359.00          359.00             352.65       0
4              188.00          188.00             183.81       0

In [0]:
data2.shape

(105271, 4)

##### It appears that too many columns get removed if we remove any columns that have any NaNs or Nulls

In [0]:
data3 = data.copy()
data3.head()

  TRANSACTION_LOCAL_DATE TRANSMISSION_DATE_TIME  ... E_COM_INDICATOR POS_ENTRY_MODE
0     21-MAR-18 11.33.24     21-MAR-18 11.33.24  ...           ECI05            NNN
1     21-MAR-18 11.34.15     21-MAR-18 11.34.15  ...           ECI05            NNN
2     21-MAR-18 11.36.47     21-MAR-18 11.36.47  ...           ECI05            NNN
3     21-MAR-18 11.39.44     21-MAR-18 11.39.44  ...           ECI05            NNN
4     21-MAR-18 11.43.08     21-MAR-18 11.43.08  ...           ECI05            NNN

[5 rows x 44 columns]

In [0]:
data3.shape

(105271, 44)

In [0]:
data3 = data3.dropna(how='any',axis=0) 
data3.shape

(22256, 44)

##### This provides a much better solution since we get to retain all the columns but still with apparently sufficient amount of data for each

In [0]:
start_time = time.time()
names = list(data3.columns)
for col in data3.columns:
  print(col)
  bool, new_col = check_categorical(list(data3[col]))
  if(bool == True):
    ## Changing categorical columns to encoded columns
    data3[col] = new_col
data3.head()
end_time = time.time()
print("Time taken to find and encode categorical columns : {} seconds".format(end_time-start_time))

TRANSACTION_LOCAL_DATE
TRANSMISSION_DATE_TIME
RESPONSE_DATE_TIME
PAN
SERVICE_CODE
VALID_FROM
EXPIRY_DATE
PROC_CODE_12
PROC_CODE_34
PROC_CODE_56
PD1
PD2
PD3
PD4
PD5
PD6
PD7
PD8
PD9
PD10
PD11
PD12
TRANSACTION_AMOUNT
TRANSACTION_CURRENCY
BILLING_AMOUNT
BILLING_CURRENCY
CONVERSION_RATE_DATE
SETTLEMENT_AMOUNT
SETTLEMENT_CURRENCY
SETTLEMENT_DATE
ACQUIRING_COUNTRY_CODE
MCC
CARD_ACCEPTOR_TERM_ID
CARD_ACCEPTOR_ID
CARD_ACC_NAME_ADDRESS
AUTHORIZATION_CODE
DECISION
TARGET
C_100
C_40
C_20
ECOM_INFO
E_COM_INDICATOR
POS_ENTRY_MODE
Time taken to find and encode categorical columns : 53.52803921699524 seconds

##### Time taken is around 52 seconds

##### **Writing encoded dataframe to google drive to be used directly for future purposes**

In [0]:
data3.to_csv('data3.csv')
!cp data3.csv /gdrive/My\ Drive/encoded_data.csv

##### **From now on we will be using encoded_data.csv for our purposes**

In [0]:
encoded = pd.read_csv("/gdrive/My Drive/encoded_data.csv")

In [0]:
## Dropping non-numeric columns after encoding 
for col in encoded.columns:
  if(is_numeric_dtype(encoded[col])== False):
    encoded = encoded.drop(col, 1)

In [0]:
encoded.head()

   Unnamed: 0  TRANSACTION_LOCAL_DATE  ...  ECOM_INFO  E_COM_INDICATOR
0           0                    6725  ...       5009                1
1           1                    9205  ...       5009                1
2           2                   18799  ...       5009                1
3           3                    1057  ...       5009                1
4           4                   11065  ...       5009                1

[5 rows x 35 columns]

In [0]:
encoded.shape

(22256, 35)

In [0]:
## Dropping NaNs and object data types
for col in encoded.columns:
  if(encoded[col].isnull().sum()>0):
    encoded = encoded.drop(col,1)
  elif(encoded[col].dtype.name == 'object'):
    encoded = encoded.drop(col,1)

In [0]:
encoded.head()

   Unnamed: 0  TRANSACTION_LOCAL_DATE  ...  ECOM_INFO  E_COM_INDICATOR
0           0                    6725  ...       5009                1
1           1                    9205  ...       5009                1
2           2                   18799  ...       5009                1
3           3                    1057  ...       5009                1
4           4                   11065  ...       5009                1

[5 rows x 35 columns]

In [0]:
encoded.shape

(22256, 35)

##### So there was no NaNs or object data type columns in encoded.

In [0]:
## Removing the float type data columns because they may be indicative of continuous variables. Good thing the encodings preserve the data types.
## So if something was float originally so is the encoding.
for col in encoded.columns:
  if encoded[col].dtype == 'float':
    encoded = encoded.drop(col,1)

In [0]:
encoded.columns

Index(['Unnamed: 0', 'TRANSACTION_LOCAL_DATE', 'TRANSMISSION_DATE_TIME',
       'RESPONSE_DATE_TIME', 'PAN', 'VALID_FROM', 'EXPIRY_DATE',
       'PROC_CODE_12', 'PROC_CODE_34', 'PD1', 'PD2', 'PD3', 'PD4', 'PD5',
       'PD7', 'PD11', 'TRANSACTION_CURRENCY', 'CONVERSION_RATE_DATE',
       'SETTLEMENT_CURRENCY', 'ACQUIRING_COUNTRY_CODE', 'MCC',
       'CARD_ACCEPTOR_TERM_ID', 'CARD_ACCEPTOR_ID', 'CARD_ACC_NAME_ADDRESS',
       'AUTHORIZATION_CODE', 'DECISION', 'TARGET', 'C_100', 'C_40', 'C_20',
       'ECOM_INFO', 'E_COM_INDICATOR'],
      dtype='object')

In [0]:
encoded = encoded.drop('Unnamed: 0',1)

In [0]:
encoded.shape

(22256, 31)

##### **Function to create dataframe where all variables are normalized between 0 and 1**

In [0]:
## Change the range between 0 and 1
def normalize(df):
  df_new=pd.DataFrame()
  for col in df.columns:
    l = list(df[col])
    ## avoiding divisions by zero
    if np.max(l) == 0 :
      l = np.linspace(0,0,len(df[col]-1))
    else:
      l = l/np.max(l) 
    df_new[col]=l
  return df_new

In [0]:
normalize(encoded)

       TRANSACTION_LOCAL_DATE  ...  E_COM_INDICATOR
0                    0.357466  ...              0.5
1                    0.489289  ...              0.5
2                    0.999256  ...              0.5
3                    0.056185  ...              0.5
4                    0.588157  ...              0.5
...                       ...  ...              ...
22251                0.027640  ...              0.5
22252                0.199862  ...              0.5
22253                0.972785  ...              0.5
22254                0.103280  ...              1.0
22255                0.164036  ...              1.0

[22256 rows x 31 columns]

In [0]:
encoded_normalized = normalize(encoded)

##### **Function to remove columns which are a list on distinct values for eg. the index**

In [0]:
def remove_index_like(df):
  df_new = df.copy()
  indices = []
  for i in df_new.columns:
    if len(df[i]) == len(set(df[i])):
      indices.append(i)
  df_new = df_new.drop(indices,1)
  return df_new

In [0]:
encoded = remove_index_like(encoded)

In [0]:
encoded.shape

(22256, 31)

In [0]:
encoded_normalized = remove_index_like(encoded_normalized)
encoded_normalized.shape

(22256, 31)

##### There are no columns that have unique values in all rows for both encoded and encoded_normalized

##### **Function to remove constant values**

In [0]:
def remove_constants(df):
  df_new = df.copy()
  indices = []
  for col in df_new.columns:
    if len(set(df_new[col])) == 1:
      indices.append(col)
  df_new = df_new.drop(indices,1)
  return df_new

In [0]:
encoded = remove_constants(encoded)
encoded.shape

(22256, 30)

In [0]:
encoded.columns

Index(['TRANSACTION_LOCAL_DATE', 'TRANSMISSION_DATE_TIME',
       'RESPONSE_DATE_TIME', 'PAN', 'VALID_FROM', 'EXPIRY_DATE',
       'PROC_CODE_12', 'PROC_CODE_34', 'PD1', 'PD2', 'PD3', 'PD4', 'PD5',
       'PD7', 'PD11', 'TRANSACTION_CURRENCY', 'SETTLEMENT_CURRENCY',
       'ACQUIRING_COUNTRY_CODE', 'MCC', 'CARD_ACCEPTOR_TERM_ID',
       'CARD_ACCEPTOR_ID', 'CARD_ACC_NAME_ADDRESS', 'AUTHORIZATION_CODE',
       'DECISION', 'TARGET', 'C_100', 'C_40', 'C_20', 'ECOM_INFO',
       'E_COM_INDICATOR'],
      dtype='object')

### **Clustering using KMapper, pick clusters with more fraud data, using dataframe encoded**

In [0]:
encoded.to_csv('data_ready_for_clustering.csv')
!cp data_ready_for_clustering.csv /gdrive/My\ Drive/data_ready_for_clustering.csv

In [0]:
mapper_data = pd.read_csv('/gdrive/My Drive/data_ready_for_clustering.csv')
mapper_data.shape

(22256, 31)

In [0]:
mapper_data.head()

   Unnamed: 0  TRANSACTION_LOCAL_DATE  ...  ECOM_INFO  E_COM_INDICATOR
0           0                    6725  ...       5009                1
1           1                    9205  ...       5009                1
2           2                   18799  ...       5009                1
3           3                    1057  ...       5009                1
4           4                   11065  ...       5009                1

[5 rows x 31 columns]

In [0]:
mapper_data = mapper_data.drop('Unnamed: 0',1)
mapper_data.shape

(22256, 30)

In [0]:
mapper_data.head()

   TRANSACTION_LOCAL_DATE  TRANSMISSION_DATE_TIME  ...  ECOM_INFO  E_COM_INDICATOR
0                    6725                    6723  ...       5009                1
1                    9205                    9159  ...       5009                1
2                   18799                   18684  ...       5009                1
3                    1057                    1087  ...       5009                1
4                   11065                   10996  ...       5009                1

[5 rows x 30 columns]

In [0]:
l=[]
for i  in np.arange(1,len(mapper_data),1):
  l.append(list(mapper_data.iloc[i,:]))
l=np.array(l)

In [0]:
l

array([[ 9205,  9159,  9146, ...,   125,  5009,     1],
       [18799, 18684,  3623, ...,     8,  5009,     1],
       [ 1057,  1087,  1076, ...,   339,  5009,     1],
       ...,
       [18301,  1034,  4982, ...,   339,  4079,     1],
       [ 1943, 15109,  2208, ...,   191, 12482,     2],
       [ 3086, 12339, 12329, ...,   339, 11897,     2]])

##### **Trials for the right parameters for clustering**

##### Here there are parameters like **nr_cubes**, inside DBScan algorithm,**eps**, **leaf_size**, **min_samples**, **metric** which are specific to problem which we try to optimize by trial. For many combinations of these parameters that are unsuitable for the dataset, the clustering would not work.

https://scikit-learn.org/stable/modules/generated/sklearn.cluster.dbscan.html

##### Look at the above link for details about arguments of DBScan

##### **This is the portion onwards that we are going to be changing**

In [0]:
'''data, labels = datasets.make_circles(n_samples=5000, noise=0.05, factor=0.3)

# Initialize
mapper = km.KeplerMapper(verbose=0)

# Fit to and transform the data
lens = mapper.fit_transform(data, projection=[0])

# Create dictionary called 'simplicial_complex' with nodes, edges and meta-information
simplicial_complex = mapper.map(lens, X=data,
                                clusterer=sklearn.cluster.DBSCAN(eps=0.1, min_samples=10),
                                cover=km.Cover(n_cubes=20, perc_overlap=0.1))'''

"data, labels = datasets.make_circles(n_samples=5000, noise=0.05, factor=0.3)\n\n# Initialize\nmapper = km.KeplerMapper(verbose=0)\n\n# Fit to and transform the data\nlens = mapper.fit_transform(data, projection=[0])\n\n# Create dictionary called 'simplicial_complex' with nodes, edges and meta-information\nsimplicial_complex = mapper.map(lens, X=data,\n                                clusterer=sklearn.cluster.DBSCAN(eps=0.1, min_samples=10),\n                                cover=km.Cover(n_cubes=20, perc_overlap=0.1))"

In [0]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

# Fit to and transform the data
projected_data = mapper.fit_transform(l, projection=[0,1]) # X-Y axis

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, nr_cubes=25, overlap_perc = 0.1 ,clusterer = DBSCAN(algorithm ='auto',eps = 100, leaf_size = 500, metric='euclidean',
    metric_params=None, min_samples=10, n_jobs=-1, p=None))
#graph = mapper.map(projected_data, l, cover=km.Cover(n_cubes=10, perc_overlap=0.005))

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: [0, 1]
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (22255, 30)

..Projecting data using: [0, 1]

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (22255, 2) using lens shaped (22255, 2)

Creating 625 hypercubes.

Created 1566 edges and 625 nodes in 0:01:05.018556.

#####The above combination took a bit of work to get to. You may try these following algorithms for clustering that will not require you to guess as many parameters
> sklearn.cluster.KMeans(2) : You only need to specify the number of clusters you want

> sklearn.cluster.AgglomerativeClustering(2) : Same, just need to specify cluster number

> hdbscan.HBSCAN() : Hierarchical DBSCAN does not need you to guess the eps parameter of DBSCAN

In [0]:
projected_data.shape

(22255, 2)

In [0]:
# Visualize it
html=mapper.visualize(graph, path_html="Random-Forest-Rules-Final_clustering_output.html")
#display("Random-Forest-Rules-Final_clustering_output.html")

Wrote visualization to: Random-Forest-Rules-Final_clustering_output.html

##### Trying to extract some of the cluster members from the graph

In [0]:
graph['nodes'].keys()

dict_keys(['cube0_cluster0', 'cube1_cluster0', 'cube2_cluster0', 'cube3_cluster0', 'cube4_cluster0', 'cube5_cluster0', 'cube6_cluster0', 'cube7_cluster0', 'cube8_cluster0', 'cube9_cluster0', 'cube10_cluster0', 'cube11_cluster0', 'cube12_cluster0', 'cube13_cluster0', 'cube14_cluster0', 'cube15_cluster0', 'cube16_cluster0', 'cube17_cluster0', 'cube18_cluster0', 'cube19_cluster0', 'cube20_cluster0', 'cube21_cluster0', 'cube22_cluster0', 'cube23_cluster0', 'cube24_cluster0', 'cube25_cluster0', 'cube26_cluster0', 'cube27_cluster0', 'cube28_cluster0', 'cube29_cluster0', 'cube30_cluster0', 'cube31_cluster0', 'cube32_cluster0', 'cube33_cluster0', 'cube34_cluster0', 'cube35_cluster0', 'cube36_cluster0', 'cube37_cluster0', 'cube38_cluster0', 'cube39_cluster0', 'cube40_cluster0', 'cube41_cluster0', 'cube42_cluster0', 'cube43_cluster0', 'cube44_cluster0', 'cube45_cluster0', 'cube46_cluster0', 'cube47_cluster0', 'cube48_cluster0', 'cube49_cluster0', 'cube50_cluster0', 'cube51_cluster0', 'cube52_cluster0', 'cube53_cluster0', 'cube54_cluster0', 'cube55_cluster0', 'cube56_cluster0', 'cube57_cluster0', 'cube58_cluster0', 'cube59_cluster0', 'cube60_cluster0', 'cube61_cluster0', 'cube62_cluster0', 'cube63_cluster0', 'cube64_cluster0', 'cube65_cluster0', 'cube66_cluster0', 'cube67_cluster0', 'cube68_cluster0', 'cube69_cluster0', 'cube70_cluster0', 'cube71_cluster0', 'cube72_cluster0', 'cube73_cluster0', 'cube74_cluster0', 'cube75_cluster0', 'cube76_cluster0', 'cube77_cluster0', 'cube78_cluster0', 'cube79_cluster0', 'cube80_cluster0', 'cube81_cluster0', 'cube82_cluster0', 'cube83_cluster0', 'cube84_cluster0', 'cube85_cluster0', 'cube86_cluster0', 'cube87_cluster0', 'cube88_cluster0', 'cube89_cluster0', 'cube90_cluster0', 'cube91_cluster0', 'cube92_cluster0', 'cube93_cluster0', 'cube94_cluster0', 'cube95_cluster0', 'cube96_cluster0', 'cube97_cluster0', 'cube98_cluster0', 'cube99_cluster0', 'cube100_cluster0', 'cube101_cluster0', 'cube102_cluster0', 'cube103_cluster0', 'cube104_cluster0', 'cube105_cluster0', 'cube106_cluster0', 'cube107_cluster0', 'cube108_cluster0', 'cube109_cluster0', 'cube110_cluster0', 'cube111_cluster0', 'cube112_cluster0', 'cube113_cluster0', 'cube114_cluster0', 'cube115_cluster0', 'cube116_cluster0', 'cube117_cluster0', 'cube118_cluster0', 'cube119_cluster0', 'cube120_cluster0', 'cube121_cluster0', 'cube122_cluster0', 'cube123_cluster0', 'cube124_cluster0', 'cube125_cluster0', 'cube126_cluster0', 'cube127_cluster0', 'cube128_cluster0', 'cube129_cluster0', 'cube130_cluster0', 'cube131_cluster0', 'cube132_cluster0', 'cube133_cluster0', 'cube134_cluster0', 'cube135_cluster0', 'cube136_cluster0', 'cube137_cluster0', 'cube138_cluster0', 'cube139_cluster0', 'cube140_cluster0', 'cube141_cluster0', 'cube142_cluster0', 'cube143_cluster0', 'cube144_cluster0', 'cube145_cluster0', 'cube146_cluster0', 'cube147_cluster0', 'cube148_cluster0', 'cube149_cluster0', 'cube150_cluster0', 'cube151_cluster0', 'cube152_cluster0', 'cube153_cluster0', 'cube154_cluster0', 'cube155_cluster0', 'cube156_cluster0', 'cube157_cluster0', 'cube158_cluster0', 'cube159_cluster0', 'cube160_cluster0', 'cube161_cluster0', 'cube162_cluster0', 'cube163_cluster0', 'cube164_cluster0', 'cube165_cluster0', 'cube166_cluster0', 'cube167_cluster0', 'cube168_cluster0', 'cube169_cluster0', 'cube170_cluster0', 'cube171_cluster0', 'cube172_cluster0', 'cube173_cluster0', 'cube174_cluster0', 'cube175_cluster0', 'cube176_cluster0', 'cube177_cluster0', 'cube178_cluster0', 'cube179_cluster0', 'cube180_cluster0', 'cube181_cluster0', 'cube182_cluster0', 'cube183_cluster0', 'cube184_cluster0', 'cube185_cluster0', 'cube186_cluster0', 'cube187_cluster0', 'cube188_cluster0', 'cube189_cluster0', 'cube190_cluster0', 'cube191_cluster0', 'cube192_cluster0', 'cube193_cluster0', 'cube194_cluster0', 'cube195_cluster0', 'cube196_cluster0', 'cube197_cluster0', 'cube198_cluster0', 'cube199_cluster0', 'cube200_cluster0', 'cube201_cluster0', 'cube202_cluster0', 'cube203_cluster0', 'cube204_cluster0', 'cube205_cluster0', 'cube206_cluster0', 'cube207_cluster0', 'cube208_cluster0', 'cube209_cluster0', 'cube210_cluster0', 'cube211_cluster0', 'cube212_cluster0', 'cube213_cluster0', 'cube214_cluster0', 'cube215_cluster0', 'cube216_cluster0', 'cube217_cluster0', 'cube218_cluster0', 'cube219_cluster0', 'cube220_cluster0', 'cube221_cluster0', 'cube222_cluster0', 'cube223_cluster0', 'cube224_cluster0', 'cube225_cluster0', 'cube226_cluster0', 'cube227_cluster0', 'cube228_cluster0', 'cube229_cluster0', 'cube230_cluster0', 'cube231_cluster0', 'cube232_cluster0', 'cube233_cluster0', 'cube234_cluster0', 'cube235_cluster0', 'cube236_cluster0', 'cube237_cluster0', 'cube238_cluster0', 'cube239_cluster0', 'cube240_cluster0', 'cube241_cluster0', 'cube242_cluster0', 'cube243_cluster0', 'cube244_cluster0', 'cube245_cluster0', 'cube246_cluster0', 'cube247_cluster0', 'cube248_cluster0', 'cube249_cluster0', 'cube250_cluster0', 'cube251_cluster0', 'cube252_cluster0', 'cube253_cluster0', 'cube254_cluster0', 'cube255_cluster0', 'cube256_cluster0', 'cube257_cluster0', 'cube258_cluster0', 'cube259_cluster0', 'cube260_cluster0', 'cube261_cluster0', 'cube262_cluster0', 'cube263_cluster0', 'cube264_cluster0', 'cube265_cluster0', 'cube266_cluster0', 'cube267_cluster0', 'cube268_cluster0', 'cube269_cluster0', 'cube270_cluster0', 'cube271_cluster0', 'cube272_cluster0', 'cube273_cluster0', 'cube274_cluster0', 'cube275_cluster0', 'cube276_cluster0', 'cube277_cluster0', 'cube278_cluster0', 'cube279_cluster0', 'cube280_cluster0', 'cube281_cluster0', 'cube282_cluster0', 'cube283_cluster0', 'cube284_cluster0', 'cube285_cluster0', 'cube286_cluster0', 'cube287_cluster0', 'cube288_cluster0', 'cube289_cluster0', 'cube290_cluster0', 'cube291_cluster0', 'cube292_cluster0', 'cube293_cluster0', 'cube294_cluster0', 'cube295_cluster0', 'cube296_cluster0', 'cube297_cluster0', 'cube298_cluster0', 'cube299_cluster0', 'cube300_cluster0', 'cube301_cluster0', 'cube302_cluster0', 'cube303_cluster0', 'cube304_cluster0', 'cube305_cluster0', 'cube306_cluster0', 'cube307_cluster0', 'cube308_cluster0', 'cube309_cluster0', 'cube310_cluster0', 'cube311_cluster0', 'cube312_cluster0', 'cube313_cluster0', 'cube314_cluster0', 'cube315_cluster0', 'cube316_cluster0', 'cube317_cluster0', 'cube318_cluster0', 'cube319_cluster0', 'cube320_cluster0', 'cube321_cluster0', 'cube322_cluster0', 'cube323_cluster0', 'cube324_cluster0', 'cube325_cluster0', 'cube326_cluster0', 'cube327_cluster0', 'cube328_cluster0', 'cube329_cluster0', 'cube330_cluster0', 'cube331_cluster0', 'cube332_cluster0', 'cube333_cluster0', 'cube334_cluster0', 'cube335_cluster0', 'cube336_cluster0', 'cube337_cluster0', 'cube338_cluster0', 'cube339_cluster0', 'cube340_cluster0', 'cube341_cluster0', 'cube342_cluster0', 'cube343_cluster0', 'cube344_cluster0', 'cube345_cluster0', 'cube346_cluster0', 'cube347_cluster0', 'cube348_cluster0', 'cube349_cluster0', 'cube350_cluster0', 'cube351_cluster0', 'cube352_cluster0', 'cube353_cluster0', 'cube354_cluster0', 'cube355_cluster0', 'cube356_cluster0', 'cube357_cluster0', 'cube358_cluster0', 'cube359_cluster0', 'cube360_cluster0', 'cube361_cluster0', 'cube362_cluster0', 'cube363_cluster0', 'cube364_cluster0', 'cube365_cluster0', 'cube366_cluster0', 'cube367_cluster0', 'cube368_cluster0', 'cube369_cluster0', 'cube370_cluster0', 'cube371_cluster0', 'cube372_cluster0', 'cube373_cluster0', 'cube374_cluster0', 'cube375_cluster0', 'cube376_cluster0', 'cube377_cluster0', 'cube378_cluster0', 'cube379_cluster0', 'cube380_cluster0', 'cube381_cluster0', 'cube382_cluster0', 'cube383_cluster0', 'cube384_cluster0', 'cube385_cluster0', 'cube386_cluster0', 'cube387_cluster0', 'cube388_cluster0', 'cube389_cluster0', 'cube390_cluster0', 'cube391_cluster0', 'cube392_cluster0', 'cube393_cluster0', 'cube394_cluster0', 'cube395_cluster0', 'cube396_cluster0', 'cube397_cluster0', 'cube398_cluster0', 'cube399_cluster0', 'cube400_cluster0', 'cube401_cluster0', 'cube402_cluster0', 'cube403_cluster0', 'cube404_cluster0', 'cube405_cluster0', 'cube406_cluster0', 'cube407_cluster0', 'cube408_cluster0', 'cube409_cluster0', 'cube410_cluster0', 'cube411_cluster0', 'cube412_cluster0', 'cube413_cluster0', 'cube414_cluster0', 'cube415_cluster0', 'cube416_cluster0', 'cube417_cluster0', 'cube418_cluster0', 'cube419_cluster0', 'cube420_cluster0', 'cube421_cluster0', 'cube422_cluster0', 'cube423_cluster0', 'cube424_cluster0', 'cube425_cluster0', 'cube426_cluster0', 'cube427_cluster0', 'cube428_cluster0', 'cube429_cluster0', 'cube430_cluster0', 'cube431_cluster0', 'cube432_cluster0', 'cube433_cluster0', 'cube434_cluster0', 'cube435_cluster0', 'cube436_cluster0', 'cube437_cluster0', 'cube438_cluster0', 'cube439_cluster0', 'cube440_cluster0', 'cube441_cluster0', 'cube442_cluster0', 'cube443_cluster0', 'cube444_cluster0', 'cube445_cluster0', 'cube446_cluster0', 'cube447_cluster0', 'cube448_cluster0', 'cube449_cluster0', 'cube450_cluster0', 'cube451_cluster0', 'cube452_cluster0', 'cube453_cluster0', 'cube454_cluster0', 'cube455_cluster0', 'cube456_cluster0', 'cube457_cluster0', 'cube458_cluster0', 'cube459_cluster0', 'cube460_cluster0', 'cube461_cluster0', 'cube462_cluster0', 'cube463_cluster0', 'cube464_cluster0', 'cube465_cluster0', 'cube466_cluster0', 'cube467_cluster0', 'cube468_cluster0', 'cube469_cluster0', 'cube470_cluster0', 'cube471_cluster0', 'cube472_cluster0', 'cube473_cluster0', 'cube474_cluster0', 'cube475_cluster0', 'cube476_cluster0', 'cube477_cluster0', 'cube478_cluster0', 'cube479_cluster0', 'cube480_cluster0', 'cube481_cluster0', 'cube482_cluster0', 'cube483_cluster0', 'cube484_cluster0', 'cube485_cluster0', 'cube486_cluster0', 'cube487_cluster0', 'cube488_cluster0', 'cube489_cluster0', 'cube490_cluster0', 'cube491_cluster0', 'cube492_cluster0', 'cube493_cluster0', 'cube494_cluster0', 'cube495_cluster0', 'cube496_cluster0', 'cube497_cluster0', 'cube498_cluster0', 'cube499_cluster0', 'cube500_cluster0', 'cube501_cluster0', 'cube502_cluster0', 'cube503_cluster0', 'cube504_cluster0', 'cube505_cluster0', 'cube506_cluster0', 'cube507_cluster0', 'cube508_cluster0', 'cube509_cluster0', 'cube510_cluster0', 'cube511_cluster0', 'cube512_cluster0', 'cube513_cluster0', 'cube514_cluster0', 'cube515_cluster0', 'cube516_cluster0', 'cube517_cluster0', 'cube518_cluster0', 'cube519_cluster0', 'cube520_cluster0', 'cube521_cluster0', 'cube522_cluster0', 'cube523_cluster0', 'cube524_cluster0', 'cube525_cluster0', 'cube526_cluster0', 'cube527_cluster0', 'cube528_cluster0', 'cube529_cluster0', 'cube530_cluster0', 'cube531_cluster0', 'cube532_cluster0', 'cube533_cluster0', 'cube534_cluster0', 'cube535_cluster0', 'cube536_cluster0', 'cube537_cluster0', 'cube538_cluster0', 'cube539_cluster0', 'cube540_cluster0', 'cube541_cluster0', 'cube542_cluster0', 'cube543_cluster0', 'cube544_cluster0', 'cube545_cluster0', 'cube546_cluster0', 'cube547_cluster0', 'cube548_cluster0', 'cube549_cluster0', 'cube550_cluster0', 'cube551_cluster0', 'cube552_cluster0', 'cube553_cluster0', 'cube554_cluster0', 'cube555_cluster0', 'cube556_cluster0', 'cube557_cluster0', 'cube558_cluster0', 'cube559_cluster0', 'cube560_cluster0', 'cube561_cluster0', 'cube562_cluster0', 'cube563_cluster0', 'cube564_cluster0', 'cube565_cluster0', 'cube566_cluster0', 'cube567_cluster0', 'cube568_cluster0', 'cube569_cluster0', 'cube570_cluster0', 'cube571_cluster0', 'cube572_cluster0', 'cube573_cluster0', 'cube574_cluster0', 'cube575_cluster0', 'cube576_cluster0', 'cube577_cluster0', 'cube578_cluster0', 'cube579_cluster0', 'cube580_cluster0', 'cube581_cluster0', 'cube582_cluster0', 'cube583_cluster0', 'cube584_cluster0', 'cube585_cluster0', 'cube586_cluster0', 'cube587_cluster0', 'cube588_cluster0', 'cube589_cluster0', 'cube590_cluster0', 'cube591_cluster0', 'cube592_cluster0', 'cube593_cluster0', 'cube594_cluster0', 'cube595_cluster0', 'cube596_cluster0', 'cube597_cluster0', 'cube598_cluster0', 'cube599_cluster0', 'cube600_cluster0', 'cube601_cluster0', 'cube602_cluster0', 'cube603_cluster0', 'cube604_cluster0', 'cube605_cluster0', 'cube606_cluster0', 'cube607_cluster0', 'cube608_cluster0', 'cube609_cluster0', 'cube610_cluster0', 'cube611_cluster0', 'cube612_cluster0', 'cube613_cluster0', 'cube614_cluster0', 'cube615_cluster0', 'cube616_cluster0', 'cube617_cluster0', 'cube618_cluster0', 'cube619_cluster0', 'cube620_cluster0', 'cube621_cluster0', 'cube622_cluster0', 'cube623_cluster0', 'cube624_cluster0'])

In [0]:
## These are the 42 members of the cluster named 'cube0_cluster0'
graph['nodes']['cube0_cluster0']
len(graph['nodes']['cube0_cluster0'])

98

In [0]:
## We will pick up the respective columns from the dataset that we passed in for mapper and see it's features
cluster_members = pd.DataFrame(columns = mapper_data.columns)
for i in graph['nodes']['cube0_cluster0']:
  cluster_members = cluster_members.append(mapper_data.iloc[i,:])
cluster_members.shape

(98, 30)

In [0]:
cluster_members.head()

    TRANSACTION_LOCAL_DATE TRANSMISSION_DATE_TIME  ... ECOM_INFO E_COM_INDICATOR
19                   16245                  16054  ...      5009               1
36                    5985                   5970  ...      5009               1
44                    8298                   8300  ...      5009               1
77                    3550                   3464  ...      5009               1
123                  14819                  14674  ...      5009               1

[5 rows x 30 columns]

In [0]:
# We will pick out those columns for which any particular value has a clear majority (more than 50% of total)
# We believe those are the characteristic features of that cluster.
for name in cluster_members.columns:
  counts = cluster_members[name].value_counts().tolist()
  if max(counts)>cluster_members.shape[0]/2 :
    print(name)

PROC_CODE_12
PROC_CODE_34
PD1
PD2
PD3
PD4
PD7
PD11
TRANSACTION_CURRENCY
SETTLEMENT_CURRENCY
ACQUIRING_COUNTRY_CODE
CARD_ACCEPTOR_TERM_ID
DECISION
TARGET
C_100
C_40
ECOM_INFO
E_COM_INDICATOR

##### So by our method these are the significant columns in determining this cluster

In [0]:
## Doing the above procedure for all clusters
start_time = time.time()
significant_overall = []
clusters = list(graph['nodes'].keys())
for c in clusters:
  #cluster_members = pd.DataFrame(columns = mapper_data.columns)
  cluster_members = mapper_data.iloc[graph['nodes'][c],:]
  significant_cols = []
  for name in cluster_members.columns:
    counts = cluster_members[name].value_counts().tolist()
    if max(counts)>cluster_members.shape[0]/2 :
      significant_cols.append(name)
  significant_overall.append(significant_cols)
  print(c)
end_time = time.time()
print("Time taken to find significant columns from clusters : {} seconds".format(end_time-start_time))

cube0_cluster0
cube1_cluster0
cube2_cluster0
cube3_cluster0
cube4_cluster0
cube5_cluster0
cube6_cluster0
cube7_cluster0
cube8_cluster0
cube9_cluster0
cube10_cluster0
cube11_cluster0
cube12_cluster0
cube13_cluster0
cube14_cluster0
cube15_cluster0
cube16_cluster0
cube17_cluster0
cube18_cluster0
cube19_cluster0
cube20_cluster0
cube21_cluster0
cube22_cluster0
cube23_cluster0
cube24_cluster0
cube25_cluster0
cube26_cluster0
cube27_cluster0
cube28_cluster0
cube29_cluster0
cube30_cluster0
cube31_cluster0
cube32_cluster0
cube33_cluster0
cube34_cluster0
cube35_cluster0
cube36_cluster0
cube37_cluster0
cube38_cluster0
cube39_cluster0
cube40_cluster0
cube41_cluster0
cube42_cluster0
cube43_cluster0
cube44_cluster0
cube45_cluster0
cube46_cluster0
cube47_cluster0
cube48_cluster0
cube49_cluster0
cube50_cluster0
cube51_cluster0
cube52_cluster0
cube53_cluster0
cube54_cluster0
cube55_cluster0
cube56_cluster0
cube57_cluster0
cube58_cluster0
cube59_cluster0
cube60_cluster0
cube61_cluster0
cube62_cluster0
cube63_cluster0
cube64_cluster0
cube65_cluster0
cube66_cluster0
cube67_cluster0
cube68_cluster0
cube69_cluster0
cube70_cluster0
cube71_cluster0
cube72_cluster0
cube73_cluster0
cube74_cluster0
cube75_cluster0
cube76_cluster0
cube77_cluster0
cube78_cluster0
cube79_cluster0
cube80_cluster0
cube81_cluster0
cube82_cluster0
cube83_cluster0
cube84_cluster0
cube85_cluster0
cube86_cluster0
cube87_cluster0
cube88_cluster0
cube89_cluster0
cube90_cluster0
cube91_cluster0
cube92_cluster0
cube93_cluster0
cube94_cluster0
cube95_cluster0
cube96_cluster0
cube97_cluster0
cube98_cluster0
cube99_cluster0
cube100_cluster0
cube101_cluster0
cube102_cluster0
cube103_cluster0
cube104_cluster0
cube105_cluster0
cube106_cluster0
cube107_cluster0
cube108_cluster0
cube109_cluster0
cube110_cluster0
cube111_cluster0
cube112_cluster0
cube113_cluster0
cube114_cluster0
cube115_cluster0
cube116_cluster0
cube117_cluster0
cube118_cluster0
cube119_cluster0
cube120_cluster0
cube121_cluster0
cube122_cluster0
cube123_cluster0
cube124_cluster0
cube125_cluster0
cube126_cluster0
cube127_cluster0
cube128_cluster0
cube129_cluster0
cube130_cluster0
cube131_cluster0
cube132_cluster0
cube133_cluster0
cube134_cluster0
cube135_cluster0
cube136_cluster0
cube137_cluster0
cube138_cluster0
cube139_cluster0
cube140_cluster0
cube141_cluster0
cube142_cluster0
cube143_cluster0
cube144_cluster0
cube145_cluster0
cube146_cluster0
cube147_cluster0
cube148_cluster0
cube149_cluster0
cube150_cluster0
cube151_cluster0
cube152_cluster0
cube153_cluster0
cube154_cluster0
cube155_cluster0
cube156_cluster0
cube157_cluster0
cube158_cluster0
cube159_cluster0
cube160_cluster0
cube161_cluster0
cube162_cluster0
cube163_cluster0
cube164_cluster0
cube165_cluster0
cube166_cluster0
cube167_cluster0
cube168_cluster0
cube169_cluster0
cube170_cluster0
cube171_cluster0
cube172_cluster0
cube173_cluster0
cube174_cluster0
cube175_cluster0
cube176_cluster0
cube177_cluster0
cube178_cluster0
cube179_cluster0
cube180_cluster0
cube181_cluster0
cube182_cluster0
cube183_cluster0
cube184_cluster0
cube185_cluster0
cube186_cluster0
cube187_cluster0
cube188_cluster0
cube189_cluster0
cube190_cluster0
cube191_cluster0
cube192_cluster0
cube193_cluster0
cube194_cluster0
cube195_cluster0
cube196_cluster0
cube197_cluster0
cube198_cluster0
cube199_cluster0
cube200_cluster0
cube201_cluster0
cube202_cluster0
cube203_cluster0
cube204_cluster0
cube205_cluster0
cube206_cluster0
cube207_cluster0
cube208_cluster0
cube209_cluster0
cube210_cluster0
cube211_cluster0
cube212_cluster0
cube213_cluster0
cube214_cluster0
cube215_cluster0
cube216_cluster0
cube217_cluster0
cube218_cluster0
cube219_cluster0
cube220_cluster0
cube221_cluster0
cube222_cluster0
cube223_cluster0
cube224_cluster0
cube225_cluster0
cube226_cluster0
cube227_cluster0
cube228_cluster0
cube229_cluster0
cube230_cluster0
cube231_cluster0
cube232_cluster0
cube233_cluster0
cube234_cluster0
cube235_cluster0
cube236_cluster0
cube237_cluster0
cube238_cluster0
cube239_cluster0
cube240_cluster0
cube241_cluster0
cube242_cluster0
cube243_cluster0
cube244_cluster0
cube245_cluster0
cube246_cluster0
cube247_cluster0
cube248_cluster0
cube249_cluster0
cube250_cluster0
cube251_cluster0
cube252_cluster0
cube253_cluster0
cube254_cluster0
cube255_cluster0
cube256_cluster0
cube257_cluster0
cube258_cluster0
cube259_cluster0
cube260_cluster0
cube261_cluster0
cube262_cluster0
cube263_cluster0
cube264_cluster0
cube265_cluster0
cube266_cluster0
cube267_cluster0
cube268_cluster0
cube269_cluster0
cube270_cluster0
cube271_cluster0
cube272_cluster0
cube273_cluster0
cube274_cluster0
cube275_cluster0
cube276_cluster0
cube277_cluster0
cube278_cluster0
cube279_cluster0
cube280_cluster0
cube281_cluster0
cube282_cluster0
cube283_cluster0
cube284_cluster0
cube285_cluster0
cube286_cluster0
cube287_cluster0
cube288_cluster0
cube289_cluster0
cube290_cluster0
cube291_cluster0
cube292_cluster0
cube293_cluster0
cube294_cluster0
cube295_cluster0
cube296_cluster0
cube297_cluster0
cube298_cluster0
cube299_cluster0
cube300_cluster0
cube301_cluster0
cube302_cluster0
cube303_cluster0
cube304_cluster0
cube305_cluster0
cube306_cluster0
cube307_cluster0
cube308_cluster0
cube309_cluster0
cube310_cluster0
cube311_cluster0
cube312_cluster0
cube313_cluster0
cube314_cluster0
cube315_cluster0
cube316_cluster0
cube317_cluster0
cube318_cluster0
cube319_cluster0
cube320_cluster0
cube321_cluster0
cube322_cluster0
cube323_cluster0
cube324_cluster0
cube325_cluster0
cube326_cluster0
cube327_cluster0
cube328_cluster0
cube329_cluster0
cube330_cluster0
cube331_cluster0
cube332_cluster0
cube333_cluster0
cube334_cluster0
cube335_cluster0
cube336_cluster0
cube337_cluster0
cube338_cluster0
cube339_cluster0
cube340_cluster0
cube341_cluster0
cube342_cluster0
cube343_cluster0
cube344_cluster0
cube345_cluster0
cube346_cluster0
cube347_cluster0
cube348_cluster0
cube349_cluster0
cube350_cluster0
cube351_cluster0
cube352_cluster0
cube353_cluster0
cube354_cluster0
cube355_cluster0
cube356_cluster0
cube357_cluster0
cube358_cluster0
cube359_cluster0
cube360_cluster0
cube361_cluster0
cube362_cluster0
cube363_cluster0
cube364_cluster0
cube365_cluster0
cube366_cluster0
cube367_cluster0
cube368_cluster0
cube369_cluster0
cube370_cluster0
cube371_cluster0
cube372_cluster0
cube373_cluster0
cube374_cluster0
cube375_cluster0
cube376_cluster0
cube377_cluster0
cube378_cluster0
cube379_cluster0
cube380_cluster0
cube381_cluster0
cube382_cluster0
cube383_cluster0
cube384_cluster0
cube385_cluster0
cube386_cluster0
cube387_cluster0
cube388_cluster0
cube389_cluster0
cube390_cluster0
cube391_cluster0
cube392_cluster0
cube393_cluster0
cube394_cluster0
cube395_cluster0
cube396_cluster0
cube397_cluster0
cube398_cluster0
cube399_cluster0
cube400_cluster0
cube401_cluster0
cube402_cluster0
cube403_cluster0
cube404_cluster0
cube405_cluster0
cube406_cluster0
cube407_cluster0
cube408_cluster0
cube409_cluster0
cube410_cluster0
cube411_cluster0
cube412_cluster0
cube413_cluster0
cube414_cluster0
cube415_cluster0
cube416_cluster0
cube417_cluster0
cube418_cluster0
cube419_cluster0
cube420_cluster0
cube421_cluster0
cube422_cluster0
cube423_cluster0
cube424_cluster0
cube425_cluster0
cube426_cluster0
cube427_cluster0
cube428_cluster0
cube429_cluster0
cube430_cluster0
cube431_cluster0
cube432_cluster0
cube433_cluster0
cube434_cluster0
cube435_cluster0
cube436_cluster0
cube437_cluster0
cube438_cluster0
cube439_cluster0
cube440_cluster0
cube441_cluster0
cube442_cluster0
cube443_cluster0
cube444_cluster0
cube445_cluster0
cube446_cluster0
cube447_cluster0
cube448_cluster0
cube449_cluster0
cube450_cluster0
cube451_cluster0
cube452_cluster0
cube453_cluster0
cube454_cluster0
cube455_cluster0
cube456_cluster0
cube457_cluster0
cube458_cluster0
cube459_cluster0
cube460_cluster0
cube461_cluster0
cube462_cluster0
cube463_cluster0
cube464_cluster0
cube465_cluster0
cube466_cluster0
cube467_cluster0
cube468_cluster0
cube469_cluster0
cube470_cluster0
cube471_cluster0
cube472_cluster0
cube473_cluster0
cube474_cluster0
cube475_cluster0
cube476_cluster0
cube477_cluster0
cube478_cluster0
cube479_cluster0
cube480_cluster0
cube481_cluster0
cube482_cluster0
cube483_cluster0
cube484_cluster0
cube485_cluster0
cube486_cluster0
cube487_cluster0
cube488_cluster0
cube489_cluster0
cube490_cluster0
cube491_cluster0
cube492_cluster0
cube493_cluster0
cube494_cluster0
cube495_cluster0
cube496_cluster0
cube497_cluster0
cube498_cluster0
cube499_cluster0
cube500_cluster0
cube501_cluster0
cube502_cluster0
cube503_cluster0
cube504_cluster0
cube505_cluster0
cube506_cluster0
cube507_cluster0
cube508_cluster0
cube509_cluster0
cube510_cluster0
cube511_cluster0
cube512_cluster0
cube513_cluster0
cube514_cluster0
cube515_cluster0
cube516_cluster0
cube517_cluster0
cube518_cluster0
cube519_cluster0
cube520_cluster0
cube521_cluster0
cube522_cluster0
cube523_cluster0
cube524_cluster0
cube525_cluster0
cube526_cluster0
cube527_cluster0
cube528_cluster0
cube529_cluster0
cube530_cluster0
cube531_cluster0
cube532_cluster0
cube533_cluster0
cube534_cluster0
cube535_cluster0
cube536_cluster0
cube537_cluster0
cube538_cluster0
cube539_cluster0
cube540_cluster0
cube541_cluster0
cube542_cluster0
cube543_cluster0
cube544_cluster0
cube545_cluster0
cube546_cluster0
cube547_cluster0
cube548_cluster0
cube549_cluster0
cube550_cluster0
cube551_cluster0
cube552_cluster0
cube553_cluster0
cube554_cluster0
cube555_cluster0
cube556_cluster0
cube557_cluster0
cube558_cluster0
cube559_cluster0
cube560_cluster0
cube561_cluster0
cube562_cluster0
cube563_cluster0
cube564_cluster0
cube565_cluster0
cube566_cluster0
cube567_cluster0
cube568_cluster0
cube569_cluster0
cube570_cluster0
cube571_cluster0
cube572_cluster0
cube573_cluster0
cube574_cluster0
cube575_cluster0
cube576_cluster0
cube577_cluster0
cube578_cluster0
cube579_cluster0
cube580_cluster0
cube581_cluster0
cube582_cluster0
cube583_cluster0
cube584_cluster0
cube585_cluster0
cube586_cluster0
cube587_cluster0
cube588_cluster0
cube589_cluster0
cube590_cluster0
cube591_cluster0
cube592_cluster0
cube593_cluster0
cube594_cluster0
cube595_cluster0
cube596_cluster0
cube597_cluster0
cube598_cluster0
cube599_cluster0
cube600_cluster0
cube601_cluster0
cube602_cluster0
cube603_cluster0
cube604_cluster0
cube605_cluster0
cube606_cluster0
cube607_cluster0
cube608_cluster0
cube609_cluster0
cube610_cluster0
cube611_cluster0
cube612_cluster0
cube613_cluster0
cube614_cluster0
cube615_cluster0
cube616_cluster0
cube617_cluster0
cube618_cluster0
cube619_cluster0
cube620_cluster0
cube621_cluster0
cube622_cluster0
cube623_cluster0
cube624_cluster0
Time taken to find significant columns from clusters : 19.64633584022522 seconds

In [0]:
elements_in_all = list(set.intersection(*map(set, significant_overall)))
elements_in_all

['TARGET',
 'ACQUIRING_COUNTRY_CODE',
 'PD3',
 'C_100',
 'PD1',
 'PD4',
 'PD7',
 'PD2',
 'PD11',
 'TRANSACTION_CURRENCY',
 'DECISION',
 'C_40',
 'E_COM_INDICATOR',
 'SETTLEMENT_CURRENCY',
 'PROC_CODE_12']

##### These are the columns that come out as significant in this dataset, could  vary with data

##### **Now we move over a part where we try to mark the data using the 'TARGET' column which indicates Fraud or Not Fraud for us. The marking can be done by any other column which is categorical in nature and does not have too many categories**

In [0]:
## For our purpose we will have to remove 'TARGET' column from the data that we are passing in to mapper
mapper_data.head()

   TRANSACTION_LOCAL_DATE  TRANSMISSION_DATE_TIME  ...  ECOM_INFO  E_COM_INDICATOR
0                    6725                    6723  ...       5009                1
1                    9205                    9159  ...       5009                1
2                   18799                   18684  ...       5009                1
3                    1057                    1087  ...       5009                1
4                   11065                   10996  ...       5009                1

[5 rows x 30 columns]

In [0]:
mapper_data2 = mapper_data.drop('TARGET',1)
mapper_data2.head()

   TRANSACTION_LOCAL_DATE  TRANSMISSION_DATE_TIME  ...  ECOM_INFO  E_COM_INDICATOR
0                    6725                    6723  ...       5009                1
1                    9205                    9159  ...       5009                1
2                   18799                   18684  ...       5009                1
3                    1057                    1087  ...       5009                1
4                   11065                   10996  ...       5009                1

[5 rows x 29 columns]

In [0]:
colouring_col = mapper_data['TARGET']
len(colouring_col)

22256

In [0]:
l2=[]
for i  in np.arange(1,len(mapper_data2),1):
  l2.append(list(mapper_data2.iloc[i,:]))
l2=np.array(l2)
l2

array([[ 9205,  9159,  9146, ...,   125,  5009,     1],
       [18799, 18684,  3623, ...,     8,  5009,     1],
       [ 1057,  1087,  1076, ...,   339,  5009,     1],
       ...,
       [18301,  1034,  4982, ...,   339,  4079,     1],
       [ 1943, 15109,  2208, ...,   191, 12482,     2],
       [ 3086, 12339, 12329, ...,   339, 11897,     2]])

In [0]:
l2.shape

(22255, 29)

In [0]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

# Fit to and transform the data
projected_data2 = mapper.fit_transform(l2, projection=[0,1]) # X-Y axis

# Create dictionary called 'graph' with nodes, edges and meta-information
graph2 = mapper.map(projected_data2, nr_cubes=25, overlap_perc = 0.1 ,clusterer = DBSCAN(algorithm ='auto',eps = 100, leaf_size = 500, metric='euclidean',
    metric_params=None, min_samples=10, n_jobs=-1, p=None))
## All parameters are the same as before

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: [0, 1]
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (22255, 29)

..Projecting data using: [0, 1]

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (22255, 2) using lens shaped (22255, 2)

Creating 625 hypercubes.

Created 1566 edges and 625 nodes in 0:01:04.971884.

In [0]:
# Visualize it
html2=mapper.visualize(graph2, path_html="coloured_Random-Forest-Rules-Final_clustering_output.html",
                       color_function = mapper_data['TARGET'].values,
                       custom_tooltips = mapper_data['TARGET'].values)

Wrote visualization to: coloured_Random-Forest-Rules-Final_clustering_output.html

In [0]:
mapper_data['TARGET'].value_counts()

0    21410
1      846
Name: TARGET, dtype: int64

##### So even though there are some fraud cases in the clusters, there are so few in each that the change in colour is almost imperceptible.We can try to reduce the number of clusters to see some change, or we can try to colour using a different columns which doesn't have such skewed frequency counts.

##### **Reducing number of clusters**

In [0]:
# Initialize
mapper = km.KeplerMapper(verbose=1)
# Create dictionary called 'graph' with nodes, edges and meta-information
graph3 = mapper.map(projected_data2, nr_cubes=5, overlap_perc = 0.1 ,clusterer = DBSCAN(algorithm ='auto',eps = 100, leaf_size = 500, metric='euclidean',
    metric_params=None, min_samples=10, n_jobs=-1, p=None))
## All parameters are the same as before except for 'nr_cubes'

html3=mapper.visualize(graph3, path_html="coloured2_Random-Forest-Rules-Final_clustering_output.html",
                       color_function = mapper_data['TARGET'].values,
                       custom_tooltips = mapper_data['TARGET'].values)

KeplerMapper()
Mapping on data shaped (22255, 2) using lens shaped (22255, 2)

Creating 25 hypercubes.

Created 72 edges and 25 nodes in 0:00:03.004408.
Wrote visualization to: coloured2_Random-Forest-Rules-Final_clustering_output.html

##### **Colouring using a different column**

In [0]:
for i in mapper_data.columns:
  if len(set(mapper_data[i]))<=10:
   print(i, len(set(mapper_data[i])))

PROC_CODE_12 2
PROC_CODE_34 3
PD1 4
PD2 2
PD3 2
PD4 2
PD5 5
PD7 2
PD11 2
SETTLEMENT_CURRENCY 2
DECISION 6
TARGET 2
C_100 2
C_40 3
E_COM_INDICATOR 3

##### This is important because there are 10 distinct colours in a mapper graph that can be plotted by default, there are customizations possible but only possible to run on Jupyter notebook, will add that as a seperate file.

In [0]:
html4=mapper.visualize(graph2, path_html="coloured3_Random-Forest-Rules-Final_clustering_output.html",
                       color_function = mapper_data['PD5'].values,
                       custom_tooltips = mapper_data['PD5'].values)

Wrote visualization to: coloured3_Random-Forest-Rules-Final_clustering_output.html

##### This graph is interesting because we can see a line of blue nodes in a field of yellow nodes, this is possible because there is a sufficient majority of one category in these blue nodes, and a majority of some other category in the yellow nodes. These are all categories of the variable 'PD5'. More such colours might be distinguishable when using a different palatte. We can choose to study the members of these blue nodes specifically for behaviour.

##### **Changing the node names cannot be done here, the following problem occurs**

In [0]:
##These are the original cluster names
list(graph3['nodes'].keys())

['cube0_cluster0',
 'cube1_cluster0',
 'cube2_cluster0',
 'cube3_cluster0',
 'cube4_cluster0',
 'cube5_cluster0',
 'cube6_cluster0',
 'cube7_cluster0',
 'cube8_cluster0',
 'cube9_cluster0',
 'cube10_cluster0',
 'cube11_cluster0',
 'cube12_cluster0',
 'cube13_cluster0',
 'cube14_cluster0',
 'cube15_cluster0',
 'cube16_cluster0',
 'cube17_cluster0',
 'cube18_cluster0',
 'cube19_cluster0',
 'cube20_cluster0',
 'cube21_cluster0',
 'cube22_cluster0',
 'cube23_cluster0',
 'cube24_cluster0']

In [0]:
##Suppose we want to change the node names to 0-24, the numbers
new_node_names = list(range(0,25))
print(new_node_names)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [0]:
graph3['nodes'] = {i: v for i, v in enumerate(graph3['nodes'].values())}
print(list(graph3['nodes'].keys()))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [0]:
html5=mapper.visualize(graph3, path_html="new_nodes_Random-Forest-Rules-Final_clustering_output.html")

KeyError: ignored

### **ROUGH WORK**

In [0]:
#mapper.visualize(graph, path_html="psycho-scores-MST.html",
                 color_function=df['var_color'].values,
                 custom_tooltips=df['var_color'].values)

IndentationError: ignored

In [0]:
data = np.random.random((2000, 2))
mapper = km.KeplerMapper()
lens = mapper.fit_transform(data)
graph = mapper.map(lens, data)
_ = mapper.visualize(graph, path_html="filename.html")

In [0]:
display("filename.html")

In [0]:
!ls '/gdrive/My Drive'