<a href="https://colab.research.google.com/github/trinade96/Fortiate_Project/blob/master/Fortiate_DST_5(all_txns_csv).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DST 5(all_txns.csv)**
##### Trina De

In [0]:
!pip install folium==0.2.1

Collecting folium==0.2.1
  Downloading https://files.pythonhosted.org/packages/72/dd/75ced7437bfa7cb9a88b96ee0177953062803c3b4cde411a97d98c35adaf/folium-0.2.1.tar.gz (69kB)
     |████████████████████████████████| 71kB 2.2MB/s
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from folium==0.2.1) (2.10.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->folium==0.2.1) (1.1.1)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py) ... done
  Created wheel for folium: filename=folium-0.2.1-cp36-none-any.whl size=79979 sha256=65fdebf4c32d42206f854d8ef33a00166ecc35692ca20b130d320839410df112
  Stored in directory: /root/.cache/pip/wheels/b8/09/f0/52d2ef419c2aaf4fb149f92a33e0008bdce7ae816f0dd8f0c5
Successfully built folium
Installing collected packages: folium
  Found existing installation: folium 0.8.3
    Uninstalling folium-0.8.3:
      Successfully uninstalled folium-0.8.3
Successfully installed folium-0.2.1

In [0]:
!pip install coverage==3.7.1

Requirement already satisfied: coverage==3.7.1 in /usr/local/lib/python3.6/dist-packages (3.7.1)

In [0]:
!pip install pycm

Collecting pycm
  Downloading https://files.pythonhosted.org/packages/cb/0b/da5b285528def59a12a4b39ed9cc7d0fd45ae8d64d81a4eeec2450c1510d/pycm-2.5-py2.py3-none-any.whl (52kB)
     |████████████████████████████████| 61kB 2.0MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pycm) (1.17.4)
Collecting art>=1.8
  Downloading https://files.pythonhosted.org/packages/bd/56/e19355fbb3ea08d6133e7352242d47cdb6d09cf1e5744ab56443fb8bb6cb/art-4.3-py2.py3-none-any.whl (514kB)
     |████████████████████████████████| 522kB 7.1MB/s
Collecting coverage>=4.1
  Downloading https://files.pythonhosted.org/packages/5e/65/8560458e9d2d682a842b08e30161c2c22047fec6f7bde45cc2fc4c0f30b8/coverage-5.0.1-cp36-cp36m-manylinux1_x86_64.whl (226kB)
     |████████████████████████████████| 235kB 24.1MB/s
ERROR: datascience 0.10.6 has requirement coverage==3.7.1, but you'll have coverage 5.0.1 which is incompatible.
ERROR: coveralls 0.5 has requirement coverage<3.999,>=3.6, but you'll have coverage 5.0.1 which is incompatible.
Installing collected packages: coverage, art, pycm
  Found existing installation: coverage 3.7.1
    Uninstalling coverage-3.7.1:
      Successfully uninstalled coverage-3.7.1
Successfully installed art-4.3 coverage-5.0.1 pycm-2.5

In [0]:
!pip install scikit-tda

Collecting scikit-tda
  Downloading https://files.pythonhosted.org/packages/e2/67/14676df9d3c8fae3324f6a73e60e9b705c1dfea8131e275a313ab90bd09d/scikit_tda-0.0.3-py3-none-any.whl
Requirement already satisfied: umap-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.3.10)
Collecting tadasets
  Downloading https://files.pythonhosted.org/packages/5b/06/d1b9edccfcd071b245b0d1ab4b22eb2ff7aaeaa6d015db58d701d9782122/tadasets-0.0.4-py3-none-any.whl
Collecting ripser
  Downloading https://files.pythonhosted.org/packages/4c/17/d5e898161eb8e3b1084419bfc04adbe87d15075daa8e236df72dbe75167e/ripser-0.4.1.tar.gz (79kB)
     |████████████████████████████████| 81kB 2.4MB/s
Collecting kmapper
  Downloading https://files.pythonhosted.org/packages/fb/3f/a1290b9425a7e0ff4ae51a6e6ff68e50ad793b3460f435c2ec81c0383751/kmapper-1.2.0-py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 4.4MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.21.3)
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.29.14)
Collecting persim
  Downloading https://files.pythonhosted.org/packages/71/4a/ac537e6743337b00a8b3ff8b0d967827d3b5cfd9afd3a0bd117f5809d4d2/persim-0.1.1-py3-none-any.whl
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.17.4)
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.40.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.3.3)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (4.3.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (3.1.2)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper->scikit-tda) (2.10.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->scikit-tda) (0.14.1)
Collecting hopcroftkarp
  Downloading https://files.pythonhosted.org/packages/6b/56/7b03eba3c43008c490c9d52e69ea5334b65955f66836eb4f1962f3b0d421/hopcroftkarp-1.2.5.tar.gz
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->scikit-tda) (0.30.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow->scikit-tda) (0.46)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (1.1.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.4.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper->scikit-tda) (1.1.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->scikit-tda) (42.0.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->scikit-tda) (1.12.0)
Building wheels for collected packages: ripser, hopcroftkarp
  Building wheel for ripser (setup.py) ... done
  Created wheel for ripser: filename=ripser-0.4.1-cp36-cp36m-linux_x86_64.whl size=423313 sha256=5d345adb97f42ce05131d29ff3757e41dc01c91911dac8a23bfc49663d47e732
  Stored in directory: /root/.cache/pip/wheels/d4/12/da/56d55c3af62ebd5e0684d521f3e58c1a85ac312502c9e2d47d
  Building wheel for hopcroftkarp (setup.py) ... done
  Created wheel for hopcroftkarp: filename=hopcroftkarp-1.2.5-py2.py3-none-any.whl size=18091 sha256=3882fef7b269a641d63c7d6bba48735db1a7d497fae77928acd6aa2527ad949a
  Stored in directory: /root/.cache/pip/wheels/2b/e1/c9/1993c7f7f114b7d3fb2d3e895e02157a7ebf554861e9e54e01
Successfully built ripser hopcroftkarp
Installing collected packages: tadasets, hopcroftkarp, persim, ripser, kmapper, scikit-tda
Successfully installed hopcroftkarp-1.2.5 kmapper-1.2.0 persim-0.1.1 ripser-0.4.1 scikit-tda-0.0.3 tadasets-0.0.4

In [0]:
!pip install kmapper

Requirement already satisfied: kmapper in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper) (2.10.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.3.3)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from kmapper) (0.21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.17.4)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper) (1.1.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->kmapper) (0.14.1)

##### **Packages Used**

In [0]:
import numpy as np
import pandas as pd
import time
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
from scipy.stats import spearmanr
import pycm
from pycm import *
import kmapper as km
from sklearn.cluster import DBSCAN
import sklearn
from sklearn import ensemble
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

##### **Loading Notebook from Google Drive**

In [0]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
!cd /gdrive/My\ Drive/

In [0]:
missing_values = ["n/a", "na", "--", ' ', "NAN","nan","NA","NaN"]
data = pd.read_csv("/gdrive/My Drive/all_txns.csv",na_values=missing_values)
data.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,7,22,25,27,33,39,50,51,53,59,62,72,78,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   V1    V2            V3      V4  ... V117 V118  V119 V120
0   1  1100  500360265637  265637  ...  NaN  NaN   NaN  NaN
1   2  1100  500360403436  403436  ...  NaN  NaN   NaN  NaN
2   3  1100  500360483836  483836  ...  NaN  NaN   NaN  NaN
3   4  1100  500360094946   94946  ...  NaN  NaN   NaN  NaN
4   5  1100  500360135131  135131  ...  NaN  NaN   NaN  NaN

[5 rows x 120 columns]

##### **Removing completely NaN and constant columns**

In [0]:
indices1 = []
indices2 = []
start = time.time()
for col in data.columns:
  if data[col].isnull().sum() == len(data[col]):
    indices1.append(col)
  elif len(set(data[col])) == 1:
    indices2.append(col)
data=data.drop(indices1 + indices2,1)
data.shape
end = time.time()
print("Time taken to drop NaN and constant columns are:{}".format(end-start))

Time taken to drop NaN and constant columns are:65.66611051559448

##### It takes roughly about a minute to drop all the NaN and constant columns.

##### **Put column data type identifiers everywhere and for the NaNs we will convert them to a string or fixed number so that we can identify that as a category or a missing value later**

In [0]:
# Function that only checks categorical
def check_categorical(l):
   if(len(set(l))==(len(l))):
     return False
   elif(len(set(l))==1):
     return False
   else :
     return True

In [0]:
## It treats every missing value differently
## And so far we have come across 3 things that a column omitting its NaN values might be;
## Of dtype 'int64', 'float' or 'object'(this includes date)
## Of dtype dtype 'O' which means python object one example of which are values such as True or False
## Now depending on the data type of the rest of the column we will modify the NaN values 
# data['V76'][pd.isna(data['V76'])] = 0
# data['V76']

In [0]:
# set(data['V76'])

In [0]:
column_identifiers = {}
start = time.time()
for col in data.columns:
  l = data[col][pd.notna(data[col])]
  #now we will start working with l
  
  if(l.dtype == 'O' ):
    data[col][pd.isna(data[col])] = 'unknown_Python_object'
    column_identifiers[col] = 'Categorical'
  elif(l.dtype == 'object'):
    data[col][pd.isna(data[col])] = 'unknown_object_type'
    column_identifiers[col] = 'Categorical'
  elif(l.dtype == 'int64'):
    if(check_categorical(l) == True):
      data[col][pd.isna(data[col])] = 'unknown_numeric_category'
      column_identifiers[col] = 'Categorical'
    else:
      data[col][pd.isna(data[col])] = -1
      column_identifiers[col] = 'Integer'
  elif(l.dtype == 'float'):
    if(check_categorical(l) == True):
      data[col][pd.isna(data[col])] = 'unknown_float_category'
      column_identifiers[col] = 'Categorical'
    else:
      data[col][pd.isna(data[col])] = -1.0
      column_identifiers[col] = 'Float'
  elif(l.dtype == 'str'):
      data[col][pd.isna(data[col])] = -'unknown_string'
      column_identifiers[col] = 'String'
end = time.time()
print("Time taken to assign column datatypes:{}".format(end-start))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Time taken to assign column datatypes:1.7266528606414795

In [0]:
column_identifiers

{'V1': 'Integer',
 'V10': 'Categorical',
 'V102': 'Categorical',
 'V113': 'Categorical',
 'V114': 'Categorical',
 'V12': 'Categorical',
 'V13': 'Categorical',
 'V14': 'Categorical',
 'V15': 'Categorical',
 'V16': 'Categorical',
 'V18': 'Categorical',
 'V19': 'Categorical',
 'V2': 'Categorical',
 'V20': 'Categorical',
 'V21': 'Float',
 'V22': 'Categorical',
 'V23': 'Categorical',
 'V24': 'Categorical',
 'V25': 'Categorical',
 'V26': 'Categorical',
 'V27': 'Categorical',
 'V28': 'Categorical',
 'V29': 'Categorical',
 'V3': 'Categorical',
 'V30': 'Categorical',
 'V31': 'Categorical',
 'V32': 'Categorical',
 'V33': 'Categorical',
 'V34': 'Categorical',
 'V35': 'Categorical',
 'V36': 'Float',
 'V37': 'Categorical',
 'V38': 'Categorical',
 'V39': 'Categorical',
 'V4': 'Categorical',
 'V40': 'Categorical',
 'V41': 'Categorical',
 'V43': 'Categorical',
 'V44': 'Categorical',
 'V48': 'Float',
 'V49': 'Categorical',
 'V5': 'Categorical',
 'V50': 'Categorical',
 'V51': 'Categorical',
 'V52': 'Categorical',
 'V53': 'Categorical',
 'V54': 'Categorical',
 'V55': 'Categorical',
 'V56': 'Categorical',
 'V57': 'Categorical',
 'V58': 'Categorical',
 'V59': 'Categorical',
 'V6': 'Categorical',
 'V60': 'Categorical',
 'V61': 'Categorical',
 'V62': 'Categorical',
 'V63': 'Categorical',
 'V66': 'Categorical',
 'V67': 'Categorical',
 'V68': 'Categorical',
 'V69': 'Categorical',
 'V70': 'Categorical',
 'V73': 'Categorical',
 'V76': 'Categorical',
 'V77': 'Categorical',
 'V79': 'Categorical',
 'V8': 'Categorical',
 'V84': 'Categorical',
 'V85': 'Categorical',
 'V86': 'Categorical',
 'V89': 'Categorical',
 'V9': 'Categorical',
 'V90': 'Float',
 'V94': 'Categorical',
 'V97': 'Categorical',
 'V98': 'Categorical'}

##### **Seperating out the columns as type 'Float', 'Integer', 'Categorical'**

In [0]:
int_list = []
flo_list = []
cat_list = []
for key in column_identifiers.keys():
  if column_identifiers[key] == 'Categorical':
    cat_list.append(key)
  elif column_identifiers[key] == 'Float':
    flo_list.append(key)
  elif column_identifiers[key] == 'Integer':
    int_list.append(key)
print(int_list)
print(flo_list)
print(cat_list)

['V1']
['V21', 'V36', 'V48', 'V90']
['V2', 'V3', 'V4', 'V5', 'V6', 'V8', 'V9', 'V10', 'V12', 'V13', 'V14', 'V15', 'V16', 'V18', 'V19', 'V20', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34', 'V35', 'V37', 'V38', 'V39', 'V40', 'V41', 'V43', 'V44', 'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V59', 'V60', 'V61', 'V62', 'V63', 'V66', 'V67', 'V68', 'V69', 'V70', 'V73', 'V76', 'V77', 'V79', 'V84', 'V85', 'V86', 'V89', 'V94', 'V97', 'V98', 'V102', 'V113', 'V114']

In [0]:
data.head()

   V1    V2  ...                   V113                   V114
0   1  1100  ...  unknown_Python_object  unknown_Python_object
1   2  1100  ...  unknown_Python_object  unknown_Python_object
2   3  1100  ...  unknown_Python_object  unknown_Python_object
3   4  1100  ...  unknown_Python_object  unknown_Python_object
4   5  1100  ...  unknown_Python_object  unknown_Python_object

[5 rows x 76 columns]

##### We will drop columns 'V5' , 'V6', 'V9',  'V15', 'V16' from the categorical list because those are date columns which we will deal with differently.

In [0]:
remove = ['V5','V6','V9','V15','V16']
for i in remove:
  cat_list = list(filter(lambda a: a != i, cat_list))
cat_list

['V2',
 'V3',
 'V4',
 'V8',
 'V10',
 'V12',
 'V13',
 'V14',
 'V18',
 'V19',
 'V20',
 'V22',
 'V23',
 'V24',
 'V25',
 'V26',
 'V27',
 'V28',
 'V29',
 'V30',
 'V31',
 'V32',
 'V33',
 'V34',
 'V35',
 'V37',
 'V38',
 'V39',
 'V40',
 'V41',
 'V43',
 'V44',
 'V49',
 'V50',
 'V51',
 'V52',
 'V53',
 'V54',
 'V55',
 'V56',
 'V57',
 'V58',
 'V59',
 'V60',
 'V61',
 'V62',
 'V63',
 'V66',
 'V67',
 'V68',
 'V69',
 'V70',
 'V73',
 'V76',
 'V77',
 'V79',
 'V84',
 'V85',
 'V86',
 'V89',
 'V94',
 'V97',
 'V98',
 'V102',
 'V113',
 'V114']

##### We will now proceed to model fitting for the different combinations:
> Categorical vs. Continuous

> Categorical vs. Categorical

> Categorical vs. Categorical vs. Categorical (3 Categorical variables)

> Comparing date type columns(Also under Categorical right now)

##### **Continuous vs.  Categorical**
##### We will use two approaches here:
> Simple range method

>Fitting distributions(Gaussian)

##### **Simple range method**

In [0]:
## Function to output expected continuous amount given a categorical and a float column
def cat_vs_flo(c,f):
  if column_identifiers[c] != 'Categorical':
    print ('Check Data type of 1st argument')
  elif column_identifiers[f] != 'Float':
    print('Check Data type of 2nd argument')
  else:
    df_temp = data[[c,f]]
    grouped_data = pd.DataFrame(df_temp[c].groupby([df_temp[f]]).mean())
    return grouped_data

In [0]:
## Function to output expected integer values given a categorical and an integer column
def cat_vs_int(c,i):
  if column_identifiers[c] != 'Categorical':
    print ('Check Data type of 1st argument')
  elif column_identifiers[f] != 'Integer':
    print('Check Data type of 2nd argument')
  else:
    df_temp = data[[c,i]]
    grouped_data = pd.DataFrame(df_temp[c].groupby([df_temp[i]]).mean())
    return grouped_data

In [0]:
cat_vs_flo(cat_list[0],flo_list[0])

               V2
V21
-1.0  1200.000000
 0.0  1196.162239

##### So given the catagorical variable value our estimate of the continuous variable value is the mean of previous values seen for that category

In [0]:
cat_vs_int(cat_list[0],int_list[0])

         V2
V1
1      1100
2      1100
3      1100
4      1100
5      1100
...     ...
65533  1200
65534  1200
65535  1200
65536  1200
65537  1200

[65534 rows x 1 columns]

In [0]:
## Function to output contingency table given two categorical columns
def cat_vs_cat(c1,c2):
  if column_identifiers[c1] != 'Categorical':
    print ('Check Data type of 1st argument')
  elif column_identifiers[c2] != 'Categorical':
    print('Check Data type of 2nd argument')
  else:
    df_temp = data[[c1,c2]]
    grouped_data = pd.crosstab(df_temp[c1],df_temp[c2], dropna = False)
    return grouped_data

In [0]:
cat_vs_cat(cat_list[0],cat_list[1])

V3    820103380808  820103451495  ...  820277285664  ????????????
V2                                ...
1100             0             0  ...             0           882
1200             1             1  ...             1            30

[2 rows x 64540 columns]

##### So given a value which is one of the row labels we can traverse that row for the maximum value and return the column label corresponding to it.

In [0]:
## Function to output contingency table given 3 categorical columns
def cat_vs_cat_vs_cat(c1,c2,c3):
  if column_identifiers[c1] != 'Categorical':
    print ('Check Data type of 1st argument')
  elif column_identifiers[c2] != 'Categorical':
    print('Check Data type of 2nd argument')
  elif column_identifiers[c3] != 'Categorical':
    print('Check Data type of 3rd argument')
  else:
    df_temp = data[[c1,c2,c3]]
    grouped_data = pd.crosstab(df_temp[c1],[df_temp[c2],df_temp[c3]], dropna = False)
    return grouped_data

##### We should now divide up the categorical into LN(Long Nominal) and SN(Short Nominal)

In [0]:
categorical_type = {}
for c in cat_list:
  if(len(set(data[c]))>40):
    categorical_type[c] = 'LN'
  else:
    categorical_type[c] = 'SN'
print(categorical_type)

{'V2': 'SN', 'V3': 'LN', 'V4': 'LN', 'V8': 'SN', 'V10': 'LN', 'V12': 'SN', 'V13': 'SN', 'V14': 'SN', 'V18': 'SN', 'V19': 'SN', 'V20': 'SN', 'V22': 'SN', 'V23': 'SN', 'V24': 'SN', 'V25': 'SN', 'V26': 'SN', 'V27': 'SN', 'V28': 'SN', 'V29': 'SN', 'V30': 'SN', 'V31': 'SN', 'V32': 'SN', 'V33': 'SN', 'V34': 'SN', 'V35': 'LN', 'V37': 'LN', 'V38': 'SN', 'V39': 'LN', 'V40': 'SN', 'V41': 'LN', 'V43': 'LN', 'V44': 'SN', 'V49': 'LN', 'V50': 'LN', 'V51': 'SN', 'V52': 'LN', 'V53': 'LN', 'V54': 'SN', 'V55': 'LN', 'V56': 'LN', 'V57': 'LN', 'V58': 'LN', 'V59': 'SN', 'V60': 'LN', 'V61': 'SN', 'V62': 'SN', 'V63': 'SN', 'V66': 'SN', 'V67': 'SN', 'V68': 'SN', 'V69': 'SN', 'V70': 'SN', 'V73': 'SN', 'V76': 'SN', 'V77': 'SN', 'V79': 'LN', 'V84': 'SN', 'V85': 'SN', 'V86': 'LN', 'V89': 'SN', 'V94': 'SN', 'V97': 'LN', 'V98': 'SN', 'V102': 'LN', 'V113': 'SN', 'V114': 'SN'}

In [0]:
len(set(data[cat_list[1]]))

64540

##### We see that our function identifies it correctly as Long Nominal LN.

In [0]:
cat_vs_cat_vs_cat(cat_list[0],cat_list[3],cat_list[5])

V8      1                0              1        ...  H      I         J
V12     1      2      ?  1    2     ?   1     2  ...  2   ?  1  2   ?  1  2   ?
V2                                               ...
1100    0      0      0  0  437  1186   0     1  ...  0  20  0  0  10  0  0  15
1200  161  34897  22284  0    0     0  12  2437  ...  0   0  0  0   0  0  0   0

[2 rows x 54 columns]

In [0]:
# for i in cat_list:
#   for j in flot_list:
#     temp = data[[i,j]]
#     #grouped_temp = temp.groupby(by=j)
#     grouped_data = pd.DataFrame(temp[i].groupby([temp[j]]).mean())
#     for row in grouped_data.iterrows

In [0]:
# change question mark to unknown category(already taken care of in categorical encoding)
# category vs category modelling ?(take the most probable given the category)
# category vs continuous (taken the mean over the category)
# Date type columns compare (date type and numeic type)
# DE 18, 22, 49 ()
# Target Data (don't know which column that is over here)

##### **ROUGH WORK**

In [0]:

data2['TARGET'] = [x if x == 'Fraud' else 'Not Fraud' for x in list(data2['TARGET'])]
set(data2['TARGET'])

In [0]:
set(data['V120'].values)

In [0]:
data.columns

Index(['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V8', 'V9', 'V10', 'V12', 'V13',
       'V14', 'V15', 'V16', 'V18', 'V19', 'V20', 'V21', 'V22', 'V23', 'V24',
       'V25', 'V26', 'V27', 'V28', 'V29', 'V30', 'V31', 'V32', 'V33', 'V34',
       'V35', 'V36', 'V37', 'V38', 'V39', 'V40', 'V41', 'V43', 'V44', 'V48',
       'V49', 'V50', 'V51', 'V52', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58',
       'V59', 'V60', 'V61', 'V62', 'V63', 'V66', 'V67', 'V68', 'V69', 'V70',
       'V73', 'V76', 'V77', 'V79', 'V84', 'V85', 'V86', 'V89', 'V90', 'V94',
       'V97', 'V98', 'V102', 'V113', 'V114'],
      dtype='object')

In [0]:
data['V113'].dtype.name

'object'

In [0]:
set(data['V14'])

{'1', '6', '?'}

In [0]:
data.replace("nan",0)
data.head()

   V1    V2            V3      V4  ...  V98       V102 V113 V114
0   1  1100  500360265637  265637  ...  5.0  485855.29  NaN  NaN
1   2  1100  500360403436  403436  ...  5.0  117389.06  NaN  NaN
2   3  1100  500360483836  483836  ...  5.0  102000.95  NaN  NaN
3   4  1100  500360094946   94946  ...  5.0   59676.28  NaN  NaN
4   5  1100  500360135131  135131  ...  5.0   50250.00  NaN  NaN

[5 rows x 76 columns]

In [0]:
data['V113'].dtype

dtype('O')

In [0]:
data['V113'].dtype == 'O'

True

In [0]:
set(data['V113'][pd.notna(data['V113'])])

{True}

In [0]:
data[data['V113'] == True]

          V1    V2            V3      V4  ...  V98       V102  V113  V114
2892    2893  1200  820118387394  387394  ...  7.0  100013.04  True  True
3206    3207  1200  820118140073  140073  ...  7.0  339146.10  True  True
3278    3279  1200  820118839331  839331  ...  7.0   47612.99  True  True
3325    3326  1200  820118096413   96413  ...  7.0   44036.98  True  True
3358    3359  1200  820200364215  364215  ...  5.0   42339.90  True  True
...      ...   ...           ...     ...  ...  ...        ...   ...   ...
63388  63392  1200  820216235060  235060  ...  7.0  289082.15  True  True
63935  63939  1200  820216405130  405130  ...  7.0  631246.92  True  True
64867  64871  1200  820216403233  403233  ...  7.0   10247.37  True  True
64913  64917  1200  820216403754  403754  ...  7.0    9401.85  True  True
64986  64990  1200  820216227402  227402  ...  7.0  572055.75  True  True

[201 rows x 76 columns]

In [0]:
from pandas.api.types import is_datetime64_any_dtype as is_datetime

df[[column for column in df.columns if is_datetime(df[column])]]

dtype('O')

In [0]:
data[['V2','V3']]

         V2            V3
0      1100  500360265637
1      1100  500360403436
2      1100  500360483836
3      1100  500360094946
4      1100  500360135131
...     ...           ...
65529  1200  820216192640
65530  1200  820216192618
65531  1200  820216768854
65532  1200  820216192746
65533  1200  820216771091

[65534 rows x 2 columns]

In [0]:
type(data['V2'].groupby([data['V3']]).mean())

pandas.core.series.Series