<a href="https://colab.research.google.com/github/trinade96/Fortiate_Project/blob/master/Fortiate_DST_2(all_txns_csv).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **DST 2(all_txns.csv)**
##### Trina De

##### **Packages Installed**

In [4]:
!pip install folium==0.2.1

Collecting folium==0.2.1
  Downloading https://files.pythonhosted.org/packages/72/dd/75ced7437bfa7cb9a88b96ee0177953062803c3b4cde411a97d98c35adaf/folium-0.2.1.tar.gz (69kB)
     |████████████████████████████████| 71kB 2.1MB/s
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from folium==0.2.1) (2.10.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->folium==0.2.1) (1.1.1)
Building wheels for collected packages: folium
  Building wheel for folium (setup.py) ... done
  Created wheel for folium: filename=folium-0.2.1-cp36-none-any.whl size=79979 sha256=b29486a2c911484b7a4018233eb982de547a74d20dd7a81223e05d5cb943487e
  Stored in directory: /root/.cache/pip/wheels/b8/09/f0/52d2ef419c2aaf4fb149f92a33e0008bdce7ae816f0dd8f0c5
Successfully built folium
ERROR: datascience 0.10.6 has requirement coverage==3.7.1, but you'll have coverage 4.1 which is incompatible.
Installing collected packages: folium
  Found existing installation: folium 0.8.3
    Uninstalling folium-0.8.3:
      Successfully uninstalled folium-0.8.3
Successfully installed folium-0.2.1

In [5]:
!pip install coverage==3.7.1

Processing /root/.cache/pip/wheels/68/58/66/f1fc9afad272df0df0fa38cdef34ee2d5d8d6a85f4eb5acab5/coverage-3.7.1-cp36-cp36m-linux_x86_64.whl
ERROR: art 4.3 has requirement coverage>=4.1, but you'll have coverage 3.7.1 which is incompatible.
Installing collected packages: coverage
  Found existing installation: coverage 4.1
    Uninstalling coverage-4.1:
      Successfully uninstalled coverage-4.1
Successfully installed coverage-3.7.1

In [6]:
!pip install pycm

Requirement already satisfied: pycm in /usr/local/lib/python3.6/dist-packages (2.5)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.6/dist-packages (from pycm) (1.17.4)
Requirement already satisfied: art>=1.8 in /usr/local/lib/python3.6/dist-packages (from pycm) (4.3)
Collecting coverage>=4.1
  Using cached https://files.pythonhosted.org/packages/51/b1/13609068fff1c8c056f0c4601ad6985cf5c1bbfc529196ab08bd2a57dc39/coverage-4.5.4-cp36-cp36m-manylinux1_x86_64.whl
ERROR: datascience 0.10.6 has requirement coverage==3.7.1, but you'll have coverage 4.5.4 which is incompatible.
ERROR: coveralls 0.5 has requirement coverage<3.999,>=3.6, but you'll have coverage 4.5.4 which is incompatible.
Installing collected packages: coverage
  Found existing installation: coverage 3.7.1
    Uninstalling coverage-3.7.1:
      Successfully uninstalled coverage-3.7.1
Successfully installed coverage-4.5.4

In [7]:
!pip install scikit-tda

Collecting scikit-tda
  Downloading https://files.pythonhosted.org/packages/e2/67/14676df9d3c8fae3324f6a73e60e9b705c1dfea8131e275a313ab90bd09d/scikit_tda-0.0.3-py3-none-any.whl
Requirement already satisfied: umap-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.3.10)
Requirement already satisfied: pillow in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (4.3.0)
Collecting kmapper
  Downloading https://files.pythonhosted.org/packages/fb/3f/a1290b9425a7e0ff4ae51a6e6ff68e50ad793b3460f435c2ec81c0383751/kmapper-1.2.0-py3-none-any.whl (93kB)
     |████████████████████████████████| 102kB 3.1MB/s
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (3.1.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.3.3)
Collecting persim
  Downloading https://files.pythonhosted.org/packages/71/4a/ac537e6743337b00a8b3ff8b0d967827d3b5cfd9afd3a0bd117f5809d4d2/persim-0.1.1-py3-none-any.whl
Requirement already satisfied: numba in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.40.1)
Collecting tadasets
  Downloading https://files.pythonhosted.org/packages/5b/06/d1b9edccfcd071b245b0d1ab4b22eb2ff7aaeaa6d015db58d701d9782122/tadasets-0.0.4-py3-none-any.whl
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (1.17.4)
Collecting ripser
  Downloading https://files.pythonhosted.org/packages/4c/17/d5e898161eb8e3b1084419bfc04adbe87d15075daa8e236df72dbe75167e/ripser-0.4.1.tar.gz (79kB)
     |████████████████████████████████| 81kB 8.4MB/s
Requirement already satisfied: Cython in /usr/local/lib/python3.6/dist-packages (from scikit-tda) (0.29.14)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from pillow->scikit-tda) (0.46)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper->scikit-tda) (2.10.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.6.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (2.4.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->scikit-tda) (1.1.0)
Collecting hopcroftkarp
  Downloading https://files.pythonhosted.org/packages/6b/56/7b03eba3c43008c490c9d52e69ea5334b65955f66836eb4f1962f3b0d421/hopcroftkarp-1.2.5.tar.gz
Requirement already satisfied: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba->scikit-tda) (0.30.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->scikit-tda) (0.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper->scikit-tda) (1.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->scikit-tda) (1.12.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from kiwisolver>=1.0.1->matplotlib->scikit-tda) (42.0.2)
Building wheels for collected packages: ripser, hopcroftkarp
  Building wheel for ripser (setup.py) ... done
  Created wheel for ripser: filename=ripser-0.4.1-cp36-cp36m-linux_x86_64.whl size=423311 sha256=5e418ca4b6befdfde82a5bb06db349b025d38cf60e3c37118e8d3d03d9707b1c
  Stored in directory: /root/.cache/pip/wheels/d4/12/da/56d55c3af62ebd5e0684d521f3e58c1a85ac312502c9e2d47d
  Building wheel for hopcroftkarp (setup.py) ... done
  Created wheel for hopcroftkarp: filename=hopcroftkarp-1.2.5-py2.py3-none-any.whl size=18091 sha256=f02d88634c9f48d1351de4939785a73ba9e46e610b85693b93730120118df0f0
  Stored in directory: /root/.cache/pip/wheels/2b/e1/c9/1993c7f7f114b7d3fb2d3e895e02157a7ebf554861e9e54e01
Successfully built ripser hopcroftkarp
Installing collected packages: kmapper, hopcroftkarp, persim, tadasets, ripser, scikit-tda
Successfully installed hopcroftkarp-1.2.5 kmapper-1.2.0 persim-0.1.1 ripser-0.4.1 scikit-tda-0.0.3 tadasets-0.0.4

In [8]:
!pip install kmapper

Requirement already satisfied: kmapper in /usr/local/lib/python3.6/dist-packages (1.2.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from kmapper) (0.21.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.17.4)
Requirement already satisfied: Jinja2 in /usr/local/lib/python3.6/dist-packages (from kmapper) (2.10.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from kmapper) (1.3.3)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->kmapper) (0.14.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2->kmapper) (1.1.1)

##### **Packages Used**

In [0]:
import numpy as np
import pandas as pd
import time
from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype
from scipy.stats import spearmanr
import pycm
from pycm import *
import kmapper as km
from sklearn.cluster import DBSCAN
import sklearn
from sklearn import ensemble
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt

##### **Loading Notebook from Google Drive**

In [10]:
from google.colab import drive
drive.mount('/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive

In [0]:
!cd /gdrive/My\ Drive/

In [5]:
data = pd.read_csv("/gdrive/My Drive/all_txns.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2,7,22,25,27,33,39,50,51,53,59,62,72,78,93) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
data.head()

   V1    V2            V3      V4  ... V117 V118  V119 V120
0   1  1100  500360265637  265637  ...  NaN  NaN   NaN  NaN
1   2  1100  500360403436  403436  ...  NaN  NaN   NaN  NaN
2   3  1100  500360483836  483836  ...  NaN  NaN   NaN  NaN
3   4  1100  500360094946   94946  ...  NaN  NaN   NaN  NaN
4   5  1100  500360135131  135131  ...  NaN  NaN   NaN  NaN

[5 rows x 120 columns]

In [7]:
len(data)

65534

In [8]:
data2=data.copy()
data2.head()

   V1    V2            V3      V4  ... V117 V118  V119 V120
0   1  1100  500360265637  265637  ...  NaN  NaN   NaN  NaN
1   2  1100  500360403436  403436  ...  NaN  NaN   NaN  NaN
2   3  1100  500360483836  483836  ...  NaN  NaN   NaN  NaN
3   4  1100  500360094946   94946  ...  NaN  NaN   NaN  NaN
4   5  1100  500360135131  135131  ...  NaN  NaN   NaN  NaN

[5 rows x 120 columns]

##### **Function to find categorical variables**

In [0]:
#Function to find if a column is categorical or not and assign numerical encoding to it
def check_categorical(l):
  if(len(set(l))==(len(l))):
    return False, l
  elif(len(set(l))==1):
    return False, l
  else :
    l = np.array(l)
    c=0
    for i in set(l):
      l[np.where(l == i)] = c
      c=c+1
    return True, l

##### **Finding categorical variables for 'all_txns.csv'**

In [0]:
names = list(data2.columns)
removable_indices =[]
for col in data2.columns:
  ## Removing columns that have NaNs
  if(data2[col].isnull().sum()>0):
    removable_indices.append(col)
  ## Removing columns that have object data type such as date object or filled with '???'
  if(data2[col].dtype.name == 'object'):
    removable_indices.append(col)

In [0]:
removable_indices = set(removable_indices)
data2 = data2.drop(removable_indices,1)

In [12]:
data2.head()

   V1    V2      V4  V7           V10     V17  ...  V69  V70  V71  V72  V106  V107
0   1  1100  265637   0  3.871512e+14  704684  ...    1    1    0  200     0     0
1   2  1100  403436   0  3.871513e+14  704684  ...    1    1    0  200     0     0
2   3  1100  483836   0  3.871510e+14  704684  ...    1    1    0  200     0     0
3   4  1100   94946   0  3.871510e+14  704684  ...    1    1    0  200     0     0
4   5  1100  135131   0  3.871518e+14  704684  ...    1    1    0  200     0     0

[5 rows x 34 columns]

In [13]:
data2.shape

(65534, 34)

In [14]:
start_time = time.time()
names = list(data2.columns)
for col in data2.columns:
  print(col)
  bool, new_col = check_categorical(list(data2[col]))
  if(bool == True):
    ## Changing categorical columns to encoded columns
    data2[col] = new_col
data2.head()
end_time = time.time()
print("Time taken to find and encode categorical columns : {} seconds".format(end_time-start_time))

V1
V2
V4
V7
V10
V17
V18
V19
V20
V22
V25
V27
V35
V37
V38
V39
V41
V43
V47
V49
V50
V55
V59
V61
V62
V66
V67
V68
V69
V70
V71
V72
V106
V107
Time taken to find and encode categorical columns : 6.070633411407471 seconds

##### Time taken is around 8 seconds

##### **Writing encoded dataframe to google drive to be used directly for future purposes**

In [0]:
data2.to_csv('data2.csv')
!cp data2.csv /gdrive/My\ Drive/encoded_data.csv

##### **From now on we will be using encoded_data.csv for our purposes**

In [0]:
encoded = pd.read_csv("/gdrive/My Drive/encoded_data.csv")

In [0]:
## Dropping non-numeric columns after encoding 
for col in encoded.columns:
  if(is_numeric_dtype(encoded[col])== False):
    encoded = encoded.drop(col, 1)

In [18]:
encoded.head()

   Unnamed: 0  V1  V2     V4  V7      V10  ...  V69  V70  V71  V72  V106  V107
0           0   1   1   1984   0  13343.0  ...    1    1    0  200     0     0
1           1   2   1   5531   0  21775.0  ...    1    1    0  200     0     0
2           2   3   1  45531   0  31570.0  ...    1    1    0  200     0     0
3           3   4   1  47559   0  29973.0  ...    1    1    0  200     0     0
4           4   5   1   2302   0  17465.0  ...    1    1    0  200     0     0

[5 rows x 35 columns]

In [19]:
encoded.shape

(65534, 35)

In [0]:
## Dropping NaNs and object data types
for col in encoded.columns:
  if(encoded[col].isnull().sum()>0):
    encoded = encoded.drop(col,1)
  elif(encoded[col].dtype.name == 'object'):
    encoded = encoded.drop(col,1)

In [21]:
encoded.head()

   Unnamed: 0  V1  V2     V4  V7      V10  ...  V69  V70  V71  V72  V106  V107
0           0   1   1   1984   0  13343.0  ...    1    1    0  200     0     0
1           1   2   1   5531   0  21775.0  ...    1    1    0  200     0     0
2           2   3   1  45531   0  31570.0  ...    1    1    0  200     0     0
3           3   4   1  47559   0  29973.0  ...    1    1    0  200     0     0
4           4   5   1   2302   0  17465.0  ...    1    1    0  200     0     0

[5 rows x 35 columns]

In [22]:
encoded.shape

(65534, 35)

##### So there was no NaNs or object data type columns in encoded.

In [0]:
## Removing the float type data columns because they may be indicative of continuous variables. Good thing the encodings preserve the data types.
## So if something was float originally so is the encoding.
for col in encoded.columns:
  if encoded[col].dtype == 'float':
    encoded = encoded.drop(col,1)

In [24]:
encoded.shape

(65534, 29)

In [25]:
encoded.columns

Index(['Unnamed: 0', 'V1', 'V2', 'V4', 'V7', 'V17', 'V18', 'V19', 'V20', 'V22',
       'V25', 'V27', 'V37', 'V47', 'V49', 'V50', 'V55', 'V59', 'V61', 'V62',
       'V66', 'V67', 'V68', 'V69', 'V70', 'V71', 'V72', 'V106', 'V107'],
      dtype='object')

In [0]:
encoded = encoded.drop('Unnamed: 0',1)

##### **Function to create dataframe where all variables are normalized between 0 and 1**

In [0]:
## Change the range between 0 and 1
def normalize(df):
  df_new=pd.DataFrame()
  for col in df.columns:
    l = list(df[col])
    ## avoiding divisions by zero
    if np.max(l) == 0 :
      l = np.linspace(0,0,len(df[col]-1))
    else:
      l = l/np.max(l) 
    df_new[col]=l
  return df_new

In [28]:
normalize(encoded)

             V1   V2        V4   V7  V17  ...  V70  V71  V72  V106  V107
0      0.000015  1.0  0.031306  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
1      0.000031  1.0  0.087274  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
2      0.000046  1.0  0.718438  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
3      0.000061  1.0  0.750438  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
4      0.000076  1.0  0.036323  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
...         ...  ...       ...  ...  ...  ...  ...  ...  ...   ...   ...
65529  0.999939  0.0  0.506288  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
65530  0.999954  0.0  0.506036  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
65531  0.999969  0.0  0.880899  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
65532  0.999985  0.0  0.507345  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0
65533  1.000000  0.0  0.896710  0.0  1.0  ...  1.0  0.0  1.0   0.0   0.0

[65534 rows x 28 columns]

In [0]:
encoded_normalized = normalize(encoded)

##### **Function to remove columns which are a list on distinct values for eg. the index**

In [0]:
def remove_index_like(df):
  df_new = df.copy()
  indices = []
  for i in df_new.columns:
    if len(df[i]) == len(set(df[i])):
      indices.append(i)
  df_new = df_new.drop(indices,1)
  return df_new

In [0]:
encoded = remove_index_like(encoded)

In [32]:
encoded.shape

(65534, 27)

In [33]:
encoded_normalized = remove_index_like(encoded_normalized)
encoded_normalized.shape

(65534, 27)

##### **Correlation between columns of encoded data**

##### **Spearman's Rank Correlation**

In [34]:
corr_spearman_df = encoded.corr(method='spearman')
corr_spearman_df

            V2        V4  V7  V17       V18  ...       V70  V71  V72  V106  V107
V2    1.000000 -0.002267 NaN  NaN -0.402743  ... -0.150347  NaN  NaN   NaN   NaN
V4   -0.002267  1.000000 NaN  NaN  0.017972  ...  0.006769  NaN  NaN   NaN   NaN
V7         NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN
V17        NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN
V18  -0.402743  0.017972 NaN  NaN  1.000000  ...  0.091596  NaN  NaN   NaN   NaN
V19  -0.014277 -0.005003 NaN  NaN  0.017176  ...  0.003247  NaN  NaN   NaN   NaN
V20  -0.065482  0.008116 NaN  NaN -0.004814  ...  0.014893  NaN  NaN   NaN   NaN
V22  -0.028335 -0.010655 NaN  NaN  0.113788  ... -0.011043  NaN  NaN   NaN   NaN
V25   0.969477 -0.001333 NaN  NaN -0.398411  ... -0.226787  NaN  NaN   NaN   NaN
V27  -0.098389 -0.029695 NaN  NaN  0.135669  ... -0.006874  NaN  NaN   NaN   NaN
V37  -0.008668 -0.003164 NaN  NaN  0.148511  ...  0.006522  NaN  NaN   NaN   NaN
V47        NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN
V49   0.008561  0.013828 NaN  NaN  0.130110  ...  0.020374  NaN  NaN   NaN   NaN
V50  -0.070602  0.000605 NaN  NaN  0.057071  ... -0.011417  NaN  NaN   NaN   NaN
V55   0.057655 -0.013748 NaN  NaN -0.008994  ... -0.007501  NaN  NaN   NaN   NaN
V59  -0.128907  0.004278 NaN  NaN  0.085259  ...  0.930821  NaN  NaN   NaN   NaN
V61   0.195165 -0.007442 NaN  NaN -0.106974  ... -0.856262  NaN  NaN   NaN   NaN
V62   0.043726  0.000583 NaN  NaN -0.017610  ... -0.192259  NaN  NaN   NaN   NaN
V66   0.990214 -0.002249 NaN  NaN -0.406723  ... -0.225205  NaN  NaN   NaN   NaN
V67  -0.150347  0.006769 NaN  NaN  0.091596  ...  1.000000  NaN  NaN   NaN   NaN
V68   0.122502 -0.004496 NaN  NaN -0.083414  ... -0.910680  NaN  NaN   NaN   NaN
V69  -0.195060  0.007444 NaN  NaN  0.106975  ...  0.856239  NaN  NaN   NaN   NaN
V70  -0.150347  0.006769 NaN  NaN  0.091596  ...  1.000000  NaN  NaN   NaN   NaN
V71        NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN
V72        NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN
V106       NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN
V107       NaN       NaN NaN  NaN       NaN  ...       NaN  NaN  NaN   NaN   NaN

[27 rows x 27 columns]

##### **We will now try to return the pairs for which there is significant correlation between columns**

In [0]:
index_dict2={}
for col in corr_spearman_df:
  ## Picking out pairs for which the correlation is greater than 0.7 or by our understanding, high
  index = np.where(abs(corr_spearman_df[col]) > 0.7)
  ## Getting indices of such pairs
  index_dict2[col]=index

In [0]:
names2=np.array(corr_spearman_df.columns)
for key in index_dict2.keys():
  ## Coverting the indices into column names
  index_dict2[key]=names2[index_dict2[key][0]]

In [37]:
index_dict2

{'V106': array([], dtype=object),
 'V107': array([], dtype=object),
 'V17': array([], dtype=object),
 'V18': array(['V18'], dtype=object),
 'V19': array(['V19'], dtype=object),
 'V2': array(['V2', 'V25', 'V66'], dtype=object),
 'V20': array(['V20'], dtype=object),
 'V22': array(['V22', 'V27'], dtype=object),
 'V25': array(['V2', 'V25', 'V66'], dtype=object),
 'V27': array(['V22', 'V27'], dtype=object),
 'V37': array(['V37'], dtype=object),
 'V4': array(['V4'], dtype=object),
 'V47': array([], dtype=object),
 'V49': array(['V49'], dtype=object),
 'V50': array(['V50'], dtype=object),
 'V55': array(['V55'], dtype=object),
 'V59': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V61': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V62': array(['V62'], dtype=object),
 'V66': array(['V2', 'V25', 'V66'], dtype=object),
 'V67': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V68': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V69': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V7': array([], dtype=object),
 'V70': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V71': array([], dtype=object),
 'V72': array([], dtype=object)}

##### **Doing the same for the normalized and encoded dataframe**

In [38]:
start = time.time()
corr_spearman_df_normed = encoded_normalized.corr(method='spearman')

index_dict3={}
for col in corr_spearman_df_normed:
  index = np.where(abs(corr_spearman_df_normed[col]) > 0.7)
  index_dict3[col]=index

names3=np.array(corr_spearman_df_normed.columns)
for key in index_dict3.keys():
  index_dict3[key]=names3[index_dict3[key][0]]

end = time.time()
print("Time taken to create Correlation Dictionary for encoded and normalized dataframe is: {} seconds".format(end-start))

Time taken to create Correlation Dictionary for encoded and normalized dataframe is: 1.9103021621704102 seconds

In [39]:
index_dict3

{'V106': array([], dtype=object),
 'V107': array([], dtype=object),
 'V17': array([], dtype=object),
 'V18': array(['V18'], dtype=object),
 'V19': array(['V19'], dtype=object),
 'V2': array(['V2', 'V25', 'V66'], dtype=object),
 'V20': array(['V20'], dtype=object),
 'V22': array(['V22', 'V27'], dtype=object),
 'V25': array(['V2', 'V25', 'V66'], dtype=object),
 'V27': array(['V22', 'V27'], dtype=object),
 'V37': array(['V37'], dtype=object),
 'V4': array(['V4'], dtype=object),
 'V47': array([], dtype=object),
 'V49': array(['V49'], dtype=object),
 'V50': array(['V50'], dtype=object),
 'V55': array(['V55'], dtype=object),
 'V59': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V61': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V62': array(['V62'], dtype=object),
 'V66': array(['V2', 'V25', 'V66'], dtype=object),
 'V67': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V68': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V69': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V7': array([], dtype=object),
 'V70': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V71': array([], dtype=object),
 'V72': array([], dtype=object)}

##### **Pearson's Correlation**

In [40]:
start = time.time()
corr_pearson_df = encoded.corr(method='pearson')

index_dict={}
for col in corr_pearson_df:
  ## picking out columns for which correlation with col is greater than 0.7
  index = np.where(abs(corr_pearson_df[col]) > 0.7)
  index_dict[col]=index

names=np.array(corr_pearson_df.columns)
for key in index_dict.keys():
  index_dict[key]=names[index_dict[key][0]]

end = time.time()
print("Time taken to create Correlation Dictionary for only encoded dataframe is: {} seconds".format(end-start))

Time taken to create Correlation Dictionary for only encoded dataframe is: 0.1296837329864502 seconds

In [41]:
index_dict

{'V106': array([], dtype=object),
 'V107': array([], dtype=object),
 'V17': array([], dtype=object),
 'V18': array(['V18'], dtype=object),
 'V19': array(['V19'], dtype=object),
 'V2': array(['V2', 'V25', 'V66'], dtype=object),
 'V20': array(['V20'], dtype=object),
 'V22': array(['V22', 'V27'], dtype=object),
 'V25': array(['V2', 'V25', 'V66'], dtype=object),
 'V27': array(['V22', 'V27'], dtype=object),
 'V37': array(['V37'], dtype=object),
 'V4': array(['V4'], dtype=object),
 'V47': array([], dtype=object),
 'V49': array(['V49'], dtype=object),
 'V50': array(['V50'], dtype=object),
 'V55': array(['V55'], dtype=object),
 'V59': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V61': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V62': array(['V62'], dtype=object),
 'V66': array(['V2', 'V25', 'V66'], dtype=object),
 'V67': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V68': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V69': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V7': array([], dtype=object),
 'V70': array(['V59', 'V61', 'V67', 'V68', 'V69', 'V70'], dtype=object),
 'V71': array([], dtype=object),
 'V72': array([], dtype=object)}

##### This does not make sense since this are not actual numerical values, encodings rather, so we cannot consider linear correlation between them. Also the NaNs appear when there are constants in the column. They will be weeded out when we consider significant correlations and will be removed before clustering.

##### **Goodman Kruskall's Lambda(for nominal)**
##### **Do Goodman Kruskall's Gamma(for ordinal)**
##### Is there something tolerant to both ? We will do it for both encoded and encoded_normalized

##### **Function to remove constant values**

In [0]:
def remove_constants(df):
  df_new = df.copy()
  indices = []
  for col in df_new.columns:
    if len(set(df_new[col])) == 1:
      indices.append(col)
  df_new = df_new.drop(indices,1)
  return df_new

In [54]:
encoded = remove_constants(encoded)
encoded.shape

(65534, 20)

In [69]:
## For trial
col1 = list(encoded[encoded.columns[0]])
col2 = list(encoded[encoded.columns[1]])

print(len(set(col1)))
print(len(set(col2)))

2
63363

In [66]:
## We pick a random sample out of the columns for 
## c1 = np.random.choice(col1,1000,replace=False)
## c2 = np.random.choice(col2,1000,replace=False)
df = pd.DataFrame()
df.insert(0,encoded.columns[0],col1)
df.insert(1,encoded.columns[1],col2)
df_test = df.sample(1000)
df_test.head()

       V2     V4
32573   0  62242
47907   0   5751
41381   0  50481
52272   0  17944
54197   0   4590

In [0]:
cm = ConfusionMatrix(list(df_test[encoded.columns[0]]), list(df_test[encoded.columns[1]]))

In [68]:
## In this case null hypothesis is that the variables are independent and alternative is that they are not
## We will reject the null hypothesis in case PValue is less than 0.05 and accept otherwise
## For eg in this case we accept
cm.PValue

1

##### Doing the test for all the pairs in the dataframe encoded

In [0]:
names = encoded.columns
names = sorted(names)

In [77]:
start = time.time()
related = []
pvalue = []
for i in range(0,len(names)-1):
  for j in range(i+1,len(names)):
    n1 = names[i]
    n2 = names[j]
    df = pd.DataFrame()
    df.insert(0,n1,col1)
    df.insert(1,n2,col2)
    df_test = df.sample(1000)
    cm = ConfusionMatrix(list(df_test[n1]), list(df_test[n2]))
    related.append([n1,n2])
    pvalue.append(cm.PValue)
      #print("{}".fomat(n1+','+n2))
    print(i,j)
end = time.time()
print("Time taken to get categorically related variables from encoded is : {}".format(end-start))

0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
0 10
0 11
0 12
0 13
0 14
0 15
0 16
0 17
0 18
0 19
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
1 10
1 11
1 12
1 13
1 14
1 15
1 16
1 17
1 18
1 19
2 3
2 4
2 5
2 6
2 7
2 8
2 9
2 10
2 11
2 12
2 13
2 14
2 15
2 16
2 17
2 18
2 19
3 4
3 5
3 6
3 7
3 8
3 9
3 10
3 11
3 12
3 13
3 14
3 15
3 16
3 17
3 18
3 19
4 5
4 6
4 7
4 8
4 9
4 10
4 11
4 12
4 13
4 14
4 15
4 16
4 17
4 18
4 19
5 6
5 7
5 8
5 9
5 10
5 11
5 12
5 13
5 14
5 15
5 16
5 17
5 18
5 19
6 7
6 8
6 9
6 10
6 11
6 12
6 13
6 14
6 15
6 16
6 17
6 18
6 19
7 8
7 9
7 10
7 11
7 12
7 13
7 14
7 15
7 16
7 17
7 18
7 19
8 9
8 10
8 11
8 12
8 13
8 14
8 15
8 16
8 17
8 18
8 19
9 10
9 11
9 12
9 13
9 14
9 15
9 16
9 17
9 18
9 19
10 11
10 12
10 13
10 14
10 15
10 16
10 17
10 18
10 19
11 12
11 13
11 14
11 15
11 16
11 17
11 18
11 19
12 13
12 14
12 15
12 16
12 17
12 18
12 19
13 14
13 15
13 16
13 17
13 18
13 19
14 15
14 16
14 17
14 18
14 19
15 16
15 17
15 18
15 19
16 17
16 18
16 19
17 18
17 19
18 19
Time taken to get categorically related variables from encoded is : 2147.77446269989

##### The time taken about is about 35 minutes.

In [0]:
## The following are the related columns 
related

In [0]:
related_df = pd.DataFrame(columns = ['Categorical_1','Categorical_2', 'pvalue'])
Categorical_1 = []
Categorical_2 = []
for i in range(0,len(related)):
  Categorical_1.append(related[i][0])
  Categorical_2.append(related[i][1])
related_df['Categorical_1'] = Categorical_1
related_df['Categorical_2'] = Categorical_2
related_df['pvalue'] = pvalue

In [82]:
related_df.head()

  Categorical_1 Categorical_2  pvalue
0           V18           V19     1.0
1           V18            V2     1.0
2           V18           V20     1.0
3           V18           V22     1.0
4           V18           V25     1.0

In [101]:
related_df[related_df['pvalue']<=1]

    Categorical_1 Categorical_2  pvalue
0             V18           V19     1.0
1             V18            V2     1.0
2             V18           V20     1.0
3             V18           V22     1.0
4             V18           V25     1.0
..            ...           ...     ...
185           V67           V69     1.0
186           V67           V70     1.0
187           V68           V69     1.0
188           V68           V70     1.0
189           V69           V70     1.0

[190 rows x 3 columns]

##### So this method shows that none of the pairs of columns are dependent on each other.

### **Clustering using KMapper, pick clusters with more fraud data, using dataframe encoded**

In [0]:
encoded.to_csv('data_ready_for_clustering.csv')
!cp data_ready_for_clustering.csv /gdrive/My\ Drive/data_ready_for_clustering.csv

In [16]:
mapper_data = pd.read_csv('/gdrive/My Drive/data_ready_for_clustering.csv')
mapper_data.shape

(65534, 21)

In [0]:
l=[]
for i  in np.arange(1,len(mapper_data),1):
  l.append(list(mapper_data.iloc[i,:]))
l=np.array(l)

In [25]:
l

array([[    1,     1,  5531, ...,     0,     1,     1],
       [    2,     1, 45531, ...,     0,     1,     1],
       [    3,     1, 47559, ...,     0,     1,     1],
       ...,
       [65531,     0, 55827, ...,     0,     1,     1],
       [65532,     0, 32153, ...,     0,     1,     1],
       [65533,     0, 56829, ...,     0,     1,     1]])

##### **Trials for the right parameters for clustering**

##### Here there are parameters like **nr_cubes**, inside DBScan algorithm,**eps**, **leaf_size**, **min_samples**, **metric** which are specific to problem which we try to optimize by trial. For many combinations of these parameters that are unsuitable for the dataset, the clustering would not work.

https://scikit-learn.org/stable/modules/generated/sklearn.cluster.dbscan.html

##### Look at the above link for details about arguments of DBScan

In [29]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

# Fit to and transform the data
projected_data = mapper.fit_transform(l, projection=[0,1]) # X-Y axis

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, l, nr_cubes=10, overlap_perc = 0.1 ,clusterer = DBSCAN(algorithm ='auto',eps = 100, leaf_size = 500, metric='euclidean',
    metric_params=None, min_samples=10, n_jobs=-1, p=None))

# Visualize it
html=mapper.visualize(graph, path_html="all_txns_clustering_output.html",
                 title="all_txns(eps = 100, min_samples  = 10, overlap_perc = 0.1)")

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: [0, 1]
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (65533, 21)

..Projecting data using: [0, 1]

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (65533, 21) using lens shaped (65533, 2)

Creating 100 hypercubes.

Created 48 edges and 585 nodes in 0:00:02.528843.
Wrote visualization to: all_txns_clustering_output.html

##### These set of parameters do not help much giving rise to a huge number of clusters with low membership which makes it difficult to identify characteristics of clusters. There are a few edges for overlapping clusters but there those are less and not much connected, not helping significantly in inference.

In [28]:
# Initialize
mapper = km.KeplerMapper(verbose=1)

# Fit to and transform the data
projected_data = mapper.fit_transform(l, projection=[0,1]) # X-Y axis

# Create dictionary called 'graph' with nodes, edges and meta-information
graph = mapper.map(projected_data, l, nr_cubes=10, overlap_perc = 0.4 ,clusterer = DBSCAN(algorithm ='auto',eps = 1000, leaf_size = 500, metric='euclidean',
    metric_params=None, min_samples=10, n_jobs=-1, p=None))

# Visualize it
html=mapper.visualize(graph, path_html="all_txns_clustering_output.html",
                 title="all_txns(eps = 1000 , min_samples  = 10, overlap_perc = 0.4)")

KeplerMapper()
..Composing projection pipeline of length 1:
	Projections: [0, 1]
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (65533, 21)

..Projecting data using: [0, 1]

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (65533, 21) using lens shaped (65533, 2)

Creating 100 hypercubes.

Created 11 edges and 14 nodes in 0:00:04.678482.
Wrote visualization to: all_txns_clustering_output.html

##### For this we can see a chain of nodes with two branchings of depth 1. For more details, please have a look at the html file. There are two nodes which are stand alone and compose less than 1 percent of the data points. It might be worthwhile to study these points seperately to identify features. Also we can study what changes across the chain to give rise to the different nodes.

##### **Trying out a new projection function and clustering algorithm**

In [31]:
model = ensemble.IsolationForest(random_state=1729)
model.fit(l)
lens1 = model.decision_function(l).reshape((l.shape[0], 1))

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/iforest.py:237: FutureWarning: default contamination parameter 0.1 will change in version 0.22 to "auto". This will change the predict method behavior.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/iforest.py:247: FutureWarning: behaviour="old" is deprecated and will be removed in version 0.22. Please use behaviour="new", which makes the decision_function change to match other anomaly detection algorithm API.
  FutureWarning)

In [33]:
lens2 = mapper.fit_transform(l, projection="l2norm")
lens = np.c_[lens1, lens2]

graph2 = mapper.map(lens,
                      l,
                      nr_cubes=10,
                      overlap_perc=0.4,
                      clusterer=sklearn.cluster.KMeans(n_clusters=10,
                                                       random_state=3471))

html2=mapper.visualize(graph2, path_html="all_txns_clustering_KMeans.html",
                 title="all_txns(n_clusters = 10, overlap_perc = 0.4)")

..Composing projection pipeline of length 1:
	Projections: l2norm
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (65533, 21)

..Projecting data using: l2norm

..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (65533, 21) using lens shaped (65533, 2)

Creating 100 hypercubes.

Created 4229 edges and 950 nodes in 0:00:23.704347.
Wrote visualization to: all_txns_clustering_KMeans.html

##### This set of parameters is clearly not optimal since it gives rise to too many nodes and edges, but we can see a pattern of increasing membership in the nodes as we move along the mesh. The reason for such high number of nodes could be since we used the l2 norms which are mostly distinct. What is interesting is that there are some points which are isolated which can be useful in our case to study seperately.

In [37]:
# model = ensemble.IsolationForest(random_state=1729)
# model.fit(l)
# lens1 = model.decision_function(l).reshape((l.shape[0], 1))

#Since we wish to visualize we are forced to have number of components under PCA to 1
lens3 = mapper.fit_transform(l, projection=PCA(n_components=1))

lens13 = np.c_[lens1, lens3]

graph3 = mapper.map(lens13,
                      l,
                      nr_cubes=10,
                      overlap_perc=0.4,
                      clusterer=sklearn.cluster.KMeans(n_clusters=5,
                                                       random_state=3471))

html3=mapper.visualize(graph3, path_html="all_txns_clustering_KMeans2.html",
                 title="all_txns(n_clusters = 5, overlap_perc = 0.4, PCA_n_components = 1)")

..Composing projection pipeline of length 1:
	Projections: PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)
	Distance matrices: False
	Scalers: MinMaxScaler(copy=True, feature_range=(0, 1))
..Projecting on data shaped (65533, 21)

..Projecting data using:
	PCA(copy=True, iterated_power='auto', n_components=1, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)


..Scaling with: MinMaxScaler(copy=True, feature_range=(0, 1))

Mapping on data shaped (65533, 21) using lens shaped (65533, 2)

Creating 100 hypercubes.

Created 2418 edges and 475 nodes in 0:00:17.359103.
Wrote visualization to: all_txns_clustering_KMeans2.html

##### This reduces the complexity of the graph but we no longer see the isolated points as we had seen before. Whether this projection combined with the clustering is better or not can only be judged by using this on labelled data.

In [0]:
from kmapper import jupyter
html=mapper.visualize(graph, path_html="all_txns_clustering_output.html",
                 title="all_txns(noise=0.03, factor=0.3)")
jupyter.display(path_html="all_txns_clustering_output.html")

Wrote visualization to: all_txns_clustering_output.html

##### **Future Work**
> 1. Try out Goodman Kruskal's Gamma and Lambda for tests of association between categorical variables.

> 2. Try changing the projection and clustering algorithm to see if better results can be achieved, better results can only be judged based on labelled data.

### **Rough Work**

In [0]:
names[index_dict['V13'][0]]

array(['V12', 'V13', 'V14', 'V22', 'V24', 'V27', 'V28', 'V33', 'V34'],
      dtype=object)

In [17]:
start = time.time()
for i in range(0,10):
  print(i)
end = time.time()
print("Time taken:{} seconds".format(end-start))

0
1
2
3
4
5
6
7
8
9
Time taken:0.0010488033294677734 seconds

In [0]:
set(encoded['V17'])

{704684}

In [0]:
data2['V81'].isnull().sum()

65534

In [0]:
data2['V34'].dtype.name

'object'

In [0]:
len(data.columns)

120

In [0]:
l = data['V2']
len(l)

65534

In [0]:
len(set(l))

2

In [0]:
l=np.array(l)

In [0]:
l[np.where(l == 1100)]=0
l[np.where(l == 1200)]=1

In [0]:
set(l)

{1100, 1200}

In [0]:
set(l)

{0, 1}