<a href="https://colab.research.google.com/github/trinade96/Fortiate_Project/blob/master/Numeric_vs_Image_Encoding(What_If_Tool).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### In this notebook we will be essentially looking to see if an image encoding works better than numeric encoding for our data. The way of the learning about the data will be neural networks. We will try some pretrained classic neural networks, some which are more suited for images, but to be fair we will apply the same structures to the numeric encoding too to see if we can gain an advantage. We will also try to get computation times and steps if possible.

##### **Packages Used**

In [ ]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error, classification_report, confusion_matrix, mean_absolute_error
from scipy.stats import chi2_contingency as chi_test
from sklearn.datasets import load_boston
from pandas.api.types import is_float_dtype
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
import imblearn
from imblearn.over_sampling import RandomOverSampler
import seaborn as sns
import matplotlib.pyplot as plt
import itertools
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Dense, Conv2D, Flatten, Dropout, MaxPooling2D, BatchNormalization, GlobalAveragePooling2D
from tensorflow.keras.models import Model
from tensorflow.keras.preprocessing.image import ImageDataGenerator
from tensorflow.keras.regularizers import l2
from tensorflow.keras.optimizers import SGD,Adam
from keras.utils import np_utils
from tensorflow.keras import optimizers
from tensorflow.keras.applications.inception_v3 import InceptionV3, preprocess_input as preprocess_inputV3

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: FutureWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.neighbors.base module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.neighbors. Anything that cannot be imported from sklearn.neighbors is now part of the private API.
  warnings.warn(message, FutureWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm
Using TensorFlow backend.

In [ ]:
print(tf.__version__)

2.2.0

##### **Reading the data**

In [ ]:
from google.colab import drive
#drive.flush_and_unmount()
drive.mount('/gdrive')
%cd /gdrive

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive

In [ ]:
data = pd.read_excel('/gdrive/My Drive/Random-Forest-Rules-Final-Rearranged-mindmap.xlsx')
data.head()

  TRANSACTION_CURRENCY   PD4  PD11  ...   C_20    ECOM_INFO E_COM_INDICATOR
0              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05
1              CURR356  ATC9  TOC1  ...  T0797  AXASK05AEVV           ECI05
2              CURR356  ATC9  TOC1  ...  T0537  AXASK05AEVV           ECI05
3              CURR356  ATC9  TOC1  ...  T0796  AXASK05AEVV           ECI05
4              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05

[5 rows x 44 columns]

In [ ]:
data.shape

(105271, 44)

##### We will be treating the data a little differently here, not removing the NaNs but keeping them as a different category so it can be passed to the classifier so we don't loose too data

In [ ]:
for col in data.keys():
  data[col] = data[col].fillna(str(col+'NA'))
  print(data[col].isnull().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [ ]:
data.dropna(axis=0)
data.shape

(105271, 44)

##### Now we will move onto to removing the index like columns and then encoding the dataset to be passed on to the classifier.

##### **Function to remove columns which are a list on distinct values for eg. the index**

In [ ]:
def remove_index_like(df):
  df_new = df.copy()
  indices = []
  for i in df_new.columns:
    if len(df[i]) == len(set(df[i])):
      indices.append(i)
  df_new = df_new.drop(indices,1)
  return df_new

In [ ]:
data_dt = remove_index_like(data)

In [ ]:
data_dt.shape

(105271, 44)

In [ ]:
data_dt.head()

  TRANSACTION_CURRENCY   PD4  PD11  ...   C_20    ECOM_INFO E_COM_INDICATOR
0              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05
1              CURR356  ATC9  TOC1  ...  T0797  AXASK05AEVV           ECI05
2              CURR356  ATC9  TOC1  ...  T0537  AXASK05AEVV           ECI05
3              CURR356  ATC9  TOC1  ...  T0796  AXASK05AEVV           ECI05
4              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05

[5 rows x 44 columns]

##### So there are no index like columns here, so we can simply convert all of them via LabelEncoder to numeric encodings to be passed on to the decision tree, however we will first find out the float type columns and have them be as it is.

##### **Function to remove constant values**

In [ ]:
def remove_constants(df):
  df_new = df.copy()
  indices = []
  for col in df_new.columns:
    if len(set(df_new[col])) == 1:
      indices.append(col)
  df_new = df_new.drop(indices,1)
  return df_new

In [ ]:
data_dt = remove_constants(data_dt)
data_dt.shape

(105271, 44)

##### Therefore there are no constant columns in the dataset

In [ ]:
data_dt.columns

Index(['TRANSACTION_CURRENCY', 'PD4', 'PD11', 'PROC_CODE_12', 'PD8', 'MCC',
       'POS_ENTRY_MODE', 'SERVICE_CODE', 'BILLING_AMOUNT',
       'TRANSACTION_LOCAL_DATE', 'TRANSMISSION_DATE_TIME',
       'RESPONSE_DATE_TIME', 'PAN', 'VALID_FROM', 'EXPIRY_DATE',
       'PROC_CODE_34', 'PROC_CODE_56', 'PD1', 'PD2', 'PD3', 'PD5', 'PD6',
       'PD7', 'PD9', 'PD10', 'PD12', 'TRANSACTION_AMOUNT', 'BILLING_CURRENCY',
       'CONVERSION_RATE_DATE', 'SETTLEMENT_AMOUNT', 'SETTLEMENT_CURRENCY',
       'SETTLEMENT_DATE', 'ACQUIRING_COUNTRY_CODE', 'CARD_ACCEPTOR_TERM_ID',
       'CARD_ACCEPTOR_ID', 'CARD_ACC_NAME_ADDRESS', 'AUTHORIZATION_CODE',
       'DECISION', 'TARGET', 'C_100', 'C_40', 'C_20', 'ECOM_INFO',
       'E_COM_INDICATOR'],
      dtype='object')

##### We will be using a network called Inception V3 which is a pretrained network and we will be training it with our data, starting with previously learned weights and we will be using the same on the Image Encoded data. Once again we will use 'E_COM_INDICATOR' as the labelling column.

##### **Trial on What-If Tool (with dummy dataset)**

In [ ]:
#@title Install the What-If Tool widget if running in colab {display-mode: "form"}

try:
  import google.colab
  !pip install --upgrade witwidget
except:
  pass

Collecting witwidget
  Downloading https://files.pythonhosted.org/packages/a9/12/d61b3104cde5181e3340dbd7620885d4127f62e0ef4f738786e226683127/witwidget-1.7.0-py3-none-any.whl (2.3MB)
     |████████████████████████████████| 2.3MB 2.0MB/s
Requirement already satisfied, skipping upgrade: absl-py>=0.4 in /usr/local/lib/python3.6/dist-packages (from witwidget) (0.9.0)
Requirement already satisfied, skipping upgrade: oauth2client>=4.1.3 in /usr/local/lib/python3.6/dist-packages (from witwidget) (4.1.3)
Requirement already satisfied, skipping upgrade: six>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from witwidget) (1.12.0)
Requirement already satisfied, skipping upgrade: tensorflow>=1.12.1 in /usr/local/lib/python3.6/dist-packages (from witwidget) (2.2.0)
Requirement already satisfied, skipping upgrade: google-api-python-client>=1.7.8 in /usr/local/lib/python3.6/dist-packages (from witwidget) (1.7.12)
Requirement already satisfied, skipping upgrade: jupyter<2,>=1.0 in /usr/local/lib/python3.6/dist-packages (from witwidget) (1.0.0)
Requirement already satisfied, skipping upgrade: ipywidgets>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from witwidget) (7.5.1)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.0.5 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.1.3->witwidget) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa>=3.1.4 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.1.3->witwidget) (4.6)
Requirement already satisfied, skipping upgrade: httplib2>=0.9.1 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.1.3->witwidget) (0.17.4)
Requirement already satisfied, skipping upgrade: pyasn1>=0.1.7 in /usr/local/lib/python3.6/dist-packages (from oauth2client>=4.1.3->witwidget) (0.4.8)
Requirement already satisfied, skipping upgrade: astunparse==1.6.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.6.3)
Requirement already satisfied, skipping upgrade: protobuf>=3.8.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (3.10.0)
Requirement already satisfied, skipping upgrade: opt-einsum>=2.3.2 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (3.2.1)
Requirement already satisfied, skipping upgrade: tensorboard<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (2.2.2)
Requirement already satisfied, skipping upgrade: google-pasta>=0.1.8 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (0.2.0)
Requirement already satisfied, skipping upgrade: tensorflow-estimator<2.3.0,>=2.2.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (2.2.0)
Requirement already satisfied, skipping upgrade: keras-preprocessing>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.1.2)
Requirement already satisfied, skipping upgrade: termcolor>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.1.0)
Requirement already satisfied, skipping upgrade: h5py<2.11.0,>=2.10.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (2.10.0)
Requirement already satisfied, skipping upgrade: gast==0.3.3 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (0.3.3)
Requirement already satisfied, skipping upgrade: numpy<2.0,>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.18.5)
Requirement already satisfied, skipping upgrade: scipy==1.4.1; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.4.1)
Requirement already satisfied, skipping upgrade: wrapt>=1.11.1 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.12.1)
Requirement already satisfied, skipping upgrade: wheel>=0.26; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (0.34.2)
Requirement already satisfied, skipping upgrade: grpcio>=1.8.6 in /usr/local/lib/python3.6/dist-packages (from tensorflow>=1.12.1->witwidget) (1.30.0)
Requirement already satisfied, skipping upgrade: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.7.8->witwidget) (0.0.4)
Requirement already satisfied, skipping upgrade: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.7.8->witwidget) (3.0.1)
Requirement already satisfied, skipping upgrade: google-auth>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client>=1.7.8->witwidget) (1.17.2)
Requirement already satisfied, skipping upgrade: qtconsole in /usr/local/lib/python3.6/dist-packages (from jupyter<2,>=1.0->witwidget) (4.7.5)
Requirement already satisfied, skipping upgrade: nbconvert in /usr/local/lib/python3.6/dist-packages (from jupyter<2,>=1.0->witwidget) (5.6.1)
Requirement already satisfied, skipping upgrade: ipykernel in /usr/local/lib/python3.6/dist-packages (from jupyter<2,>=1.0->witwidget) (4.10.1)
Requirement already satisfied, skipping upgrade: notebook in /usr/local/lib/python3.6/dist-packages (from jupyter<2,>=1.0->witwidget) (5.2.2)
Requirement already satisfied, skipping upgrade: jupyter-console in /usr/local/lib/python3.6/dist-packages (from jupyter<2,>=1.0->witwidget) (5.2.0)
Requirement already satisfied, skipping upgrade: nbformat>=4.2.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->witwidget) (5.0.7)
Requirement already satisfied, skipping upgrade: widgetsnbextension~=3.5.0 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->witwidget) (3.5.1)
Requirement already satisfied, skipping upgrade: traitlets>=4.3.1 in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->witwidget) (4.3.3)
Requirement already satisfied, skipping upgrade: ipython>=4.0.0; python_version >= "3.3" in /usr/local/lib/python3.6/dist-packages (from ipywidgets>=7.0.0->witwidget) (5.5.0)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.8.0->tensorflow>=1.12.1->witwidget) (49.1.0)
Requirement already satisfied, skipping upgrade: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (1.7.0)
Requirement already satisfied, skipping upgrade: markdown>=2.6.8 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (3.2.2)
Requirement already satisfied, skipping upgrade: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (0.4.1)
Requirement already satisfied, skipping upgrade: werkzeug>=0.11.15 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (1.0.1)
Requirement already satisfied, skipping upgrade: requests<3,>=2.21.0 in /usr/local/lib/python3.6/dist-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (2.23.0)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.4.1->google-api-python-client>=1.7.8->witwidget) (4.1.1)
Requirement already satisfied, skipping upgrade: jupyter-client>=4.1 in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter<2,>=1.0->witwidget) (5.3.5)
Requirement already satisfied, skipping upgrade: qtpy in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter<2,>=1.0->witwidget) (1.9.0)
Requirement already satisfied, skipping upgrade: jupyter-core in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter<2,>=1.0->witwidget) (4.6.3)
Requirement already satisfied, skipping upgrade: pyzmq>=17.1 in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter<2,>=1.0->witwidget) (19.0.1)
Requirement already satisfied, skipping upgrade: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter<2,>=1.0->witwidget) (0.2.0)
Requirement already satisfied, skipping upgrade: pygments in /usr/local/lib/python3.6/dist-packages (from qtconsole->jupyter<2,>=1.0->witwidget) (2.1.3)
Requirement already satisfied, skipping upgrade: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (0.4.4)
Requirement already satisfied, skipping upgrade: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (0.6.0)
Requirement already satisfied, skipping upgrade: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (0.8.4)
Requirement already satisfied, skipping upgrade: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (0.3)
Requirement already satisfied, skipping upgrade: jinja2>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (2.11.2)
Requirement already satisfied, skipping upgrade: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (1.4.2)
Requirement already satisfied, skipping upgrade: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert->jupyter<2,>=1.0->witwidget) (3.1.5)
Requirement already satisfied, skipping upgrade: tornado>=4.0 in /usr/local/lib/python3.6/dist-packages (from ipykernel->jupyter<2,>=1.0->witwidget) (4.5.3)
Requirement already satisfied, skipping upgrade: terminado>=0.3.3; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from notebook->jupyter<2,>=1.0->witwidget) (0.8.3)
Requirement already satisfied, skipping upgrade: prompt-toolkit<2.0.0,>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from jupyter-console->jupyter<2,>=1.0->witwidget) (1.0.18)
Requirement already satisfied, skipping upgrade: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->witwidget) (2.6.0)
Requirement already satisfied, skipping upgrade: decorator in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->witwidget) (4.4.2)
Requirement already satisfied, skipping upgrade: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->witwidget) (0.8.1)
Requirement already satisfied, skipping upgrade: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->witwidget) (4.8.0)
Requirement already satisfied, skipping upgrade: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=4.0.0; python_version >= "3.3"->ipywidgets>=7.0.0->witwidget) (0.7.5)
Requirement already satisfied, skipping upgrade: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (1.7.0)
Requirement already satisfied, skipping upgrade: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (1.3.0)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (1.24.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from jupyter-client>=4.1->qtconsole->jupyter<2,>=1.0->witwidget) (2.8.1)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.4->nbconvert->jupyter<2,>=1.0->witwidget) (1.1.1)
Requirement already satisfied, skipping upgrade: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->jupyter<2,>=1.0->witwidget) (0.5.1)
Requirement already satisfied, skipping upgrade: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert->jupyter<2,>=1.0->witwidget) (20.4)
Requirement already satisfied, skipping upgrade: ptyprocess; os_name != "nt" in /usr/local/lib/python3.6/dist-packages (from terminado>=0.3.3; sys_platform != "win32"->notebook->jupyter<2,>=1.0->witwidget) (0.6.0)
Requirement already satisfied, skipping upgrade: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.0->jupyter-console->jupyter<2,>=1.0->witwidget) (0.2.5)
Requirement already satisfied, skipping upgrade: zipp>=0.5 in /usr/local/lib/python3.6/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (3.1.0)
Requirement already satisfied, skipping upgrade: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow>=1.12.1->witwidget) (3.1.0)
Requirement already satisfied, skipping upgrade: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->bleach->nbconvert->jupyter<2,>=1.0->witwidget) (2.4.7)
Installing collected packages: witwidget
Successfully installed witwidget-1.7.0

In [ ]:


import pandas as pd
import numpy as np
import tensorflow as tf
import functools

# Creates a tf feature spec from the dataframe and columns specified.
def create_feature_spec(df, columns=None):
    feature_spec = {}
    if columns == None:
        columns = df.columns.values.tolist()
    for f in columns:
        if df[f].dtype is np.dtype(np.int64):
            feature_spec[f] = tf.io.FixedLenFeature(shape=(), dtype=tf.int64)
        elif df[f].dtype is np.dtype(np.float64):
            feature_spec[f] = tf.io.FixedLenFeature(shape=(), dtype=tf.float32)
        else:
            feature_spec[f] = tf.io.FixedLenFeature(shape=(), dtype=tf.string)
    return feature_spec

# Creates simple numeric and categorical feature columns from a feature spec and a
# list of columns from that spec to use.
#
# NOTE: Models might perform better with some feature engineering such as bucketed
# numeric columns and hash-bucket/embedding columns for categorical features.
def create_feature_columns(columns, feature_spec):
    ret = []
    for col in columns:
        if feature_spec[col].dtype is tf.int64 or feature_spec[col].dtype is tf.float32:
            ret.append(tf.feature_column.numeric_column(col))
        else:
            ret.append(tf.feature_column.indicator_column(
                tf.feature_column.categorical_column_with_vocabulary_list(col, list(df[col].unique()))))
    return ret

# An input function for providing input to a model from tf.Examples
def tfexamples_input_fn(examples, feature_spec, label, mode=tf.estimator.ModeKeys.EVAL,
                       num_epochs=None, 
                       batch_size=64):
    def ex_generator():
        for i in range(len(examples)):
            yield examples[i].SerializeToString()
    dataset = tf.data.Dataset.from_generator(
      ex_generator, tf.dtypes.string, tf.TensorShape([]))
    if mode == tf.estimator.ModeKeys.TRAIN:
        dataset = dataset.shuffle(buffer_size=2 * batch_size + 1)
    dataset = dataset.batch(batch_size)
    dataset = dataset.map(lambda tf_example: parse_tf_example(tf_example, label, feature_spec))
    dataset = dataset.repeat(num_epochs)
    return dataset

# Parses Tf.Example protos into features for the input function.
def parse_tf_example(example_proto, label, feature_spec):
    parsed_features = tf.io.parse_example(serialized=example_proto, features=feature_spec)
    target = parsed_features.pop(label)
    return parsed_features, target

# Converts a dataframe into a list of tf.Example protos.
def df_to_examples(df, columns=None):
    examples = []
    if columns == None:
        columns = df.columns.values.tolist()
    for index, row in df.iterrows():
        example = tf.train.Example()
        for col in columns:
            if df[col].dtype is np.dtype(np.int64):
                example.features.feature[col].int64_list.value.append(int(row[col]))
            elif df[col].dtype is np.dtype(np.float64):
                example.features.feature[col].float_list.value.append(row[col])
            elif row[col] == row[col]:
                example.features.feature[col].bytes_list.value.append(row[col].encode('utf-8'))
        examples.append(example)
    return examples

# Converts a dataframe column into a column of 0's and 1's based on the provided test.
# Used to force label columns to be numeric for binary classification using a TF estimator.
def make_label_column_numeric(df, label_column, test):
  df[label_column] = np.where(test(df[label_column]), 1, 0)

In [ ]:


import pandas as pd

# Set the path to the CSV containing the dataset to train on.
csv_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'

# Set the column names for the columns in the CSV. If the CSV's first line is a header line containing
# the column names, then set this to None.
csv_columns = [
  "Age", "Workclass", "fnlwgt", "Education", "Education-Num", "Marital-Status",
  "Occupation", "Relationship", "Race", "Sex", "Capital-Gain", "Capital-Loss",
  "Hours-per-week", "Country", "Over-50K"]

# Read the dataset from the provided CSV and print out information about it.
df = pd.read_csv(csv_path, names=csv_columns, skipinitialspace=True)

df

       Age         Workclass  fnlwgt  ... Hours-per-week        Country Over-50K
0       39         State-gov   77516  ...             40  United-States    <=50K
1       50  Self-emp-not-inc   83311  ...             13  United-States    <=50K
2       38           Private  215646  ...             40  United-States    <=50K
3       53           Private  234721  ...             40  United-States    <=50K
4       28           Private  338409  ...             40           Cuba    <=50K
...    ...               ...     ...  ...            ...            ...      ...
32556   27           Private  257302  ...             38  United-States    <=50K
32557   40           Private  154374  ...             40  United-States     >50K
32558   58           Private  151910  ...             40  United-States    <=50K
32559   22           Private  201490  ...             20  United-States    <=50K
32560   52      Self-emp-inc  287927  ...             40  United-States     >50K

[32561 rows x 15 columns]

In [ ]:
import numpy as np

# Set the column in the dataset you wish for the model to predict
label_column = 'Over-50K'

# Make the label column numeric (0 and 1), for use in our model.
# In this case, examples with a target value of '>50K' are considered to be in
# the '1' (positive) class and all other examples are considered to be in the
# '0' (negative) class.
make_label_column_numeric(df, label_column, lambda val: val == '>50K') #Designed for label column to have two types of categories only

# Set list of all columns from the dataset we will use for model input.
input_features = [
  'Age', 'Workclass', 'Education', 'Marital-Status', 'Occupation',
  'Relationship', 'Race', 'Sex', 'Capital-Gain', 'Capital-Loss',
  'Hours-per-week', 'Country']

# Create a list containing all input features and the label column
features_and_labels = input_features + [label_column]

In [ ]:

examples = df_to_examples(df)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             32561 non-null  int64
 1   Workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   Education       32561 non-null  object
 4   Education-Num   32561 non-null  int64
 5   Marital-Status  32561 non-null  object
 6   Occupation      32561 non-null  object
 7   Relationship    32561 non-null  object
 8   Race            32561 non-null  object
 9   Sex             32561 non-null  object
 10  Capital-Gain    32561 non-null  int64
 11  Capital-Loss    32561 non-null  int64
 12  Hours-per-week  32561 non-null  int64
 13  Country         32561 non-null  object
 14  Over-50K        32561 non-null  int64
dtypes: int64(7), object(8)
memory usage: 3.7+ MB

In [ ]:

num_steps = 2000  #@param {type: "number"}

# Create a feature spec for the classifier
feature_spec = create_feature_spec(df, features_and_labels)

# Define and train the classifier
train_inpf = functools.partial(tfexamples_input_fn, examples, feature_spec, label_column)
classifier = tf.estimator.LinearClassifier(
    feature_columns=create_feature_columns(input_features, feature_spec))
classifier.train(train_inpf, steps=num_steps)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp4fpjqsyt
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp4fpjqsyt', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/feature_column/feature_column_v2.py:540: Layer.add_variable (from tensorflow.python.keras.engine.base_layer_v1) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/optimizer_v2/ftrl.py:144: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp4fpjqsyt/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 0.6931472, step = 0
INFO:tensorflow:global_step/sec: 66.7084
INFO:tensorflow:loss = 4.3250794, step = 100 (1.502 sec)
INFO:tensorflow:global_step/sec: 71.6981
INFO:tensorflow:loss = 11.4678545, step = 200 (1.395 sec)
INFO:tensorflow:global_step/sec: 72.2073
INFO:tensorflow:loss = 2.509011, step = 300 (1.383 sec)
INFO:tensorflow:global_step/sec: 80.8297
INFO:tensorflow:loss = 4.097835, step = 400 (1.237 sec)
INFO:tensorflow:global_step/sec: 83.1589
INFO:tensorflow:loss = 0.79038805, step = 500 (1.205 sec)
INFO:tensorflow:global_step/sec: 81.8833
INFO:tensorflow:loss = 0.7786808, step = 600 (1.219 sec)
INFO:tensorflow:global_step/sec: 82.435
INFO:tensorflow:loss = 0.16190353, step = 700 (1.213 sec)
INFO:tensorflow:global_step/sec: 84.2319
INFO:tensorflow:loss = 0.35617125, step = 800 (1.187 sec)
INFO:tensorflow:global_step/sec: 82.1039
INFO:tensorflow:loss = 0.53900015, step = 900 (1.220 sec)
INFO:tensorflow:global_step/sec: 82.9285
INFO:tensorflow:loss = 0.48104578, step = 1000 (1.206 sec)
INFO:tensorflow:global_step/sec: 83.9588
INFO:tensorflow:loss = 0.5816037, step = 1100 (1.189 sec)
INFO:tensorflow:global_step/sec: 81.8171
INFO:tensorflow:loss = 0.213393, step = 1200 (1.222 sec)
INFO:tensorflow:global_step/sec: 83.1143
INFO:tensorflow:loss = 0.8337926, step = 1300 (1.206 sec)
INFO:tensorflow:global_step/sec: 83.2043
INFO:tensorflow:loss = 1.2698033, step = 1400 (1.200 sec)
INFO:tensorflow:global_step/sec: 81.5501
INFO:tensorflow:loss = 4.6343484, step = 1500 (1.229 sec)
INFO:tensorflow:global_step/sec: 81.8769
INFO:tensorflow:loss = 3.2351253, step = 1600 (1.219 sec)
INFO:tensorflow:global_step/sec: 82.3931
INFO:tensorflow:loss = 3.4642472, step = 1700 (1.214 sec)
INFO:tensorflow:global_step/sec: 82.9112
INFO:tensorflow:loss = 0.7801547, step = 1800 (1.206 sec)
INFO:tensorflow:global_step/sec: 83.5843
INFO:tensorflow:loss = 0.51367044, step = 1900 (1.199 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 2000...
INFO:tensorflow:Saving checkpoints for 2000 into /tmp/tmp4fpjqsyt/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 2000...
INFO:tensorflow:Loss for final step: 1.5769616.

In [ ]:
num_steps_2 = 2000  #@param {type: "number"}

classifier2 = tf.estimator.DNNClassifier(
    feature_columns=create_feature_columns(input_features, feature_spec),
    hidden_units=[128, 64, 32])
classifier2.train(train_inpf, steps=num_steps_2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpelmaz9ds
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpelmaz9ds', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmpelmaz9ds/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 12.912296, step = 0
INFO:tensorflow:global_step/sec: 74.9319
INFO:tensorflow:loss = 3.7992015, step = 100 (1.336 sec)
INFO:tensorflow:global_step/sec: 81.2784
INFO:tensorflow:loss = 0.5062412, step = 200 (1.230 sec)
INFO:tensorflow:global_step/sec: 80.1749
INFO:tensorflow:loss = 0.46280152, step = 300 (1.247 sec)
INFO:tensorflow:global_step/sec: 79.2454
INFO:tensorflow:loss = 0.43129784, step = 400 (1.262 sec)
INFO:tensorflow:global_step/sec: 81.7185
INFO:tensorflow:loss = 0.44804633, step = 500 (1.224 sec)
INFO:tensorflow:global_step/sec: 82.3991
INFO:tensorflow:loss = 0.47489882, step = 600 (1.216 sec)
INFO:tensorflow:global_step/sec: 80.3495
INFO:tensorflow:loss = 0.39213955, step = 700 (1.242 sec)
INFO:tensorflow:global_step/sec: 81.4903
INFO:tensorflow:loss = 0.41631192, step = 800 (1.227 sec)
INFO:tensorflow:global_step/sec: 81.2625
INFO:tensorflow:loss = 0.41803885, step = 900 (1.230 sec)
INFO:tensorflow:global_step/sec: 80.7884
INFO:tensorflow:loss = 0.52179825, step = 1000 (1.238 sec)
INFO:tensorflow:global_step/sec: 80.6572
INFO:tensorflow:loss = 0.45820194, step = 1100 (1.240 sec)
INFO:tensorflow:global_step/sec: 81.3761
INFO:tensorflow:loss = 0.48613197, step = 1200 (1.231 sec)
INFO:tensorflow:global_step/sec: 81.1799
INFO:tensorflow:loss = 0.45087495, step = 1300 (1.229 sec)
INFO:tensorflow:global_step/sec: 82.3031
INFO:tensorflow:loss = 0.62899506, step = 1400 (1.215 sec)
INFO:tensorflow:global_step/sec: 82.1984
INFO:tensorflow:loss = 0.5360976, step = 1500 (1.219 sec)
INFO:tensorflow:global_step/sec: 81.5524
INFO:tensorflow:loss = 0.33901247, step = 1600 (1.224 sec)
INFO:tensorflow:global_step/sec: 81.2909
INFO:tensorflow:loss = 0.48260415, step = 1700 (1.230 sec)
INFO:tensorflow:global_step/sec: 81.5471
INFO:tensorflow:loss = 0.5008159, step = 1800 (1.226 sec)
INFO:tensorflow:global_step/sec: 81.2592
INFO:tensorflow:loss = 0.57256997, step = 1900 (1.231 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 2000...
INFO:tensorflow:Saving checkpoints for 2000 into /tmp/tmpelmaz9ds/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 2000...
INFO:tensorflow:Loss for final step: 0.38663775.

##### **What-if tool on dummy dataset**
Run the commented out section at the bottom of the cell to run the tool, refer to exploration ideas below to find out more about the data

In [ ]:

num_datapoints = 2000  #@param {type: "number"}
tool_height_in_px = 1000  #@param {type: "number"}

from witwidget.notebook.visualization import WitConfigBuilder
from witwidget.notebook.visualization import WitWidget

# Load up the test dataset
test_csv_path = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.test'
test_df = pd.read_csv(test_csv_path, names=csv_columns, skipinitialspace=True,
  skiprows=1)
make_label_column_numeric(test_df, label_column, lambda val: val == '>50K.')
test_examples = df_to_examples(test_df[0:num_datapoints])

# Setup the tool with the test examples and the trained classifier

# config_builder = WitConfigBuilder(test_examples[0:num_datapoints]).set_estimator_and_feature_spec(
#     classifier, feature_spec).set_compare_estimator_and_feature_spec(
#     classifier2, feature_spec).set_label_vocab(['Under 50K', 'Over 50K'])
# a = WitWidget(config_builder, height=tool_height_in_px)

#### Exploration ideas

- Organize datapoints by setting X-axis scatter to "inference score 1" and Y-axis scatter to "inference score 2" to see how each datapoint differs in score between the linear model (1) and DNN model (2). Points off the diagonal have differences in results between the two models.
  - Are there patterns of which datapoints don't agree between the two models?
  - If you set the ground truth feature dropdown in the "Performance + Fairness" tab to "Over-50K", then you can color or bin the datapoints by "inference correct 1" or "inference correct 2". Are there patterns of which datapoints are incorrect for model 1? For model 2?

- Explore performance of the two models through the confusion matrices in the "Performance + Fairness" tab. Which model is best? Train either model for longer and see if you can change this. Are the rates of errors (false positives and false negatives) that the two models make different?
  - Click the "optimize threshold" button to set the optimal positive classification threshold for each model based on the current cost ratio of 1. How do those thresholds and the resulting confusion matrices differ?
    - Change the cost ratio and optimize the threshold again. How does the threshold and performance change on the two models?
  - Slice the dataset by features, such as "sex" or "race". Does either model have more-equal performance between slices?
    - Use the threshold optimization buttons to set optimal thresholds based on the different fairness constraints. How does performance between slices differ between the two models. Does one require larger differences in threshold values per slice to achieve the desired constraint?

- Looking at the create_feature_columns function in the "Define helper methods" cell, categorical features use one-hot encodings in the model. Perhaps change a many-valued categorical feature, such as education to use an embedding layer. Does anything change in the model behavior (can look through partial dependence plots as one way to investigate).

##### **The next thing that we will be doing is trying to run the same on our dataset and try to fit a NN to it via tensorflow, but first we will try on the models given here**

In [ ]:
set(data_dt.E_COM_INDICATOR.astype('category').cat.codes)

{0, 1, 2, 3, 4, 5, 6}

In [ ]:
data_dt2 = data_dt.copy()
data_dt2

       TRANSACTION_CURRENCY   PD4  PD11  ...   C_20    ECOM_INFO E_COM_INDICATOR
0                   CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05
1                   CURR356  ATC9  TOC1  ...  T0797  AXASK05AEVV           ECI05
2                   CURR356  ATC9  TOC1  ...  T0537  AXASK05AEVV           ECI05
3                   CURR356  ATC9  TOC1  ...  T0796  AXASK05AEVV           ECI05
4                   CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05
...                     ...   ...   ...  ...    ...          ...             ...
105266              CURR356  ATCX  TOCX  ...  T0011  ECOM_INFONA           ECINA
105267              CURR356  ATC0  TOC0  ...  T0011  ECOM_INFONA           ECINA
105268              CURR356  ATCX  TOCX  ...  T0011  ECOM_INFONA           ECINA
105269              CURR356  ATC0  TOC0  ...  T0011  ECOM_INFONA           ECINA
105270              CURR356  ATCX  TOCX  ...  T0011            T           ECINA

[105271 rows x 44 columns]

In [ ]:
# So what we will be doing here is that other than the float columns we will be converting all the other columns necessarily to numeric encodings
float_cols = []
for col in data_dt2.columns:
  if data_dt2[col].dtype == 'float64':
    float_cols.append(col)

print(float_cols)
data_dt2 = data_dt2.drop(float_cols,axis=1)
data_dt2.head()
#data_dt_custom = data_dt[[x for x in data_dt.columns if x not in ['CONVERSION_RATE_DATE','CARD_ACCEPTOR_ID','AUTHORIZATION_CODE','TARGET']]]
#data_dt_custom.head()

['BILLING_AMOUNT', 'TRANSACTION_AMOUNT', 'SETTLEMENT_AMOUNT']

  TRANSACTION_CURRENCY   PD4  PD11  ...   C_20    ECOM_INFO E_COM_INDICATOR
0              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05
1              CURR356  ATC9  TOC1  ...  T0797  AXASK05AEVV           ECI05
2              CURR356  ATC9  TOC1  ...  T0537  AXASK05AEVV           ECI05
3              CURR356  ATC9  TOC1  ...  T0796  AXASK05AEVV           ECI05
4              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05

[5 rows x 41 columns]

In [ ]:
y = data_dt2.E_COM_INDICATOR

In [ ]:
# Categorical columns
cat_columns = [col for col in data_dt2.columns if col != 'E_COM_INDICATOR']
cat_columns

['TRANSACTION_CURRENCY',
 'PD4',
 'PD11',
 'PROC_CODE_12',
 'PD8',
 'MCC',
 'POS_ENTRY_MODE',
 'SERVICE_CODE',
 'TRANSACTION_LOCAL_DATE',
 'TRANSMISSION_DATE_TIME',
 'RESPONSE_DATE_TIME',
 'PAN',
 'VALID_FROM',
 'EXPIRY_DATE',
 'PROC_CODE_34',
 'PROC_CODE_56',
 'PD1',
 'PD2',
 'PD3',
 'PD5',
 'PD6',
 'PD7',
 'PD9',
 'PD10',
 'PD12',
 'BILLING_CURRENCY',
 'CONVERSION_RATE_DATE',
 'SETTLEMENT_CURRENCY',
 'SETTLEMENT_DATE',
 'ACQUIRING_COUNTRY_CODE',
 'CARD_ACCEPTOR_TERM_ID',
 'CARD_ACCEPTOR_ID',
 'CARD_ACC_NAME_ADDRESS',
 'AUTHORIZATION_CODE',
 'DECISION',
 'TARGET',
 'C_100',
 'C_40',
 'C_20',
 'ECOM_INFO']

In [ ]:
# Coverting the rest to strings and one hot encoding them
# data_dt_custom = pd.DataFrame()
# encoder = OneHotEncoder(sparse=False)
# for col in data_dt2:
#   if col != 'E_COM_INDICATOR':
#     data_temp = data_dt2[[col]]
#     encoder.fit(data_temp.astype('str'))
#     temp = encoder.transform(data_temp.astype('str'))
#     temp = pd.DataFrame(temp,columns=[(col+"_"+str(i)) for i in data_dt2[col].value_counts().index])
#     temp = temp.set_index(data_dt2.index.values)
#     data_dt_custom = pd.concat([data_dt_custom,temp],axis=1)

# data_dt_custom = pd.concat([data_dt_custom,data_dt[float_cols]],axis=1)
# data_dt_custom.head()

In [ ]:
data_dt_custom = data_dt2.copy()
for col in float_cols:
  data_dt_custom[col] = data_dt[col]
input_columns = [x for x in data_dt_custom.columns if x != 'E_COM_INDICATOR']
input_columns

['TRANSACTION_CURRENCY',
 'PD4',
 'PD11',
 'PROC_CODE_12',
 'PD8',
 'MCC',
 'POS_ENTRY_MODE',
 'SERVICE_CODE',
 'TRANSACTION_LOCAL_DATE',
 'TRANSMISSION_DATE_TIME',
 'RESPONSE_DATE_TIME',
 'PAN',
 'VALID_FROM',
 'EXPIRY_DATE',
 'PROC_CODE_34',
 'PROC_CODE_56',
 'PD1',
 'PD2',
 'PD3',
 'PD5',
 'PD6',
 'PD7',
 'PD9',
 'PD10',
 'PD12',
 'BILLING_CURRENCY',
 'CONVERSION_RATE_DATE',
 'SETTLEMENT_CURRENCY',
 'SETTLEMENT_DATE',
 'ACQUIRING_COUNTRY_CODE',
 'CARD_ACCEPTOR_TERM_ID',
 'CARD_ACCEPTOR_ID',
 'CARD_ACC_NAME_ADDRESS',
 'AUTHORIZATION_CODE',
 'DECISION',
 'TARGET',
 'C_100',
 'C_40',
 'C_20',
 'ECOM_INFO',
 'BILLING_AMOUNT',
 'TRANSACTION_AMOUNT',
 'SETTLEMENT_AMOUNT']

In [ ]:
len(input_columns)

43

In [ ]:
data_dt_custom['E_COM_INDICATOR'].head()

0    ECI05
1    ECI05
2    ECI05
3    ECI05
4    ECI05
Name: E_COM_INDICATOR, dtype: object

In [ ]:
from sklearn.preprocessing import LabelEncoder

# creating instance of labelencoder
labelencoder = LabelEncoder()

# Assigning numerical values and storing in another column
num_target = labelencoder.fit_transform(data_dt_custom['E_COM_INDICATOR'])

In [ ]:
data_dt_custom['E_COM_INDICATOR'] = num_target

In [ ]:
data_dt_custom['E_COM_INDICATOR'].head()

0    3
1    3
2    3
3    3
4    3
Name: E_COM_INDICATOR, dtype: int64

In [ ]:
# Setting the dataframe to be our dataset now
df = data_dt_custom
# Set the column in the dataset you wish for the model to predict
label_column = 'E_COM_INDICATOR'

# Make the label column numeric (0 and 1), for use in our model.
# In this case, examples with a target value of '>50K' are considered to be in
# the '1' (positive) class and all other examples are considered to be in the
# '0' (negative) class.
#make_label_column_numeric(df, label_column, lambda val: val == '>50K') #Designed for label column to have two types of categories only

#data_dt2[label_column] = df.E_COM_INDICATOR.astype('category').cat.codes

# Set list of all columns from the dataset we will use for model input.
input_features = [x for x in df.columns if x != 'E_COM_INDICATOR']

# Create a list containing all input features and the label column
features_and_labels = input_features + [label_column]

In [ ]:

# Takes some time, please be patient
examples = df_to_examples(data_dt_custom)

In [ ]:
num_steps = 2000  #@param {type: "number"}

# Create a feature spec for the classifier
feature_spec = create_feature_spec(data_dt_custom, features_and_labels)

# Define and train the classifier
train_inpf = functools.partial(tfexamples_input_fn, examples, feature_spec, label_column)

In [ ]:
# Takes some time, please be patient
classifier = tf.estimator.LinearClassifier(
    feature_columns=create_feature_columns(input_features, feature_spec),n_classes=7)
# Define and train the classifier
train_inpf = functools.partial(tfexamples_input_fn, examples, feature_spec, label_column)
classifier.train(train_inpf, steps=num_steps)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp7ubpxdqb
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp7ubpxdqb', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:1666: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/feature_column/feature_column_v2.py:540: Layer.add_variable (from tensorflow.python.keras.engine.base_layer_v1) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/keras/optimizer_v2/ftrl.py:144: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp7ubpxdqb/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 1.9459102, step = 0
INFO:tensorflow:global_step/sec: 5.32729
INFO:tensorflow:loss = 40.93853, step = 100 (18.775 sec)
INFO:tensorflow:global_step/sec: 5.49004
INFO:tensorflow:loss = 184.63843, step = 200 (18.214 sec)
INFO:tensorflow:global_step/sec: 5.47105
INFO:tensorflow:loss = 0.25604066, step = 300 (18.278 sec)
INFO:tensorflow:global_step/sec: 5.45081
INFO:tensorflow:loss = 1026.3728, step = 400 (18.347 sec)
INFO:tensorflow:global_step/sec: 5.45417
INFO:tensorflow:loss = 0.019480176, step = 500 (18.332 sec)
INFO:tensorflow:global_step/sec: 5.44543
INFO:tensorflow:loss = 1.4965152, step = 600 (18.365 sec)
INFO:tensorflow:global_step/sec: 5.42127
INFO:tensorflow:loss = 63.226852, step = 700 (18.445 sec)
INFO:tensorflow:global_step/sec: 5.49284
INFO:tensorflow:loss = 56.399162, step = 800 (18.208 sec)
INFO:tensorflow:global_step/sec: 5.45508
INFO:tensorflow:loss = 1.9543631, step = 900 (18.330 sec)
INFO:tensorflow:global_step/sec: 5.44288
INFO:tensorflow:loss = 7.068266, step = 1000 (18.372 sec)
INFO:tensorflow:global_step/sec: 5.41963
INFO:tensorflow:loss = 0.0, step = 1100 (18.452 sec)
INFO:tensorflow:global_step/sec: 5.39467
INFO:tensorflow:loss = 0.5755583, step = 1200 (18.537 sec)
INFO:tensorflow:global_step/sec: 5.39151
INFO:tensorflow:loss = 8.061807, step = 1300 (18.547 sec)
INFO:tensorflow:global_step/sec: 5.33935
INFO:tensorflow:loss = 0.5884705, step = 1400 (18.732 sec)
INFO:tensorflow:global_step/sec: 5.33238
INFO:tensorflow:loss = 9.04901, step = 1500 (18.752 sec)
INFO:tensorflow:global_step/sec: 5.28703
INFO:tensorflow:loss = 68.466064, step = 1600 (18.916 sec)
INFO:tensorflow:global_step/sec: 5.13033
INFO:tensorflow:loss = 301.4988, step = 1700 (19.490 sec)
INFO:tensorflow:global_step/sec: 5.25766
INFO:tensorflow:loss = 1.503228, step = 1800 (19.020 sec)
INFO:tensorflow:global_step/sec: 5.22819
INFO:tensorflow:loss = 6.9050617, step = 1900 (19.127 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 2000...
INFO:tensorflow:Saving checkpoints for 2000 into /tmp/tmp7ubpxdqb/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 2000...
INFO:tensorflow:Loss for final step: 2.488742.

In [ ]:
num_steps_2 = 2000  #@param {type: "number"}

# Please be patient, takes some time
classifier2 = tf.estimator.DNNClassifier(
    feature_columns=create_feature_columns(input_features, feature_spec),n_classes=7,
    hidden_units=[128, 64, 32])
# Define and train the classifier
train_inpf = functools.partial(tfexamples_input_fn, examples, feature_spec, label_column)
classifier2.train(train_inpf, steps=num_steps_2)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmptprafu7_
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmptprafu7_', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmptprafu7_/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 34.668785, step = 0
INFO:tensorflow:global_step/sec: 1.92414
INFO:tensorflow:loss = 1.3820572, step = 100 (51.973 sec)
INFO:tensorflow:global_step/sec: 1.90266
INFO:tensorflow:loss = 1.0831306, step = 200 (52.560 sec)
INFO:tensorflow:global_step/sec: 1.88066
INFO:tensorflow:loss = 1.3901207, step = 300 (53.171 sec)
INFO:tensorflow:global_step/sec: 1.87197
INFO:tensorflow:loss = 1.6335506, step = 400 (53.419 sec)
INFO:tensorflow:global_step/sec: 1.85651
INFO:tensorflow:loss = 1.5049037, step = 500 (53.864 sec)
INFO:tensorflow:global_step/sec: 1.88345
INFO:tensorflow:loss = 1.749288, step = 600 (53.094 sec)
INFO:tensorflow:global_step/sec: 1.9033
INFO:tensorflow:loss = 0.9163426, step = 700 (52.543 sec)
INFO:tensorflow:global_step/sec: 1.86627
INFO:tensorflow:loss = 0.9946317, step = 800 (53.581 sec)
INFO:tensorflow:global_step/sec: 1.85942
INFO:tensorflow:loss = 0.75772905, step = 900 (53.779 sec)
INFO:tensorflow:global_step/sec: 1.89963
INFO:tensorflow:loss = 1.8070263, step = 1000 (52.643 sec)
INFO:tensorflow:global_step/sec: 1.85213
INFO:tensorflow:loss = 0.60252696, step = 1100 (53.994 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 1128...
INFO:tensorflow:Saving checkpoints for 1128 into /tmp/tmptprafu7_/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 1128...
INFO:tensorflow:global_step/sec: 1.81802
INFO:tensorflow:loss = 1.418972, step = 1200 (55.002 sec)
INFO:tensorflow:global_step/sec: 1.88942
INFO:tensorflow:loss = 0.9347272, step = 1300 (52.928 sec)
INFO:tensorflow:global_step/sec: 1.88607
INFO:tensorflow:loss = 0.8764671, step = 1400 (53.019 sec)
INFO:tensorflow:global_step/sec: 1.82954
INFO:tensorflow:loss = 0.6634668, step = 1500 (54.658 sec)
INFO:tensorflow:global_step/sec: 1.89781
INFO:tensorflow:loss = 1.2972641, step = 1600 (52.692 sec)
INFO:tensorflow:global_step/sec: 1.90544
INFO:tensorflow:loss = 8.36029, step = 1700 (52.481 sec)
INFO:tensorflow:global_step/sec: 1.89736
INFO:tensorflow:loss = 0.8848947, step = 1800 (52.706 sec)
INFO:tensorflow:global_step/sec: 1.90804
INFO:tensorflow:loss = 0.81682813, step = 1900 (52.411 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 2000...
INFO:tensorflow:Saving checkpoints for 2000 into /tmp/tmptprafu7_/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 2000...
INFO:tensorflow:Loss for final step: 1.1632231.

###### **Putting it through a customized neural network and comparing**
DNN Classifier is also a feed forward neural network where hidden_units gives the number of nodes in each of the respective hidden layers in order.

In [ ]:
# classifier2 = tf.estimator.DNNClassifier(
#     feature_columns=create_feature_columns(input_features, feature_spec),n_classes=7,
#     hidden_units=[128, 64, 32])

#Takes time (around one hour), please be patient, to reduce time reduce num_steps_3
num_steps_3 =2000
classifier3 = tf.estimator.DNNClassifier(
    hidden_units=[512], feature_columns=create_feature_columns(input_features, feature_spec),n_classes=7, optimizer='Adam', activation_fn=tf.nn.relu
    )
train_inpf = functools.partial(tfexamples_input_fn, examples, feature_spec, label_column)
classifier3.train(train_inpf, steps=num_steps_3)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp494v85sk
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp494v85sk', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': ClusterSpec({}), '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 0...
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 0...
INFO:tensorflow:loss = 83.93352, step = 0
INFO:tensorflow:global_step/sec: 0.538121
INFO:tensorflow:loss = 24.598652, step = 100 (185.833 sec)
INFO:tensorflow:global_step/sec: 0.535366
INFO:tensorflow:loss = 5.0206933, step = 200 (186.790 sec)
INFO:tensorflow:global_step/sec: 0.540032
INFO:tensorflow:loss = 0.3393153, step = 300 (185.173 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 322...
INFO:tensorflow:Saving checkpoints for 322 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 322...
INFO:tensorflow:global_step/sec: 0.457122
INFO:tensorflow:loss = 291.73773, step = 400 (218.771 sec)
INFO:tensorflow:global_step/sec: 0.537615
INFO:tensorflow:loss = 2.6774044, step = 500 (185.996 sec)
INFO:tensorflow:global_step/sec: 0.53457
INFO:tensorflow:loss = 0.0065587205, step = 600 (187.068 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 627...
INFO:tensorflow:Saving checkpoints for 627 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 627...
INFO:tensorflow:global_step/sec: 0.45466
INFO:tensorflow:loss = 1.3020728, step = 700 (219.951 sec)
INFO:tensorflow:global_step/sec: 0.534659
INFO:tensorflow:loss = 0.44807008, step = 800 (187.027 sec)
INFO:tensorflow:global_step/sec: 0.53365
INFO:tensorflow:loss = 3.7522392, step = 900 (187.390 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 930...
INFO:tensorflow:Saving checkpoints for 930 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 930...
INFO:tensorflow:global_step/sec: 0.447795
INFO:tensorflow:loss = 0.8156573, step = 1000 (223.323 sec)
INFO:tensorflow:global_step/sec: 0.523839
INFO:tensorflow:loss = 1.0343988, step = 1100 (190.890 sec)
INFO:tensorflow:global_step/sec: 0.531072
INFO:tensorflow:loss = 3.5489235, step = 1200 (188.301 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 1229...
INFO:tensorflow:Saving checkpoints for 1229 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 1229...
INFO:tensorflow:global_step/sec: 0.442661
INFO:tensorflow:loss = 0.005378404, step = 1300 (225.910 sec)
INFO:tensorflow:global_step/sec: 0.520769
INFO:tensorflow:loss = 1.6933453, step = 1400 (192.018 sec)
INFO:tensorflow:global_step/sec: 0.524811
INFO:tensorflow:loss = 0.17771132, step = 1500 (190.547 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 1525...
INFO:tensorflow:Saving checkpoints for 1525 into /tmp/tmp494v85sk/model.ckpt.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/training/saver.py:971: remove_checkpoint (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to delete files with this prefix.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 1525...
INFO:tensorflow:global_step/sec: 0.442763
INFO:tensorflow:loss = 1.0260564, step = 1600 (225.864 sec)
INFO:tensorflow:global_step/sec: 0.53228
INFO:tensorflow:loss = 399.5472, step = 1700 (187.859 sec)
INFO:tensorflow:global_step/sec: 0.529456
INFO:tensorflow:loss = 1.3699312, step = 1800 (188.875 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 1824...
INFO:tensorflow:Saving checkpoints for 1824 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 1824...
INFO:tensorflow:global_step/sec: 0.452873
INFO:tensorflow:loss = 0.41099995, step = 1900 (220.815 sec)
INFO:tensorflow:Calling checkpoint listeners before saving checkpoint 2000...
INFO:tensorflow:Saving checkpoints for 2000 into /tmp/tmp494v85sk/model.ckpt.
INFO:tensorflow:Calling checkpoint listeners after saving checkpoint 2000...
INFO:tensorflow:Loss for final step: 0.7838357.

##### Run commented out portion in two cells below to see the comparison in what-if tool between classifiers 1 and 3 and classifier 1 and 2 respectively.

In [ ]:
num_datapoints = 2000  
tool_height_in_px = 1000  

from witwidget.notebook.visualization import WitConfigBuilder
from witwidget.notebook.visualization import WitWidget



# Setup the tool with the test examples and the trained classifier

# config_builder = WitConfigBuilder(examples[0:num_datapoints]).set_estimator_and_feature_spec(
#     classifier, feature_spec).set_compare_estimator_and_feature_spec(
#     classifier3, feature_spec)
# a = WitWidget(config_builder, height=tool_height_in_px)

In [ ]:
num_datapoints = 2000  
tool_height_in_px = 1000  

from witwidget.notebook.visualization import WitConfigBuilder
from witwidget.notebook.visualization import WitWidget



# Setup the tool with the test examples and the trained classifier

# config_builder = WitConfigBuilder(examples[0:num_datapoints]).set_estimator_and_feature_spec(
#     classifier, feature_spec).set_compare_estimator_and_feature_spec(
#     classifier2, feature_spec)
# a = WitWidget(config_builder, height=tool_height_in_px)

##### **Putting it through any keras defined neural network model**
https://www.tensorflow.org/tutorials/load_data/pandas_dataframe
<br> look at following link.

In [ ]:
data_dt2.head()

  TRANSACTION_CURRENCY   PD4  PD11  ...   C_20    ECOM_INFO E_COM_INDICATOR
0              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05
1              CURR356  ATC9  TOC1  ...  T0797  AXASK05AEVV           ECI05
2              CURR356  ATC9  TOC1  ...  T0537  AXASK05AEVV           ECI05
3              CURR356  ATC9  TOC1  ...  T0796  AXASK05AEVV           ECI05
4              CURR356  ATC9  TOC1  ...  T0784  AXASK05AEVV           ECI05

[5 rows x 41 columns]

##### **Label Encoding of the categorical columns and the keeping the float columns as is**

In [ ]:
data_dt_custom2 = pd.DataFrame()
for col in data_dt2.columns:
  le = LabelEncoder()
  le.fit(data_dt2[col])
  data_dt_custom2[col] = le.transform(data_dt2[col])

for col in float_cols:
  data_dt_custom2[col] = data_dt[col]

data_dt_custom2.head()

   TRANSACTION_CURRENCY  PD4  ...  TRANSACTION_AMOUNT  SETTLEMENT_AMOUNT
0                    14    5  ...              147.84             145.22
1                    14    5  ...              399.00             391.94
2                    14    5  ...              247.20             242.82
3                    14    5  ...              359.00             352.65
4                    14    5  ...              188.00             183.81

[5 rows x 44 columns]

In [ ]:
data_dt_custom2.shape

(105271, 44)

In [ ]:
data_dt_custom2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105271 entries, 0 to 105270
Data columns (total 44 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   TRANSACTION_CURRENCY    105271 non-null  int64
 1   PD4                     105271 non-null  int64
 2   PD11                    105271 non-null  int64
 3   PROC_CODE_12            105271 non-null  int64
 4   PD8                     105271 non-null  int64
 5   MCC                     105271 non-null  int64
 6   POS_ENTRY_MODE          105271 non-null  int64
 7   SERVICE_CODE            105271 non-null  int64
 8   TRANSACTION_LOCAL_DATE  105271 non-null  int64
 9   TRANSMISSION_DATE_TIME  105271 non-null  int64
 10  RESPONSE_DATE_TIME      105271 non-null  int64
 11  PAN                     105271 non-null  int64
 12  VALID_FROM              105271 non-null  int64
 13  EXPIRY_DATE             105271 non-null  int64
 14  PROC_CODE_34            105271 non-null  int64
 15  PROC_CODE_56            105271 non-null  int64
 16  PD1                     105271 non-null  int64
 17  PD2                     105271 non-null  int64
 18  PD3                     105271 non-null  int64
 19  PD5                     105271 non-null  int64
 20  PD6                     105271 non-null  int64
 21  PD7                     105271 non-null  int64
 22  PD9                     105271 non-null  int64
 23  PD10                    105271 non-null  int64
 24  PD12                    105271 non-null  int64
 25  BILLING_CURRENCY        105271 non-null  int64
 26  CONVERSION_RATE_DATE    105271 non-null  int64
 27  SETTLEMENT_CURRENCY     105271 non-null  int64
 28  SETTLEMENT_DATE         105271 non-null  int64
 29  ACQUIRING_COUNTRY_CODE  105271 non-null  int64
 30  CARD_ACCEPTOR_TERM_ID   105271 non-null  int64
 31  CARD_ACCEPTOR_ID        105271 non-null  int64
 32  CARD_ACC_NAME_ADDRESS   105271 non-null  int64
 33  AUTHORIZATION_CODE      105271 non-null  int64
 34  DECISION                105271 non-null  int64
 35  TARGET                  105271 non-null  int64
 36  C_100                   105271 non-null  int64
 37  C_40                    105271 non-null  int64
 38  C_20                    105271 non-null  int64
 39  ECOM_INFO               105271 non-null  int64
 40  E_COM_INDICATOR         105271 non-null  int64
 41  BILLING_AMOUNT          105271 non-null  float64
 42  TRANSACTION_AMOUNT      105271 non-null  float64
 43  SETTLEMENT_AMOUNT       105271 non-null  float64
dtypes: float64(3), int64(41)
memory usage: 35.3 MB

In [ ]:
data_dt_custom2.head()

   TRANSACTION_CURRENCY  PD4  ...  TRANSACTION_AMOUNT  SETTLEMENT_AMOUNT
0                    14    5  ...              147.84             145.22
1                    14    5  ...              399.00             391.94
2                    14    5  ...              247.20             242.82
3                    14    5  ...              359.00             352.65
4                    14    5  ...              188.00             183.81

[5 rows x 44 columns]

In [ ]:
target = data_dt_custom2.pop('E_COM_INDICATOR')

#### **Method 1**

In [ ]:
dataset = tf.data.Dataset.from_tensor_slices((data_dt_custom2.values, target.values))

In [ ]:
for feat, targ in dataset.take(1):
  print(type(feat))
  print(type(targ))

<class 'tensorflow.python.framework.ops.EagerTensor'>
<class 'tensorflow.python.framework.ops.EagerTensor'>

In [ ]:
for feat, targ in dataset.take(5):
  print ('Features: {}, Target: {}'.format(feat, targ))

Features: [1.4000e+01 5.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00 2.5800e+02
 1.4000e+01 6.0000e+00 9.0000e+00 0.0000e+00 0.0000e+00 9.3400e+02
 2.8389e+04 1.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00
 0.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00 2.9000e+01
 4.0758e+04 2.7991e+04 5.5640e+03 7.0860e+04 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 5.9400e+02 2.1702e+04 1.4784e+02 1.4784e+02
 1.4522e+02], Target: 3
Features: [1.4000e+01 5.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00 1.0000e+02
 1.4000e+01 6.0000e+00 1.0000e+01 1.0000e+00 1.0000e+00 8.7500e+02
 7.5150e+03 1.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00
 0.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00 2.9000e+01
 4.0758e+04 2.7698e+04 2.8286e+04 1.6588e+04 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 6.0200e+02 2.1702e+04 3.9900e+02 3.9900e+02
 3.9194e+02], Target: 3
Features: [1.4000e+01 5.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00 2.5800e+02
 1.4000e+01 6.0000e+00 1.1000e+01 2.0000e+00 2.0000e+00 4.9200e+02
 2.9510e+03 4.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00
 0.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00 2.9000e+01
 4.0758e+04 2.7991e+04 5.5640e+03 5.9898e+04 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 4.1900e+02 2.1702e+04 2.4720e+02 2.4720e+02
 2.4282e+02], Target: 3
Features: [1.4000e+01 5.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00 2.5800e+02
 1.4000e+01 6.0000e+00 1.2000e+01 3.0000e+00 3.0000e+00 5.2900e+02
 2.6953e+04 4.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00
 0.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00 2.9000e+01
 4.0758e+04 2.7991e+04 5.5640e+03 5.9907e+04 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 6.0100e+02 2.1702e+04 3.5900e+02 3.5900e+02
 3.5265e+02], Target: 3
Features: [1.4000e+01 5.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00 2.1700e+02
 1.4000e+01 6.0000e+00 1.5000e+01 6.0000e+00 5.0000e+00 9.6100e+02
 4.3447e+04 1.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00
 0.0000e+00 4.0000e+00 0.0000e+00 1.0000e+00 0.0000e+00 0.0000e+00
 0.0000e+00 1.0000e+00 0.0000e+00 1.0000e+00 1.0000e+00 2.9000e+01
 4.0758e+04 2.7548e+04 2.8293e+04 2.7344e+04 0.0000e+00 0.0000e+00
 0.0000e+00 0.0000e+00 5.9400e+02 2.1702e+04 1.8800e+02 1.8800e+02
 1.8381e+02], Target: 3

In [ ]:
train_dataset = dataset.shuffle(len(data_dt_custom2)).batch(32)

In [ ]:
def get_compiled_model():
  model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(input_shape=(43,)),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(7, activation='softmax')
  ])

  model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])
  return model

In [ ]:
model = get_compiled_model()
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten (Flatten)            (None, 43)                0
_________________________________________________________________
dense_1 (Dense)              (None, 512)               22528
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_2 (Dense)              (None, 7)                 3591
=================================================================
Total params: 26,119
Trainable params: 26,119
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(train_dataset, epochs=15)

Epoch 1/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7617 - accuracy: 0.7775
Epoch 2/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7620 - accuracy: 0.7795
Epoch 3/15
3290/3290 [==============================] - 8s 2ms/step - loss: 0.8394 - accuracy: 0.7806
Epoch 4/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7463 - accuracy: 0.7821
Epoch 5/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7471 - accuracy: 0.7827
Epoch 6/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7535 - accuracy: 0.7798
Epoch 7/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7557 - accuracy: 0.7805
Epoch 8/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7589 - accuracy: 0.7781
Epoch 9/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7490 - accuracy: 0.7805
Epoch 10/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7603 - accuracy: 0.7765
Epoch 11/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7510 - accuracy: 0.7850
Epoch 12/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7326 - accuracy: 0.7859
Epoch 13/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7569 - accuracy: 0.7804
Epoch 14/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7497 - accuracy: 0.7814
Epoch 15/15
3290/3290 [==============================] - 7s 2ms/step - loss: 0.7459 - accuracy: 0.7827

##### Run commented out portion in cell below to see what if tool visualization

In [ ]:
num_datapoints = 2000  
tool_height_in_px = 1000  

from witwidget.notebook.visualization import WitConfigBuilder
from witwidget.notebook.visualization import WitWidget



# Setup the tool with the test examples and the trained classifier

# config_builder = WitConfigBuilder(examples[0:num_datapoints]).set_estimator_and_feature_spec(
#     model, feature_spec)
# a = WitWidget(config_builder, height=tool_height_in_px)

#### **Method 2**

In [ ]:
inputs = {key: tf.keras.layers.Input(shape=(), name=key) for key in data_dt_custom2.keys()}
x = tf.stack(list(inputs.values()), axis=-1)

x = tf.keras.layers.Dense(512, activation='relu')(x)
x = tf.keras.layers.Dropout(0.2)(x)
output = tf.keras.layers.Dense(7, activation = 'softmax')(x)

model_func = tf.keras.Model(inputs=inputs, outputs=output)

model_func.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

In [ ]:
dict_slices = tf.data.Dataset.from_tensor_slices((data_dt_custom2.to_dict('series'), target.values)).batch(32)
for dict_slice in dict_slices.take(1):
  print (dict_slice)

({'TRANSACTION_CURRENCY': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14])>, 'PD4': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
       5, 5, 5, 5, 5, 5, 5, 5, 5, 5])>, 'PD11': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])>, 'PROC_CODE_12': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD8': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'MCC': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([258, 100, 258, 258, 217, 217, 258, 217, 100, 258, 217, 146, 217,
        95, 217,  95, 103, 217, 217,  95,  95, 258,  95, 217,  93, 100,
        95, 258, 258, 217, 103, 217])>, 'POS_ENTRY_MODE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14,
       14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14])>, 'SERVICE_CODE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6,
       6, 6, 6, 6, 6, 6, 6, 6, 6, 6])>, 'TRANSACTION_LOCAL_DATE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([  9,  10,  11,  12,  15,  16,  18,  20,  23,  27,  28,  29,  31,
        32,  64,  69,  71,  95, 109, 118, 119, 127, 130, 132, 133, 135,
       141, 143, 155, 158, 181, 201])>, 'TRANSMISSION_DATE_TIME': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([  0,   1,   2,   3,   6,   7,   8,  10,  13,  17,  18,  19,  21,
        22,  48,  52,  53,  76,  78,  82,  83,  86,  87,  88,  89,  91,
        92,  93,  95,  96, 100, 103])>, 'RESPONSE_DATE_TIME': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([ 0,  1,  2,  3,  5,  6,  7,  9, 12, 15, 16, 17, 19, 20, 40, 44, 45,
       66, 68, 72, 73, 76, 77, 78, 79, 81, 82, 83, 85, 86, 89, 90])>, 'PAN': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([ 934,  875,  492,  529,  961, 1349,  690,  941,  796,  687,   94,
        130, 1372, 1406,  800,  100, 1145,  896,  753,  646, 1028, 1296,
        646,  305, 1170,  207,  646,  680,  678,  646,  120,  715])>, 'VALID_FROM': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([28389,  7515,  2951, 26953, 43447, 17378, 19134, 36432, 14116,
       17880, 20043, 25862, 29336, 30730, 20746, 21537, 25787, 17234,
       47020, 35679, 12096, 23861, 35679, 11930, 34913, 38275, 35679,
       16497, 15241, 35679, 25852, 31694])>, 'EXPIRY_DATE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([ 1,  1,  4,  4,  1,  4, 47,  1, 60, 47, 20, 20, 70, 55, 67, 20, 17,
        1, 84, 55, 52, 78, 55, 36, 90, 20, 55, 47, 47, 55, 20, 92])>, 'PROC_CODE_34': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4])>, 'PROC_CODE_56': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD1': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])>, 'PD2': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD3': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD5': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 1, 4, 1, 1, 4, 4, 4, 4, 4,
       4, 1, 1, 4, 4, 4, 4, 4, 4, 4])>, 'PD6': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD7': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])>, 'PD9': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD10': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'PD12': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'BILLING_CURRENCY': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])>, 'CONVERSION_RATE_DATE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'SETTLEMENT_CURRENCY': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])>, 'SETTLEMENT_DATE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1])>, 'ACQUIRING_COUNTRY_CODE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29,
       29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29])>, 'CARD_ACCEPTOR_TERM_ID': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([40758, 40758, 40758, 40758, 40758, 40758, 40758, 40758, 40758,
       40758, 40758, 40758, 40758, 40758, 40758, 40758, 40758, 40758,
       40758, 40758, 40758, 40758, 40758, 40758, 40758, 40758, 40758,
       40758, 40758, 40758, 40758, 40758])>, 'CARD_ACCEPTOR_ID': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([27991, 27698, 27991, 27991, 27548, 27477, 27991, 27548, 27966,
       27991, 27534, 27555, 27548, 27924, 27548, 27924, 27975, 27548,
       28043, 27875, 27875, 27991, 27875, 27549, 27763, 27698, 27875,
       27991, 27991, 27477, 28143, 28122])>, 'CARD_ACC_NAME_ADDRESS': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([ 5564, 28286,  5564,  5564, 28293, 38784,  5564, 28293,  5252,
        5564, 29397, 43057, 28293, 28291, 28293, 28291, 42806, 28293,
       28294, 23012, 23012,  5564, 23012, 28290, 16013, 28286, 23012,
        5564,  5564, 38784,  5255, 28309])>, 'AUTHORIZATION_CODE': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([70860, 16588, 59898, 59907, 27344, 81555, 16644, 38255, 27380,
       70947,    65, 27395, 59977, 59978, 16766, 27475, 49204, 38402,
       81653, 38430, 71135, 16849, 27589, 71147,   144, 60168, 71155,
       27600, 27608, 27610, 60215, 60236])>, 'DECISION': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'TARGET': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'C_100': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'C_40': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0])>, 'C_20': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([594, 602, 419, 601, 594, 687, 791, 419, 539, 791, 602, 602, 687,
       687, 602, 791, 293, 601, 687, 601, 601, 594, 601,  19, 686,  33,
       601, 793, 792, 601, 601, 459])>, 'ECOM_INFO': <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([21702, 21702, 21702, 21702, 21702, 21702, 21702, 21702, 21702,
       21702, 21702, 21702, 21702, 21702, 21702, 21702, 21702, 21702,
       21702, 21702, 21702, 21702, 21702, 21702, 21702, 21702, 21702,
       21702, 21702, 21702, 21702, 21702])>, 'BILLING_AMOUNT': <tf.Tensor: shape=(32,), dtype=float64, numpy=
array([  147.84,   399.  ,   247.2 ,   359.  ,   188.  ,   327.  ,
         689.12,   140.  ,   147.86,   449.12,   330.  ,    77.97,
       12000.  ,   210.  ,  2500.  ,   447.  ,  1521.68,   349.  ,
         656.  ,  1226.  , 16465.  ,   162.68,  1226.  ,   162.04,
         600.  ,    41.74,  1281.  ,   243.92,   221.2 ,   500.  ,
       12079.6 ,   999.  ])>, 'TRANSACTION_AMOUNT': <tf.Tensor: shape=(32,), dtype=float64, numpy=
array([  147.84,   399.  ,   247.2 ,   359.  ,   188.  ,   327.  ,
         689.12,   140.  ,   147.86,   449.12,   330.  ,    77.97,
       12000.  ,   210.  ,  2500.  ,   447.  ,  1521.68,   349.  ,
         656.  ,  1226.  , 16465.  ,   162.68,  1226.  ,   162.04,
         600.  ,    41.74,  1281.  ,   243.92,   221.2 ,   500.  ,
       12079.6 ,   999.  ])>, 'SETTLEMENT_AMOUNT': <tf.Tensor: shape=(32,), dtype=float64, numpy=
array([  145.22,   391.94,   242.82,   352.65,   183.81,   319.71,
         676.92,   136.88,   145.24,   441.17,   322.64,    76.14,
       11732.4 ,   206.07,  2444.25,   438.64,  1495.81,   341.22,
         641.37,  1203.07, 16157.1 ,   159.8 ,  1203.07,   158.43,
         586.56,    41.  ,  1257.05,   239.6 ,   217.28,   488.85,
       11874.25,   976.72])>}, <tf.Tensor: shape=(32,), dtype=int64, numpy=
array([3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3])>)

In [ ]:
model_func.fit(dict_slices, epochs=15)

Epoch 1/15
3290/3290 [==============================] - 12s 4ms/step - loss: 237.5882 - accuracy: 0.7980
Epoch 2/15
3290/3290 [==============================] - 14s 4ms/step - loss: 35.8946 - accuracy: 0.7634
Epoch 3/15
3290/3290 [==============================] - 12s 4ms/step - loss: 15.2633 - accuracy: 0.7937
Epoch 4/15
3290/3290 [==============================] - 12s 4ms/step - loss: 5.9931 - accuracy: 0.7680
Epoch 5/15
3290/3290 [==============================] - 12s 4ms/step - loss: 3.5384 - accuracy: 0.7875
Epoch 6/15
3290/3290 [==============================] - 12s 4ms/step - loss: 3.4485 - accuracy: 0.7883
Epoch 7/15
3290/3290 [==============================] - 12s 4ms/step - loss: 6.4816 - accuracy: 0.7949
Epoch 8/15
3290/3290 [==============================] - 12s 4ms/step - loss: 6.4777 - accuracy: 0.7929
Epoch 9/15
3290/3290 [==============================] - 12s 4ms/step - loss: 4.1959 - accuracy: 0.7975
Epoch 10/15
3290/3290 [==============================] - 12s 4ms/step - loss: 1.5352 - accuracy: 0.7744
Epoch 11/15
3290/3290 [==============================] - 12s 4ms/step - loss: 2.9596 - accuracy: 0.7943
Epoch 12/15
3290/3290 [==============================] - 12s 4ms/step - loss: 6.2638 - accuracy: 0.7813
Epoch 13/15
3290/3290 [==============================] - 12s 4ms/step - loss: 1.8153 - accuracy: 0.7798
Epoch 14/15
3290/3290 [==============================] - 12s 4ms/step - loss: 1.0889 - accuracy: 0.7855
Epoch 15/15
3290/3290 [==============================] - 12s 3ms/step - loss: 1.9780 - accuracy: 0.7882

##### Run commented out portion in cell below to see what if tool visualization

In [ ]:
num_datapoints = 2000  
tool_height_in_px = 1000  

from witwidget.notebook.visualization import WitConfigBuilder
from witwidget.notebook.visualization import WitWidget



# Setup the tool with the test examples and the trained classifier

# config_builder = WitConfigBuilder(examples[0:num_datapoints]).set_estimator_and_feature_spec(
#     model_func, feature_spec)
# a = WitWidget(config_builder, height=tool_height_in_px)

In [ ]:
feature_spec

{'ACQUIRING_COUNTRY_CODE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'AUTHORIZATION_CODE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'BILLING_AMOUNT': FixedLenFeature(shape=(), dtype=tf.float32, default_value=None),
 'BILLING_CURRENCY': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'CARD_ACCEPTOR_ID': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'CARD_ACCEPTOR_TERM_ID': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'CARD_ACC_NAME_ADDRESS': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'CONVERSION_RATE_DATE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'C_100': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'C_20': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'C_40': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'DECISION': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'ECOM_INFO': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'EXPIRY_DATE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'E_COM_INDICATOR': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None),
 'MCC': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PAN': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD1': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD10': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD11': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD12': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD2': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD3': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD4': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD5': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD6': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD7': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD8': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PD9': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'POS_ENTRY_MODE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PROC_CODE_12': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PROC_CODE_34': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'PROC_CODE_56': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'RESPONSE_DATE_TIME': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'SERVICE_CODE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'SETTLEMENT_AMOUNT': FixedLenFeature(shape=(), dtype=tf.float32, default_value=None),
 'SETTLEMENT_CURRENCY': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'SETTLEMENT_DATE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'TARGET': FixedLenFeature(shape=(), dtype=tf.int64, default_value=None),
 'TRANSACTION_AMOUNT': FixedLenFeature(shape=(), dtype=tf.float32, default_value=None),
 'TRANSACTION_CURRENCY': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'TRANSACTION_LOCAL_DATE': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'TRANSMISSION_DATE_TIME': FixedLenFeature(shape=(), dtype=tf.string, default_value=None),
 'VALID_FROM': FixedLenFeature(shape=(), dtype=tf.string, default_value=None)}

In [ ]:
type(examples[0])

tensorflow.core.example.example_pb2.Example

### **ROUGH WORK**

In [ ]:
label_column = 'E_COM_INDICATOR'
input_columns = [x for x in data_dt_custom2.columns if x != 'E_COM_INDICATOR']
input_columns

['TRANSACTION_CURRENCY',
 'PD4',
 'PD11',
 'PROC_CODE_12',
 'PD8',
 'MCC',
 'POS_ENTRY_MODE',
 'SERVICE_CODE',
 'TRANSACTION_LOCAL_DATE',
 'TRANSMISSION_DATE_TIME',
 'RESPONSE_DATE_TIME',
 'PAN',
 'VALID_FROM',
 'EXPIRY_DATE',
 'PROC_CODE_34',
 'PROC_CODE_56',
 'PD1',
 'PD2',
 'PD3',
 'PD5',
 'PD6',
 'PD7',
 'PD9',
 'PD10',
 'PD12',
 'BILLING_CURRENCY',
 'CONVERSION_RATE_DATE',
 'SETTLEMENT_CURRENCY',
 'SETTLEMENT_DATE',
 'ACQUIRING_COUNTRY_CODE',
 'CARD_ACCEPTOR_TERM_ID',
 'CARD_ACCEPTOR_ID',
 'CARD_ACC_NAME_ADDRESS',
 'AUTHORIZATION_CODE',
 'DECISION',
 'TARGET',
 'C_100',
 'C_40',
 'C_20',
 'ECOM_INFO',
 'BILLING_AMOUNT',
 'TRANSACTION_AMOUNT',
 'SETTLEMENT_AMOUNT']

In [ ]:
import datetime

# Dividing the data into train_test_split
X = np.asarray(data_dt_custom[input_columns])
y = np.asarray(data_dt_custom[label_column])
#y = np.array(data_dt_final.loc[:,'TARGET'])
print(X.shape)
print(y.shape)

(105271, 43)
(105271,)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, shuffle=True)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(94743, 43)
(10528, 43)
(94743,)
(10528,)

In [ ]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Flatten(input_shape=(43,)),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(7, activation='softmax')
  ])

In [ ]:
#model = create_model()
model.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
flatten (Flatten)            (None, 43)                0
_________________________________________________________________
dense (Dense)                (None, 512)               22528
_________________________________________________________________
dropout (Dropout)            (None, 512)               0
_________________________________________________________________
dense_1 (Dense)              (None, 7)                 3591
=================================================================
Total params: 26,119
Trainable params: 26,119
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import tempfile
model_dir = tempfile.mkdtemp()
keras_estimator = tf.keras.estimator.model_to_estimator(
    keras_model=model, model_dir=model_dir)

In [ ]:
keras_estimator.train(input_fn)

TypeError: ignored

In [ ]:
set(data['E_COM_INDICATOR'])

In [ ]:
label_col = 'E_COM_INDICATOR'

In [ ]:
cols = [col for col in data.columns if col not in [label_col]]
X = data[cols]
y = data[label_col]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1)

In [ ]:
sns.countplot(data['E_COM_INDICATOR'])

In [ ]:
callback = tf.keras.callbacks.EarlyStopping(monitor='val_loss', patience=20,mode="auto")
Regularizer = l2(0.001)

##### **Fitting of InceptionV3**

In [ ]:
IMG_HEIGHT = 299
IMG_WIDTH = 299
incep_v3 = InceptionV3(include_top=False, weights='imagenet', input_shape=(IMG_HEIGHT,IMG_WIDTH,3))
incep_v3.trainable = False

output = incep_v3.output
output = Flatten()(output)
output = Dense(100,activation='relu',activity_regularizer=Regularizer, kernel_regularizer=Regularizer)(output)
output = Dense(100,activation='relu',activity_regularizer=Regularizer, kernel_regularizer=Regularizer)(output)
incep_v3_out = Dense(15,activation='softmax',activity_regularizer=Regularizer, kernel_regularizer=Regularizer)(output)

model_v3 = Model(inputs=incep_v3.input,outputs=incep_v3_out)

# for layer in resnet.layers:
#     layer.trainable = False
model_v3.summary()

In [ ]:
#resnet.trainable = False
# model1 = Sequential()
# model1.add(resnet)
# model1.add(Dense(15, activation='softmax',activity_regularizer=Regularizer, kernel_regularizer=Regularizer))

INIT_LR = 1e-6
BS = 32
#NUM_EPOCHS = 10
#opt = SGD(lr=INIT_LR, momentum=0.9, decay=INIT_LR / NUM_EPOCHS)
opt = Adam(learning_rate=INIT_LR) #, beta_1=0.9, beta_2=0.999, amsgrad=False)
model_v3.compile(loss="categorical_crossentropy", optimizer=opt,
	metrics=["accuracy"])

# print(model1.summary())

In [ ]:
import graphviz 
#from tensorflow.keras.utils.vis_utils import plot_model
from tensorflow.keras.utils import  plot_model
plot_model(model_v3, show_shapes=True, show_layer_names=True)